[2016-10-04 09:57] ginold commented on #614
@tsauerwein  i added a few lines of code that will copy the needed skins. Is it enough to only change this in the makefile and it will be executed automatically ?

[2016-10-04 10:58] tsauerwein commented on #614
No, the new target `photoswipe-skins` that you have created must be set as the dependency of another target (for example of the target `less`). This is a good introduction for Makefiles: https://www.smashingmagazine.com/2015/10/building-web-applications-with-make/

[2016-10-04 20:13] shortoland commented on #679
@asaunier I would say yes. But I did not find the detailed legend for criteria in the google doc.

[2016-10-04 20:36] shortoland opened #683 "Display issue when editing a route or entering a new route"
When editing a route, there is a display issue in chapter "Configuration":

![image1](https://cloud.githubusercontent.com/assets/20488365/19091424/d555bf34-8a82-11e6-9c32-2b588ab7aaff.png)

I am wondering if Loic already reported this, but I cannot find anything.

[2016-10-04 21:30] asaunier commented on #551
Not fixed at all, at least in the demo.

[2016-10-04 21:34] asaunier commented on #616
I'm not the good person to do this. @ginold has worked on such changes in the past.

[2016-10-04 21:39] asaunier commented on #670
I don't understand. Do we really use square thumbnails ("SI" images)? I thought carousel thumbnails kept the proportions of original images? Don't they?

[2016-10-04 21:40] asaunier commented on #670
Please don't mark an issue as fixed until the related PR is merged.

[2016-10-04 21:42] asaunier commented on #640
Yes

[2016-10-04 21:50] asaunier commented on #679
Those attributes are not to be used has filter criterias according to https://docs.google.com/spreadsheets/d/1LTE1UIjsDTdZauDgR4rKe2UCtXF6LG-ELH53Qwy1nmI/edit#gid=1455968768 which is the revised document we used.

Anyway who need to search a hut filtering on the blanket info? That kind of information is a secondary information that you use to adapt your gear after selecting the hut.

[2016-10-04 21:53] asaunier commented on #683
Yes, it's a duplicate of https://github.com/c2corg/v6_ui/issues/617

[2016-10-04 21:53] #683 closed

[2016-10-05 06:42] ginold commented on #670
Gallery thumbnails -> square SI (natural 120x120 stretched up to 150x150)
click on thumbnail -> open gallery with BI

[2016-10-05 08:13] asaunier opened #685 "Map problems with IE"
Testing IE11/Win7 (with Browserstack) the following problems are observed in maps:
## Detail view page
- [ ] except OSM (because it's the default one?), no other baselayer (Bing, Esri, IGN, Swisstopo) can be loaded => the map remains blank (it seems there is a JS error that makes the switch crash - "indexSizeError")
- [ ] SVG icons are not displayed on the map (one only sees the white background d

[2016-10-05 08:16] tsauerwein commented on #685
Some of the map problems could be related to https://github.com/c2corg/v6_ui/issues/612

[2016-10-05 08:19] asaunier commented on #685
Changing the baselayer in the editing form maps works as expected.

[2016-10-05 08:20] asaunier opened #686 "Lang selector incorrecly rendered with IE"
Tested with IE11/Win7 on browserstack:
- [x] the lang selector dropdown is displayed partially outside of the page frame:
  ![sans titre](https://cloud.githubusercontent.com/assets/1192331/19106008/5f658936-8ae5-11e6-869c-0fc1a99d3a3d.png)

[2016-10-05 09:04] #671 closed

[2016-10-05 09:13] #551 closed

[2016-10-05 09:13] #612 closed

[2016-10-05 09:59] asaunier opened #687 "Minor problems with recent changes"
@ginold I have noticed a few minor problems with recent changes (I should have noticed them while reviewing :P):
* [x] instead of introducing some new strings for the tooltip of the "add" buttons in the index pages like "Add a new route" (see https://github.com/c2corg/v6_ui/blob/master/c2corg_ui/templates/route/index.html#L40) it would be better to reuse the string already available like "Create a

[2016-10-05 10:07] ginold commented on #687
one doesn't have <a> tag because it's a `protected-btn-directive` so it takes care of redirecting, whereas the other one is a normal link. If i wanted to write 1st <button> and 2nd only <a> i would have to style them accordingly.

[2016-10-05 10:09] asaunier commented on #687
OK, thanks for the explanation :)

[2016-10-05 10:19] asaunier commented on #594
That's not critical but the more we wait, the more those tools will be used (when adding new document types such as articles, books, areas, etc.) => more changes to do later.

[2016-10-05 10:55] #687 closed

[2016-10-05 10:55] #616 closed

[2016-10-05 10:56] asaunier commented on #670
OK thanks.

It means the thumbnails should be regenerated at the correct size. See https://github.com/c2corg/v6_images/issues/6

[2016-10-05 11:16] #670 closed

[2016-10-05 12:02] asaunier opened #690 "Problems with columns layout"
- [x] sorting problem:

There a problem with the columns layout we have just reintroduced in cards listings (eg. advanced search).

For instance with the outings: most recent outings appears in the leftmost column from top to bottom, then the next outings appear in the next column (top to bottom). See for instance:

![sans titre](https://cloud.githubusercontent.com/assets/1192331/19112228/f1c9d142

[2016-10-05 12:14] asaunier commented on #679
@shortoland I close the issue because there's nothing to do about it, as I have explained in my previous comment. Anyway I think it is very low priority.

[2016-10-05 12:14] #679 closed

[2016-10-05 13:11] ginold commented on #609
Is this issue still valid ? most of the images on my machine do return associations. And it seems to be an API issue, so it should be closed here.

[2016-10-05 13:12] #629 closed

[2016-10-05 13:15] asaunier commented on #609
It seems so. See for instance my example above.
http://c2corgv6-api.demo-camptocamp.com/images/733245 => no associated docs
http://c2corgv6.demo-camptocamp.com/images/733245/fr/contraste-sudnord => no associated docs
http://www.camptocamp.org/images/733245/fr/contraste-sud-nord => at least an associated outing (and areas?)

[2016-10-05 14:02] ginold commented on #609
but as stated - this is an api issue and should be removed from the ui's issues?

[2016-10-05 14:24] shortoland opened #692 "Problem with scroll down in advanced search pages"
I am using Windows 10 and Firefox 49.0.1.

I am on the route search page, I select "VTT" activity, then click on "Tous les filtres":
http://c2corgv6.demo-camptocamp.com/routes#bbox=-857237,3946514,1657236,7253485&act=mountain_biking

The criteria are displayed, but I am unable to go down and click "Voir les résultats": when scrolling down, the page automatically goes up again.

[2016-10-05 14:36] shortoland opened #693 "Issue when searching a VTT route"
I am on the route search page and select VTT activity.

There is no result, whereas there are some VTT routes in the database:

![image3](https://cloud.githubusercontent.com/assets/20488365/19117556/b26d8726-8b19-11e6-8b9e-cdfa8c67bf95.png)

It seems to be OK with other activities.

[2016-10-05 15:08] shortoland opened #694 "Delete association between an outing and a route"
I go on the outing page http://c2corgv6.demo-camptocamp.com/outings/723667/fr/pic-de-l-affron-depuis-le-refuge-wallon, entered by BenB.

I click on the trash included in the corresponding route card:

![image4](https://cloud.githubusercontent.com/assets/20488365/19118859/12fd5fa4-8b1e-11e6-9555-01e8585f3b55.png)

After confirmation, I can delete the association between the route and the outing:

!

[2016-10-05 15:24] asaunier commented on #693
The synchronisation script (that propagates changes made to the document to the search engine) has been turned off on the demo (because of load problems). I have relaunched the scripts and now there are results when filtering on mountain biking.

[2016-10-05 15:25] asaunier commented on #609
You're right.
On the other hand it's convenient to keep the issue open on the UI side as well. Else it might be recreated by the testers.

[2016-10-05 15:30] asaunier commented on #694
Indeed, only moderators (and associated users) should be able to edit or remove an association in an outing document.

You have no moderator permissions since the "edit" button does not appear on the right side of the page.

[2016-10-05 15:33] tsauerwein commented on #694
I don't think the API enforces this constraint at the moment.

[2016-10-05 15:38] asaunier commented on #694
Then we should create an API issue too.
It's not consistent to prevent people to edit the outing but to let them change the associations.

* [ ] By the way the "add association" tool should be shown in personal documents (as outings) only for moderators and associated users.

[2016-10-05 15:39] shortoland commented on #693
@asaunier OK, it's much better, I close the ticket.

[2016-10-05 15:39] #693 closed

[2016-10-05 21:02] loicperrin commented on #694
2 questions:
- If I am the author of the outing, it is authorized to desassociate the last associated route? I think it should not
- Are the moderators permissions available in demo? In fact I have modified an outing created by Tintin, but maybe it is due to moderators rights (and so it would be correct)

[2016-10-05 22:06] asaunier commented on #131
I have tested enabling some standard Python-Markdown extensions with PR https://github.com/c2corg/v6_ui/pull/695
See my comments in it.

To summarize:
* line breaks: OK
* TOC: more or less OK but sophisticated syntaxes such as ``[toc 2 right]`` are not supported out of the box
* tables (useful for L# ?): KO

[2016-10-05 22:38] asaunier commented on #694
Why?

Yes

[2016-10-05 22:48] asaunier opened #696 "Incorrect georef is added to uploaded images"
All images recently uploaded to the demo (including simple screenshots like http://c2corgv6.demo-camptocamp.com/images/737030/fr/asdads) surprisingly have a geometry, always set to some point in Wallis!

When uploading the image above I have just typed a random title and pick "collaborative" as type. That's all.

Where does this geometry come from?

[2016-10-06 06:54] ginold commented on #696
because of the hard-coded thing in HTML :

[code]

I remember I just wanted to see if it worked and forgot to remove it :P

[2016-10-06 07:17] tsauerwein commented on #694
See https://github.com/c2corg/v6_api/issues/414

[2016-10-06 09:12] HSERGERAERT opened #698 "Failed during upload of an image"
I can't load any image to a route. I use Google Chrome, recent version (53.xxx)

Steps :
1/ I select a route from the topoguide, for instance http://c2corgv6.demo-camptocamp.com/routes/569329/fr/presles-buis-papilusion
2/ I click on button "Insert images", in french "Ajouter des images", I get the screen drop and drag
3/ I place one image from a local image on my computer, I get the following scre

[2016-10-06 09:19] arnaud-morvan commented on #698
For now there an error on the API side if title is empty.
We have planned to allow images without title but this is not done for now.
Related with https://github.com/c2corg/v6_api/issues/399

[2016-10-06 09:21] asaunier commented on #698
OK that's the probably the problem. I get the same error if no title is provided. But works as expected if a title (and a type) is provided.

[2016-10-06 10:05] asaunier commented on #696
OK, could you remove this piece of code please? :)

[2016-10-06 10:06] asaunier commented on #692
Is this problem observed only for moutain biking routes or also with other activities or document types (waypoints? outings? etc.)?

[2016-10-06 10:34] ginold commented on #698
It would be nice to indicate which image exactly needs a type when clicking on save.

[2016-10-06 10:46] asaunier commented on #698
It would be simpler (and more user-friendly) to set a default type for all images. In v5 the default type is the type of the document to which you push the image.

[2016-10-06 11:08] HSERGERAERT commented on #698
Unfortunately this is not due to a missing title or activity or ...
I made a new test and put the missing information, same result, "Failed during saving"
![image_load_2](https://cloud.githubusercontent.com/assets/20357260/19150207/dde52844-8bc5-11e6-8e10-3a363f4e39f2.JPG)

[2016-10-06 11:23] asaunier commented on #698
The demo is being upgraded (new migration of the DB, which is not complete).
I also had that error message when testing a few minutes ago on http://c2corgv6.demo-camptocamp.com/routes/569329/fr/presles-buis-papilusion

But it's OK on http://ui.alpha3.demov6.camptocamp.org/routes/569329/fr/presles-buis-papilusion

[2016-10-06 12:07] asaunier commented on #690
* [ ] In FF only one card column is displayed (instead of 3 as with Chromium):
![sans titre](https://cloud.githubusercontent.com/assets/1192331/19151662/30f57c66-8bce-11e6-9cd2-9b63edc3ce23.png)

[2016-10-06 12:31] asaunier opened #702 "Text formating conversions to do in the migration script"
* [ ] ``[q]`` => ``[quote]``
* [ ] ``[c]`` => ``[code]``
* [ ] ~~``[toc(.*)]`` (regexp) => ``[toc]``~~

Related to https://github.com/c2corg/v6_ui/issues/131#issuecomment-237195445 and https://github.com/c2corg/v6_ui/pull/695

[2016-10-06 13:37] #696 closed

[2016-10-06 13:43] shortoland commented on #692
The problem is observed for all activities having too many filters that cannot be displayed on the screen (with need to scroll down).

This concerns: "Neige, glace et mixte", "Rocher Haute Montagne", "Escalade" and "Cascade".

[2016-10-06 17:05] shortoland commented on #617
I have modified translations in french and english. Other should follow.

[2016-10-06 17:31] shortoland opened #704 "Translations upload"
As I have made many updates and corrections on french and english translations, could you please upload Transifex translations to the demo site ?

[2016-10-06 19:26] asaunier commented on #704
Done

[2016-10-06 19:47] asaunier commented on #674
What would it imply?
Removing the following lines in ``.travis.yaml``:
* https://github.com/c2corg/v6_ui/blob/master/.travis.yml#L21
* https://github.com/c2corg/v6_ui/blob/master/.travis.yml#L56-L62

That's it?

[2016-10-06 19:51] asaunier commented on #548
Is this "issue" really needed?
@ginold @dkocich do you think it is useful for adding the support of articles/books?

If not, we can close it.

[2016-10-06 20:02] loicperrin commented on #694
Because the outing has no more associated route. It is the same kind of problem as for routes when we delete the last associated WP.

[2016-10-07 06:39] tsauerwein commented on #548
A wiki page would maybe be a better place, because it is not really an "issue".

[2016-10-07 07:34] asaunier commented on #694
Right!

[2016-10-07 07:37] asaunier commented on #548
Indeed.
Actually this list is a bit too general. Not sure it is really useful either as an issue or a wiki page.
Anyway it's probably a good practise to create a todolist in a dedicated issue or PR when adding a new document type. Like for areas for instance: https://github.com/c2corg/v6_ui/issues/668#issue-180026487

[2016-10-07 07:37] #548 closed

[2016-10-07 09:10] shortoland opened #705 "New missing translations in Transifex"
The following translations are missing in Transifex:
- [x] Left-side menu: "Community" is not translatable:

![image1](https://cloud.githubusercontent.com/assets/20488365/19180918/b3a4fff6-8c69-11e6-9301-a942d174421f.png)
- [x] WP creation: http://c2corgv6.demo-camptocamp.com/waypoints/add, I select "access" type.

The criteria "Accessibilité en transports en commun" and "Stationnement payant" hav

[2016-10-07 09:17] shortoland opened #706 "Climbing site WP - Area information display to be changes/checked"
WP display ("site d'escalade", "sae"): http://c2corgv6.demo-camptocamp.com/waypoints/735230/fr/orpierre-adrech-face-cachee

"Nombre d'itinéraires" (translated in "Nombre de voies" in the next version) should not be displayed in the "Accès" area I think. Maybe in "Genéral" ... do you confirm ?

![image8](https://cloud.githubusercontent.com/assets/20488365/19182140/ff1010b8-8c71-11e6-8caa-d0cc7b560b

[2016-10-07 09:22] shortoland opened #707 "Issue with route display"
In the route search page, I select activity "Cascade de glace".

Route "Directocouilles" is displayed, whereas it hasn't the "Cascade de glace" icon:

![image13](https://cloud.githubusercontent.com/assets/20488365/19185035/265c7e28-8c80-11e6-9803-a4abba3fbaf5.png)

Then I click on this route: both icons are displayed there:

![image14](https://cloud.githubusercontent.com/assets/20488365/19185064/4

[2016-10-07 09:25] shortoland opened #708 "Issue in WP display"
I display a WP: http://c2corgv6.demo-camptocamp.com/waypoints/734136/fr/chalet-refuge-du-clot

In the "Informations / Général" area, "Longueur: medium m" is displayed

It doesn't make sense to display this "Longueur" parameter here, all the more that the value is replaced by "medium":

![image15](https://cloud.githubusercontent.com/assets/20488365/19185170/c5c23cf0-8c80-11e6-979f-3f7dd513bc24.png)

[2016-10-07 10:23] asaunier commented on #598
* A search to directly choose an area using its name.
* A box where you see the selected areas, and where you can unselect areas.

This proposal makes sense indeed.

But I have several concerns:
* it's quite complicated to implement (and we have not much time to do it)
* it's a bunch of data to get (678 areas!)
* so that it's user-friendly enough, we would need to group the areas within "bigger ar

[2016-10-07 11:12] ginold commented on #707
Hard to tell what is going on because there are both activities in my instance of the application. Maybe the demo is not 100% up to date.
![Uploading Screenshot from 2016-10-07 13-11-50.png…]()

[2016-10-07 11:20] asaunier commented on #707
I have updated the demo yesterday evening.
Perhaps it's related to the syncer scripts? They were down until this morning (the demo database has been recreated yesterday and I had stop them during the process).

[2016-10-07 11:49] tsauerwein commented on #598
For me, yes. We can still improve it later.

[2016-10-07 13:07] shortoland commented on #704
Thanks. I think I will request a new upload in the coming days, but I will open another ticket.

[2016-10-07 13:07] #704 closed

[2016-10-07 16:16] asaunier commented on #25
Another example of incorrect handling of an API crash:

* the API encouters a ``sqlalchemy.exc.ProgrammingError`` when requested for a waypoint and returns a 500 status
* the UI server code (view page) then crash because of an unexpected response (HTML instead of JSON):

Please note that this happens in dev mode (pyramid returns an HTML error stack). Perhaps we don't have it in prod mode.

[2016-10-07 17:15] tsauerwein commented on #25
When did you get this error?

[2016-10-07 17:19] asaunier commented on #25
I just had it in my instance because my DB was outdated (no articles) whereas the API was trying to make a query on articles. I have updated my DB and it solved the problem.

[2016-10-08 15:38] asaunier commented on #25
In the demo (prod mode), there's currently a 500 error when asking the API for some document (eg. outing) => the API returns a standard 500 error:

<img width="1046" alt="capture d ecran 2016-10-08 a 17 35 28" src="https://cloud.githubusercontent.com/assets/1192331/19214183/a4251132-8d7d-11e6-8552-0078bbf96d16.png">

The UI then also returns a similar 500 error when trying to display such a docume

[2016-10-08 20:57] loicperrin opened #710 "Outing creation: quality field not visible on smartphone"
When creating an outing on smartphone, the field quality (last field of the form) is not visible and cannot be modified.

[2016-10-08 21:09] loicperrin opened #711 "Outing creation: minor problems"
- ~~On preview page, "{{ '2016-09-24T22:00:00.000Z' | amDateFormat:"dddd Do MMMM YYYY" }}" is displayed instead of the date~~ -> duplicates #168
- [x] When creating an outing an routes/54997/fr/aiguille-occidentale-du-soreiller-arete-s, the default title is of the outing is "Aiguille Occidentale du Soreiller : Cresta S" whereas the language is french.
- [ ] When adding a participant to an outing,

[2016-10-08 21:09] asaunier opened #712 "Parsing of [img] tags"
c2corg v5 uses a special [img] tag:
* a filename is never provided
* always based upon the image document_id => this way when the image is modified (title, new file, etc.), it's always up-to-date when embedded in documents.
* it's possible to specify what size of the image to use as well as alignment params

See the tag usage at http://www.camptocamp.org/articles/151910/fr/aide-mise-en-forme-du-te

[2016-10-08 21:14] asaunier commented on #711
This is already reported at https://github.com/c2corg/v6_ui/issues/168#issuecomment-245893257

=> striking it as duplicate

[2016-10-08 21:16] asaunier commented on #712
My opinion on the approach to use (to be discussed!):

* the code would be simpler => probably some sqlalchemy on the API side (+some caching!?) and a quite simple tag conversion in the UI, a bit like https://github.com/c2corg/v6_ui/blob/master/c2corg_ui/format/wikilinks.py
* if the image is updated (new filename but same document id), the UI part is still valid and its cache does not have to be i

[2016-10-08 21:35] asaunier opened #713 "Parsing of L# tags"
(Simple) example of L# code:

[code]

Complete usage doc: http://www.camptocamp.org/articles/305462/fr/aide-topoguide-l-balise-de-description-des-longueurs

This syntax is actually composed of 2 things (to be parsed separately?):
- a kind of table syntax (based upon `|` separators) => beware of conflicts with the wikilink syntax, see https://github.com/c2corg/v6_ui/blob/master/c2corg_ui/format/wik

[2016-10-10 07:31] ginold commented on #711
what is the problem with that? If you're creating an outing from this route, it will take the route's name by default, and if you are creating a new outing and then add a new associated route, it will take its name as the outing name.

[2016-10-10 09:40] arnaud-morvan commented on #712
I think proxy service in API is the better way too. I will start working on it ASAP.

[2016-10-10 09:57] ginold commented on #698
I will make a PR with this proposition!

[2016-10-10 10:56] ginold opened #715 "Cannot upload images to owned outing"
the "add images" button does not appear even though I'm the author of the outing

[2016-10-10 14:25] shortoland commented on #708
Ploblem solved, I close the ticket. Thanks.

[2016-10-10 14:25] #708 closed

[2016-10-10 14:27] shortoland commented on #707
Looks good now, I think I can close the ticket. I will open a new one in case it happens again.

[2016-10-10 14:27] #707 closed

[2016-10-10 14:48] shortoland opened #717 "Translations upload"
As I have made many updates and corrections on translations, could you please upload Transifex translations to the demo site ?

[2016-10-10 15:24] arnaud-morvan commented on #712
Done for the API proxy service, could use [api_url]/images/proxy/{document_id} to get a redirection to image.
No option for now concerning the resized images, proxy redirect to original image.

[2016-10-10 15:54] HSERGERAERT commented on #698
I agree with the default type, the default type like "divers" should correspond to an image not displayed on the home.

[2016-10-10 20:12] loicperrin commented on #711
The name of the route is : "Aiguille Occidentale du Soreiller : Arête S", and the name of the outing is by default "Aiguille Occidentale du Soreiller : **Cresta** S" instead of  "Aiguille Occidentale du Soreiller : **Arête** S"

[2016-10-11 06:39] ginold commented on #698
as far as I know, there is no type "divers", there are :
[code]

[2016-10-11 08:07] #614 closed

[2016-10-11 08:26] asaunier commented on #715
@shortoland could you test?
For me it's OK, I see the button in my outings. But I have moderator rights, so I see the button in all outings :P

[2016-10-11 08:36] asaunier commented on #712
That's obviously a problem. We can't ask for the original image when only a thumbnail is embedded in the document :P

https://github.com/c2corg/v6_api/pull/422#issuecomment-252650951

Why?
Document detail views are actually cached, as well the API request to build them. Why not caching the API requests that are used to display an image? If not, whenever someone displays an article with embedded im

[2016-10-11 08:41] asaunier commented on #698
@HSERGERAERT I think you're confounding "type" and "categories" attributes.
"categories" is not a mandatory attribute, we don't need to set a default category.

@ginold
Please note that only moderators can set an image type to "copyright" (mainly used for book covers). Standard users may only choose between "personal" and "collaborative".

[2016-10-11 08:48] asaunier opened #718 "Changing image type in image editing form"
(@shortoland or someone else: could you confirm the comments below, I have moderator rights, thus can do things standard users cannot)

We have to make sure that only moderators can change the image type of an already existing image.
Other contributors may only change their personal image to collaborative (they cannot change their collaborative images to personal).

Perhaps this restriction should

[2016-10-11 09:07] tsauerwein commented on #718
There is some kind of check:
https://github.com/c2corg/v6_api/blob/master/c2corg_api/views/image.py#L137-L147

Not sure if this is what you want?

[2016-10-11 09:13] tsauerwein commented on #712
Views that use the application cache make a query to the database to get the current cache version of a document, for every request.

In this case, only one query is made to fetch a single column. When using the cache, you would first make a query to get the cache version. And if there is no entry in the cache, you would make a second query to get the filename. So, using the application cache is n

[2016-10-11 09:14] asaunier commented on #718
That's what I was looking for.

By the way it makes me realize that contributors may change their own "personal" images to make them "collaborative" => I have updated my initial comment.

[2016-10-11 09:17] tsauerwein commented on #718
That makes sense. But it does not seem to work with the current logic in the API.

[2016-10-11 09:18] asaunier commented on #712
OK, makes sense then. Thanks for the explanation.

[2016-10-11 09:20] asaunier commented on #718
Mmm, yes, according to the code you have pointed, users may change their own collaborative images to personal, right?

[2016-10-11 09:31] tsauerwein commented on #718
Creators can change from "personal" to "collaborative". But it seems they can not change their own images from "collaborative" back to "personal".

[2016-10-11 09:37] asaunier commented on #718
That's what we want!

[2016-10-11 09:51] ginold commented on #715
I tried to work this out and there is a problem with `Authentication.hasEditRightsOuting_` function - the users that are sent to the functions are 1 time out of 2 `undefined` and at the end the functions returns false :confused:

[2016-10-11 09:55] asaunier commented on #717
I have just updated the translation files in http://c2corgv6.demo-camptocamp.com/

[2016-10-11 10:18] #623 closed

[2016-10-11 10:20] asaunier commented on #593
This issue is a bit critical I think: for instance when you try to register, nothing tells you that a request is pending: no loading indicator, the submit button remains active => if the response is not fast (it generally isn't) you just want to click several times on the button.

There's probably a similar problem with several other write actions.

[2016-10-11 10:29] ginold opened #719 "duplicate naming in outing-editing"
![screenshot from 2016-10-11 12-27-13](https://cloud.githubusercontent.com/assets/7814311/19267266/1b553dd6-8fae-11e6-83ad-63296bff02e4.png)

we have 2 times "itineraire emprunte" which I find superfluous. Maybe i can move the input field just above the first title and remove the 2nd one? Or change the naming of the field.

[2016-10-11 10:34] asaunier commented on #719
Good catch!
What about simply renaming the association tool title to "Associated routes" and remove this title above the associated routes cards => tool + cards beeing in the same section.

[2016-10-11 11:00] ginold commented on #719
or maybe the problem is in the translation - i now see both strings are the same in french, but in English they are "route_description" and "routes_taken"

[2016-10-11 12:24] asaunier commented on #712
Concerning the image size, please note that in v5, embedded images generally use the MI format as default. See for instance http://www.camptocamp.org/articles/763495/fr/changer-d-approche-10-idees-de-sortie-dans-la-metro-grenobloise

Since we consider enlarging MI images to 800px (see https://github.com/c2corg/v6_images/issues/5), this format would no longer be relevant for embedded images.
We sho

[2016-10-11 12:28] ginold commented on #719
@shortoland could you please change the translation of the "route_description" string, so that we don't have the same translation for both ?

[2016-10-11 13:12] ginold commented on #705
also: https://github.com/c2corg/v6_ui/issues/719

[2016-10-11 13:40] ginold commented on #555
so, if it is not a problem, can this issue be closed @asaunier  ?

[2016-10-11 13:44] asaunier commented on #555
According to @tsauerwein

Is this attribute used in the UI?
If not, what should we do to remove it from the data provided by the API? In that case, is it an API-only issue? If yes we could create the API issue and close this one.

[2016-10-11 16:18] asaunier opened #722 "Simple search UI issues"
* [x] the link "see more results" at the bottom of a set of results is displayed also in "association mode" (eg.  when creating an outing and associating a route) => this link is not usable in that context and should be disabled.

[2016-10-11 16:52] shortoland commented on #717
Thanks !

[2016-10-11 16:52] #717 closed

[2016-10-11 17:03] shortoland commented on #719
Done:
route_description => Description de l'itinéraire
No changes for the other ones:
taken_route => itinéraire emprunté
associated routes => itinéraires associés
I close the ticket, feel free to reopen if needed.

[2016-10-11 17:03] #719 closed

[2016-10-11 19:14] asaunier commented on #640
It would be more relevant to create the user profile page (at least a first version with only the wiki part) before creating the "user follow" directive. See https://github.com/c2corg/v6_ui/issues/335

[2016-10-11 19:31] shortoland commented on #718
When trying to create a new outing or adding images, I have the following error message: "Failes saving the changes"

![image1](https://cloud.githubusercontent.com/assets/20488365/19285382/092a3cf0-8ffa-11e6-93cc-660f4103e750.png)

[2016-10-11 19:58] asaunier commented on #713
I am finally not that sure the numbering and the table syntax should be processed separately.

Pros:
* we could use the table syntax for more standard usages. Is it needed?

Cons:
* using ``L#`` as the opening marker of the table row (combined to the following ``|`` delimiters) would help identifying a row and prevent conflicts
* we probably don't need to replace ``L#`` out of a table row

If keep

[2016-10-12 06:33] ginold commented on #718
As for now, the title is required and not filling the field will throw this error.

[2016-10-12 07:24] asaunier commented on #718
Already reported at https://github.com/c2corg/v6_ui/issues/698
@ginold has given the explanation.

[2016-10-12 08:22] arnaud-morvan commented on #712
If we only need the SI image, I can change the redirection.
Else I can add a size parameter in image/proxy route.

[2016-10-12 08:25] asaunier commented on #712
According to http://www.camptocamp.org/articles/151910/fr/aide-mise-en-forme-du-texte#image

+1

[2016-10-12 08:46] stef74 commented on #713
Table syntax is very interreting in many case !

2016-10-11 21:58 GMT+02:00 Alex Saunier <notifications@github.com>:

[2016-10-12 08:57] #598 closed

[2016-10-12 09:16] asaunier opened #724 ""undefined" in search/association results"
For waypoints and areas. maybe others (at least routes are OK), "undefined" labels appear in the search/association results:
![sans titre](https://cloud.githubusercontent.com/assets/1192331/19304511/46dcb046-906d-11e6-89dc-7f22c3434126.png)

[2016-10-12 09:34] #722 closed

[2016-10-12 09:43] #724 closed

[2016-10-12 10:10] ginold commented on #694
what we can do for now is to not let the user to delete the last associated route, because an outing requires at least one.

[2016-10-12 10:25] asaunier commented on #625
This issue is based upon the ``feed`` services recently added to the API:
https://github.com/c2corg/v6_api/blob/master/c2corg_api/views/feed.py
* **homepage activity feed for anonymous users**: ``/feed``
https://github.com/c2corg/v6_api/blob/master/c2corg_api/views/feed.py#L23-L58
[code]
* **homepage activity feed for authenticated users**: ``/personal-feed``
https://github.com/c2corg/v6_api/blob/

[2016-10-12 13:13] arnaud-morvan commented on #712
Now the defaut is the original image, could get resized image with for example : /images/proxy/5555?size=BI

[2016-10-12 13:33] HSERGERAERT commented on #698
The loading of image is still an issue even with a title, a category, and activity and type.
On server test http://c2corgv6.demo-camptocamp.com/ , it doesn't work "Failed saving the changes"
On server test http://c2corgv6.demo-camptocamp.com/ it works

I see one more difference between the two environment, on server http://c2corgv6.demo-camptocamp.com/ the type is set with a default value.

[2016-10-12 13:46] asaunier opened #727 "Associated images are not shown in outing detail views"
When uploading an image to an outing, the thumbnail is no longer visible when refreshing the page.
Ditto for images already associated to the outings before the migration.

It seems that the API does not return images associations for outings?
Related to https://github.com/c2corg/v6_api/issues/412 ?

[2016-10-12 13:52] asaunier commented on #698
That looks like a weird and tricky issue because I have no problem uploading an image either on http://c2corgv6.demo-camptocamp.com/routes/569329/fr/presles-buis-papilusion or http://ui.alpha3.demov6.camptocamp.org/routes/569329/fr/presles-buis-papilusion

In both cases I have just set the a dummy title and make sure the image type was set (either default or not). Using Firefox 49 or Chromium Vers

[2016-10-12 22:10] shortoland commented on #718
I also tried filling the title, and I tried again right now, and I confirm the problem.

[2016-10-12 22:49] asaunier commented on #625
Something we have to decide: only one column (as in Facebook, Twitter) or several columns (as in Pinterest) in the homepage feed?

I remember that Xavier, our UX expert, told us that for a timeline it's generally more intuitive to have only one column.

[2016-10-12 22:55] asaunier commented on #698
Tested at home with Chrome 53 on MacOS X => no problem when uploading images on
http://c2corgv6.demo-camptocamp.com/routes/569329/fr/presles-buis-papilusion or http://ui.alpha3.demov6.camptocamp.org/routes/569329/fr/presles-buis-papilusion

[2016-10-13 06:20] HSERGERAERT commented on #698
Bonjour,
pouvez-vous tester tous les trois le chargement d'une image sur le document
http://c2corgv6.demo-camptocamp.com/routes/569329/fr/presles-buis-papilusion

En mettant un titre "Photo test", une activité "Escalade", une catégorie
"Action" et un type "Personnel" et dire si ça marche ou pas pour vous.
Moi ça ne marche pas.
Hervé

2016-10-13 0:55 GMT+02:00 Alex Saunier <notifications@github.com

[2016-10-13 06:35] tsauerwein commented on #625
+1 for a single column

[2016-10-13 06:50] HSERGERAERT commented on #698
Salut
ça marche pour moi… une fois qu'on s'est déconnecté/reconnecté. Sinon, ça
envoyait effectivement un "failed saving change"

2016-10-13 8:20 GMT+02:00 Hervé SERGERAERT <herve.sergeraert@gmail.com>:

[2016-10-13 06:53] ginold commented on #625
Probably it's easier to navigate, but it will leave lots of place on the sides - what could we fill it with?

[2016-10-13 06:54] HSERGERAERT commented on #698
OK, maintenant ça marche pour moi aussi ! Il fallait se déconnecter et se
reconnecter.
Je le note dans le ticket.
Bien vu Martin !

2016-10-13 8:50 GMT+02:00 Martin Gerbaux <martin.gerbaux@camptocamp.org>:

[2016-10-13 06:55] HSERGERAERT commented on #698
The issue can be closed, a disconnect and reconnect was required to run correctly.
Ticket is closed.

[2016-10-13 06:55] #698 closed

[2016-10-13 06:56] ginold commented on #718
The last thing you could try is to log out and log in back, then upload the image :(

[2016-10-13 07:34] asaunier commented on #718
It seems it solved the problem for @HSERGERAERT  See https://github.com/c2corg/v6_ui/issues/698#issuecomment-253428839

By the way, those last messages have no connection with the current issue. I will remove them a bit later when every one has read them.

[2016-10-13 07:43] asaunier commented on #625
Do we really need to "fill spaces on the sides"? Look at Twitter for instance.

We could also use wider cards for the feed.

We have to think about the content of those cards. For instance there will probably be metadata such as "@ginold has been associated to an outing" => displayed on the side of the card for instance? On top?
What say the wireframes?

For cards advertising images uploads, there

[2016-10-13 08:44] asaunier opened #729 "Mailing lists interface"
TODO
- [x] add an entry in the user menu
- [x] add a page where mailing lists are listed with their status and buttons to subsribe/unsubscribe (on/off switches?)

Backend issue: https://github.com/c2corg/v6_api/issues/426

[2016-10-13 08:47] shortoland commented on #718
Indeed, it's much better now :-)
I confirm I can change from personal to collaborative, but not from collaborative to personal.

3 questions/remarks (maybe need to open new tickets, let me know):
- I cannot add images on a personal outing
- I cannot delete an image I have uploaded
- When viewing an image, clicking on "Voir les détails" doesn't make anything

[2016-10-13 08:56] asaunier commented on #718
I have removed the unrelated comments.

Already reported! https://github.com/c2corg/v6_ui/issues/727

After it has been saved? If yes: that's normal. It's not possible even in v5 (and deleting documents is not implemented yet in v6, even for moderators)
Or in the upload preview before saving? I have just tested: not problem with my user at least.

I guess it has also been reported.
Anyway it's not

[2016-10-13 09:04] shortoland commented on #718
After it has been saved? If yes: that's normal. It's not possible even in v5 (and deleting documents is not implemented yet in v6, even for moderators)
Or in the upload preview before saving? I have just tested: not problem with my user at least.

=> After it has been saved, so it's normal.

[2016-10-13 09:50] stef74 commented on #625
It is easy to change ?

I prefer to not consult the association on this ergonomic topic, I prefer
wait beta with other people.

If it's easy ... start as simple ... you can improve after.

I prefer multi colonum because on very large screen the rendering is better
... if you use one column all information (include picto need to be on one
line if there is enough space).

2016-10-13 9:43 GMT+02:00 A

[2016-10-13 12:30] stef74 commented on #711
@loicperrin please test and close ?

[2016-10-13 12:31] stef74 commented on #710
@shortoland @loicperrin please test

[2016-10-13 12:31] asaunier commented on #168
Perhaps the angular code being not executed as expected in the preview is related to an incorrect integration of the HTML provided by the preview service through an Ajax request:
https://github.com/c2corg/v6_ui/blob/ce2996f9c5b3c1314f02f9f66b92aa1e9745b213/c2corg_ui/static/js/documentediting.js#L567
[code]
?

I think I have used this approach because I have not succeeded in making angular "trustAs

[2016-10-13 12:32] stef74 commented on #633
@shortoland please test

[2016-10-13 12:33] stef74 commented on #603
@shortoland please test

[2016-10-13 20:49] fbunoz commented on #713
The doc type is used to generate a different html. The global variable $doc_module is set here : https://github.com/c2corg/camptocamp.org/blob/master/plugins/sfPunBBCodeParserPlugin/lib/sfPunBBCodeParser.class.php#L1448
and it is used in sub functions :
- https://github.com/c2corg/camptocamp.org/blob/master/plugins/sfPunBBCodeParserPlugin/lib/sfPunBBCodeParser.class.php#L1570-L1578
- https://githu

[2016-10-14 07:28] asaunier commented on #713
In my opinion it's crazy that a tag is parsed differently depending on the document type :(

[2016-10-14 08:08] asaunier opened #732 "Sidemenu for beta and v6.0"
For the beta and v6.0 there is no accident report section (and no "community"/association section?).

It would make sense to remove those to entries in the sidemenu. Or perhaps to make them point to the v5  URLs? Since the articles will be available in v6 beta, we could make the "association" sidemenu entry point to some v6 article.
@stef74 @HSERGERAERT what do you think?

In addition I wonder if

[2016-10-14 08:17] asaunier opened #733 "Remove/hide the map container in advanced search page for no-geom document types"
When the map filter is disabled in an advanced search page (for instance for articles, areas or books), the map directive is actually disabled but the map container remains => it should be removed (the badge section with the number of results should probably be moved somewhere else).

![sans titre](https://cloud.githubusercontent.com/assets/1192331/19380386/5bcf3e2a-91f7-11e6-895e-7495943044da.png

[2016-10-14 08:27] stef74 commented on #733
is probably relevant to offer the possibility to hide the map for all
document ...

2016-10-14 10:17 GMT+02:00 Alex Saunier <notifications@github.com>:

[2016-10-14 08:32] stef74 commented on #732
First I said yes ... but it can be a teasing. No link with v5 (indexation
problem) ... just infobox that say " bientôt ;-)"

You can remove "home" entry

2016-10-14 10:08 GMT+02:00 Alex Saunier <notifications@github.com>:

[2016-10-14 08:40] asaunier commented on #733
document ...

I think it's something different. Here there's no map at all but the styles are not adapted.

Giving the possibility to fold/unfold the map (see also the mobile screens issue https://github.com/c2corg/v6_ui/issues/657) is an additional feature.

[2016-10-14 08:57] asaunier commented on #732
problem) ... just infobox that say " bientôt ;-)"

What do you mean by "infobox"?

Honestly I would prefer we stay simple, we have too many things to do.
Possible solutions:
* remove the entry
* hard-coded URL to v5
* disable link (entry is here but it's not clickable)

[2016-10-14 09:11] stef74 commented on #732
disable link ...

2016-10-14 10:57 GMT+02:00 Alex Saunier <notifications@github.com>:

[2016-10-14 09:20] ginold commented on #733
this is a 100% css issue. I can handle that later.

[2016-10-14 16:07] shortoland commented on #633
I made several tests, and it seems to be OK

[2016-10-14 16:07] #633 closed

[2016-10-14 16:24] shortoland commented on #710
Problem solved: quality field is displayed and can be modified when creating an outing on a smartphone.

[2016-10-14 16:24] #710 closed

[2016-10-14 22:10] loicperrin commented on #711
Ok for the default title is of the outing
But the participant association works less than before: now it does not find anyone and it proposes to create a WP/route/outing:
![issue711](https://cloud.githubusercontent.com/assets/19718055/19404087/a478df0e-926b-11e6-8df0-75a609eeccd5.jpg)
It 's a pitty that after a "bug fix", the fonctionnality works less than before...

[2016-10-14 22:17] loicperrin commented on #711
It works (but I had a problem before deconnection).

[2016-10-14 22:17] #711 closed

[2016-10-14 22:41] asaunier opened #735 "Remove "print" / "save" actions in menu "More""
They are not implemented yet (and won't be).

[2016-10-14 23:12] fbunoz opened #736 "Missing images infos in slideshow"
- After uploading an image, the slideshow contains the images infos : category, licence, EXIF, link to image page, etc.
- If we reload the doc, or if we load another doc with images, the slideshow doesn't contain the image info anymore. And it misses the link to the image page.

[2016-10-17 06:32] ginold commented on #736
related to #727

[2016-10-17 07:39] asaunier commented on #702
Closing because rather an API issue, see https://github.com/c2corg/v6_api/issues/417

[2016-10-17 07:39] #702 closed

[2016-10-17 07:44] asaunier opened #737 "Retrieve image coordinates in EXIF data if any"
And automatically fill in the geometry when uploading an image.

Example of image with coordinates in EXIF data: http://www.camptocamp.org/images/466723/fr/tete-tsernou-et-tete-a-pierre-grept-depuis-la-pointe-n

[2016-10-17 07:45] asaunier commented on #478
Closing this issue because the remaining part (coords in EXIF) is not really related to the slideshow and has been moved to a dedicated issue: https://github.com/c2corg/v6_ui/issues/737

[2016-10-17 07:45] #478 closed

[2016-10-17 07:49] asaunier commented on #736
It seems that those data are missing in the slideshow because not returned by the API in the associated images data when viewing a document.

On the other hand, I am not sure it is relevant to return that many data in the document detail view. An additional API request should be done client-side when the user clicks on the "info" button of a given image.

[2016-10-17 12:28] stef74 commented on #610
@fjacon could you please give visibility on slope layer topic ( important for ski activity).

[2016-10-17 12:42] stef74 commented on #663
X-Frame-Option is deprecated the could way to prevent framing is to use CSP (not supported by old browser ...)

[2016-10-17 12:59] stef74 commented on #374
@asaunier this question is allready relevant ?

[2016-10-17 13:03] ginold commented on #374
I thought i had already answered this question: `documentType` was set in the times when `type` was not returned by the API yet, so we have to track it down and remove it from it's origin!

[2016-10-17 15:57] asaunier opened #741 "Associations problems in articles"
I have just upgraded the demo (ditto in my dev instance). If I look at an article, say http://c2corgv6.demo-camptocamp.com/articles/713242/fr/procedure-documentation-technique-petzl I notice the following problems:

* [x] when searching for a document to associate (I have typed "grange"), the console reports that
[code]
* [x] I have not been able to associate a WP or a route (not tested other doc

[2016-10-17 19:22] fbunoz opened #742 "Incorrect criteria when we select 6b+, P1+, A0+, ..."
When we select a criteria which contain a '+', it is not taken account.
For exemple, I select the free climbing rating range between 6a+ and 6b+ : the number of results doesn't change about all grades.
http://c2corgv6.demo-camptocamp.com/routes#bbox=-607746,3535588,1407745,7664411&act=rock_climbing&rrat=6a%20,6b%20&l=fr

If I choose a range between 6a and 6b+, only 6a is taken account.
Ther is the

[2016-10-17 19:40] asaunier commented on #742
It seems that the "+" symbol is understood as the space " " symbol (which is urlencoded "%20").

[2016-10-17 20:10] stef74 commented on #433
@loicperrin could identify remaining problem ?

[2016-10-17 20:19] stef74 commented on #414
@asaunier can we close ?

[2016-10-17 20:21] stef74 commented on #254
@asaunier @fjacon can we close ?

[2016-10-17 20:22] stef74 commented on #617
@loicperrin @shortoland can we close ?

[2016-10-17 20:23] stef74 commented on #657
@asaunier what is the remaining job for beta ?

[2016-10-17 20:28] #415 closed

[2016-10-17 20:29] stef74 commented on #518
not mandatory for go live ...

[2016-10-17 20:30] stef74 commented on #343
@asaunier what is the remaining job ?

[2016-10-17 20:33] stef74 commented on #398
@shortoland still not fix ?

[2016-10-17 20:45] loicperrin commented on #433
I don't remember precisely which problems I had identified, but at least it seems that unchecked problems are not solved. For instance, this one:

[2016-10-17 20:55] loicperrin commented on #617
Thanks to translation modification, the problem is solved.

[2016-10-17 20:59] loicperrin commented on #398
I have not tested all cases, but I least this one is still KO:

- Last Outings associated to Route:
Desktop: Quality

[2016-10-18 05:29] desnoes opened #743 "Advertisement banner"
The advertisement banner is not displayed. It should be located in the left column. I do not observe it. I removed adblock for the V6 test site (http://ui.alpha3.demov6.camptocamp.org). I use Firefox 49.0.1.

[2016-10-18 06:50] tsauerwein commented on #254
I am preparing a proposition on how this "homepage for the guidebook" could look like. I will share something in the next days.

[2016-10-18 08:04] asaunier commented on #414
The ad banner issue has been fixed.

[2016-10-18 08:04] #414 closed

[2016-10-18 08:05] asaunier commented on #657
Nothing has been done yet.

[2016-10-18 08:05] asaunier commented on #343
Nothing has been done yet.

[2016-10-18 08:06] #617 closed

[2016-10-18 08:07] asaunier commented on #433
That doesn't make sense! The ratings are shown in the associated route cards. Period.

[2016-10-18 08:08] stef74 commented on #743
I use the 45 ESR ... without problem banner is show.

[2016-10-18 08:10] asaunier commented on #743
Your screen is most likely too small. If there is not enough space, the ad banner cannot be shown.
In my screen:
![sans titre](https://cloud.githubusercontent.com/assets/1192331/19469303/08a68434-951b-11e6-8247-e50f9361c4ba.png)

[2016-10-18 08:10] #743 closed

[2016-10-18 08:10] asaunier commented on #254
Anyway I think this issue is still relevant and should not be closed.

[2016-10-18 09:36] shortoland commented on #398
@stef74 It's getting better.
I can still see the following missing elements (I forget GPS icon):

- Associated Route to WP:
Desktop: denivelation, difficulties deniv
Mobile: rating is now displayed, but not global rating only, and in a wrong way

- Home Last Outings:
Mobile: Max Elevation

- Last Outings associated to Route:
Desktop: Quality. Max elevation shouldn't be displayed
Mobile: Quality

R

[2016-10-18 10:21] asaunier commented on #741
* [ ] Perhaps it's possible to remove the commented out code at https://github.com/c2corg/v6_ui/blob/master/c2corg_ui/templates/article/view.html#L62-L72 ?

[2016-10-18 11:16] dkocich commented on #741
Ok. I am working on that right now.

[2016-10-18 12:09] stef74 opened #744 "issue on installation"
![capture](https://cloud.githubusercontent.com/assets/3962997/19476954/34062398-953c-11e6-99ca-19db41614634.PNG)

I'm trying to install UI project ... i have an error on install.

Script try to resolve private adress for github why ? the initial clone work perfectly (so dns resolution for github.com work).

[2016-10-18 12:14] tsauerwein commented on #744
You are behind a proxy? Make sure that the proxy is also configured for npm.

[2016-10-18 12:18] stef74 commented on #744
Yes we have a proxy ... but the VM have no issue to connect to github via git command in terminal ...

[2016-10-18 12:20] tsauerwein commented on #744
Git is using the env. var `HTTP_PROXY`, for npm you have to specify it explicitly. See also: https://jjasonclark.com/how-to-setup-node-behind-web-proxy

[2016-10-18 13:19] stef74 commented on #744
Ok it's work without proxy. I test with proxy later ...

Just notice a mistake on port to navigate on website is 6555.

Currently i have no data ... but i use an internal adress of you ... I will change with demo environnement

[2016-10-18 13:30] #744 closed

[2016-10-18 13:37] tsauerwein opened #746 "Wrong color for summary block"
The bar of the summary block uses a different green value than for example for the activity icons.

![c2corg-color-summary](https://cloud.githubusercontent.com/assets/266474/19479784/aea1b2b4-9548-11e6-9292-58f1e73d0adf.png)

[2016-10-18 13:44] tsauerwein opened #747 "Single information block for mobile"
On mobile the information block (General, Height, Rating, Maps) consists of multiple containers that are collapsed by default. It would be more convenient to have a single container, so that you do not have to click on each container to show the information.

![c2corg-mobile-infos](https://cloud.githubusercontent.com/assets/266474/19479906/16f24aea-9549-11e6-8da8-fd9225116dd4.png)

[2016-10-18 13:46] tsauerwein commented on #705
* [ ] On mobile: The text "heights" in the information block does not start with capital letters when the language is "en". See screenshot here: https://github.com/c2corg/v6_ui/issues/747

[2016-10-18 13:54] shortoland commented on #705
@tsauerwein Same pb on desktop. I have modified the transation in Transifex. I think there are many problems like this with all languages. They might be solved latter, once all translations will be completed.

[2016-10-18 13:56] ginold commented on #747
I do really find this solution convenient - you open what interests you and you don't have to scroll 20 times when you have a long description.

[2016-10-18 14:00] shortoland opened #749 "Issues with translations"
I have noticed the following issue several times during the last days:
- there are new strings to translate in Transifex,
- I usually translate them in french and english,
- after a few days "my" translations are deleted and need to be done again :-(

For example, I have recently translated the 18 new strings displayed in french and english.

Can you explain why this happens ? It's really boring t

[2016-10-18 14:04] asaunier commented on #749
Could you give examples of strings for which the translations have been lost?

[2016-10-18 14:07] tsauerwein commented on #747
To be clear: I am only proposing to have a single container for "General, Height, Rating, Maps". I don't want to change the other block.

[2016-10-18 14:08] shortoland commented on #749
Yes: the 18 untranslated strings in Transifex for french and english:
Create a new article
Informations
Last articles
article
article body
article_categories
article_type
association
c2c_meetings
collab
expeditions
gear_and_technique
mountain_environment
site_info
soft_mobility
stories
tags
topoguide_supplements

[2016-10-18 14:11] asaunier commented on #749
No idea for the others but

is related to this change: https://github.com/c2corg/v6_ui/pull/734

When a translated strings is changed in the source code, the translation is lost in Transifex.

According to https://github.com/c2corg/v6_ui/pull/734#issuecomment-253806016 there should be a "Translation Memory" in Transifex that should make translation suggestions according to former translations. Has

[2016-10-18 14:13] tsauerwein commented on #749
Is it enabled? http://docs.transifex.com/setup/enabling-translation-memory-autofill/

[2016-10-18 14:17] dkocich commented on #749
Ehm. I am sorry... but also I am not sure if all the strings were available before my change and I could delete them all.

[2016-10-18 14:32] shortoland commented on #749
The translation memory is enabled (thanks), but translators still have to click propositions one by one (x3 languages for me).

[2016-10-18 14:46] stef74 commented on #27
@tsauerwein this issue is manage #25 ?

[2016-10-18 19:34] tsauerwein commented on #254
Something like this:

![screencapture-localhost-6554-guidebook-1476818854618](https://cloud.githubusercontent.com/assets/266474/19493257/34002dba-957a-11e6-84db-62ec0bab60b3.png)

[2016-10-18 20:28] loicperrin commented on #433
Yes, you are right. I don't know why this has been reported. @desnoes could you verify if some unchecked problems are still relevant?

[2016-10-19 08:05] stef74 commented on #254
:+1:

[2016-10-19 08:10] stef74 commented on #433
@shortoland could you check is unchecked box are still relevant.

[2016-10-19 08:27] asaunier commented on #254
That's nice indeed.

About the header:
* would the activity icons be clickable? leading to what?
* how would the "region" input work?

[2016-10-19 08:32] tsauerwein commented on #254
The idea is that you can select activities like with the advanced search filter. They probably should rather be gray than orange.

Either we simply search for areas (like in the user filter preferences), or we do a real geo-coding (like with the search component in the map) and search in a bbox of ~20km around the position.

[2016-10-19 08:45] asaunier commented on #254
So that would open an area detail view page? Not sure that's really what people want.
Or maybe the advanced search page (of outings? routes? WP?) with the bbox of the selected area?

You mean it would use the geonames service of the map search component? https://github.com/c2corg/v6_ui/blob/master/c2corg_ui/static/js/map/search.js
That sounds interesting indeed. Then:
* it should rather be named "

[2016-10-19 09:21] stef74 commented on #254
Open area page view is not probably and good idea.

By default we can open search on route (most use) on selected area or place (with geoname) ... use the simplest !

if you use geoname solution change the string by "near to" or something like that ...

[2016-10-19 09:40] dkocich opened #750 "Missing "search/add/remove associations" on the document view pages"
We have many valid associations here - https://github.com/c2corg/v6_common/blob/master/c2corg_common/associations.py , but not all are used in the UI view pages (to search, add or remove association).

That means it is required to (for each different document type ):
- check "searchable" dataset settings and add valid document type
  https://github.com/c2corg/v6_ui/blob/master/c2corg_ui/templates/

[2016-10-19 10:07] mgerbaux commented on #732
_Camptocamp association_ can point to the corresponding V6 article of http://www.camptocamp.org/articles/106726/fr/camptocamp-association
 _Base de données accidents_ can point to the corresponding V6 article of http://www.camptocamp.org/articles/697210/fr/base-serac-de-recits-d-incidents-et-accidents

[2016-10-19 10:28] asaunier commented on #732
OK

What about pointing to the v5 URL http://www.camptocamp.org/xreports ?

[2016-10-19 10:50] #735 closed

[2016-10-19 10:51] #737 closed

[2016-10-19 10:51] mgerbaux commented on #732
I think it should be better to point v5 URL http://www.camptocamp.org/xreports from the "Serac" article.
Having Serac article as the V6 entry also allows to explain why xreports documents are not available on V6.0

[2016-10-19 11:02] asaunier commented on #732
OK

[2016-10-19 11:34] dkocich opened #751 "Problems with titles and icons in simple search suggestions"
In this comment is an example picture of the problematic situation.

https://github.com/c2corg/v6_ui/pull/745#discussion_r84028506

Activities icons are under each other and that makes row height too big. They should stay next to each other.

[2016-10-19 11:40] stef74 commented on #168
@asaunier some work allready needed on this ticket ?

[2016-10-19 11:47] asaunier commented on #168
Yes, see https://github.com/c2corg/v6_ui/issues/168#issuecomment-245893257

[2016-10-19 11:53] asaunier opened #752 "Crash of some outing detail view pages"
Perhaps it's something misconfigured on the dev server or the demo instance:

http://c2corgv6.demo-camptocamp.com/outings/736779/fr/pic-saint-michel-versant-e-par-le-col-de-l-arc => 500 error

logs:

[Wed Oct 19 13:51:51.882228 2016] [wsgi:error] [pid 3892] [remote 10.27.71.4:63366] Traceback (most recent call last):
[Wed Oct 19 13:51:51.891054 2016] [wsgi:error] [pid 3892] [remote 10.27.71.4:6336

[2016-10-19 11:55] stef74 opened #753 "license information"
#449

[2016-10-19 11:58] asaunier commented on #753
Are you sure this is really a "beta" issue?
It's rather a "cosmetic" work depending on the document type or some other attribute.

[2016-10-19 12:02] stef74 commented on #753
it's a go live issue ...

2016-10-19 13:58 GMT+02:00 Alex Saunier <notifications@github.com>:

[2016-10-19 12:10] asaunier commented on #753
So the milestone should rather be "go live"?

[2016-10-19 12:32] ginold opened #754 "Feed improvements"
as from #731

- [ ] what happens if users scroll the feed, clicks on a card (open a new page) and then want to go back to the feed by pressing the "back" button: will the feed be reset or will it be restored at the same place?
Perhaps we will have to pass some kind of permalink to the address bar?

- [x] show a message when no more feed (error while fetching, loading feed, no more feed)

**When vi

[2016-10-19 12:56] tsauerwein commented on #254
No, you select activities and an area, and then hit "Go". This will open the advanced search for routes with the made filters.

[2016-10-19 13:46] asaunier commented on #732
* [ ] The links in the sidemenu footer should be updated as well.

[2016-10-19 13:47] stef74 commented on #753
For me go live = beta + critical bug ... but I changed for go live

[2016-10-19 13:54] asaunier commented on #390
Do we have an icon for users/profiles?

[2016-10-19 15:12] #741 closed

[2016-10-19 15:20] shortoland commented on #433
Here are the unchecked boxes I have finally checked:

- WP associated to the route should be displayed on the map. See #362

- Display on the map the pictos of the associated WP with the possibility to open this WP by clicking on the picto (cf. V5)

I don't understand what represent the following requests:

- Associated outings: write the number of pictures in the card corresponding to an outing

[2016-10-19 15:36] asaunier commented on #433
Cotations should be displayed (at the top just under the title of the outing)

It's not. See https://github.com/c2corg/v6_ui/issues/433#issuecomment-254629596

[2016-10-19 16:24] asaunier opened #756 "Use relative URLs instead of absolute for static assets"
@tsauerwein  wrote

[2016-10-19 19:09] asaunier commented on #754
* [ ] it seems that the user name used in the action descriptions is the username (or login?). It would be more relevant to use the ``name`` attribute ("guidebook name") as in the outing cards:
![sans titre](https://cloud.githubusercontent.com/assets/1192331/19533514/606ff256-9640-11e6-9ff4-daf2ef88d737.png)

[2016-10-19 19:33] asaunier commented on #433
* [ ] SEO links of associated documents are displayed whereas they should remain hidden (only used so that search engines may browse among associated documents even though not supporting the associated document cards). We have the problem for all documents with associated cards.

Example with an outing: http://c2corgv6.demo-camptocamp.com/routes/139437/fr/sapey-pointe-de-dran-l-archetype
![sans ti

[2016-10-19 19:35] asaunier commented on #752
After updating the DB+UI+API this problem seems no longer reproducible.

[2016-10-19 19:35] #752 closed

[2016-10-19 19:42] dkocich commented on #433
@asaunier

I am sorry, my mistake from today afternoon - I will fix it now, it should be just one line.

[2016-10-20 07:14] ginold commented on #390
you mean a generic one? if yes, we can use the one found in the outing cards.

[2016-10-20 07:30] asaunier commented on #390
Yes, like the icons for WP, routes, outings etc.

[2016-10-20 07:34] ginold commented on #754
the ones in the feed ARE cards, so they are no different and they use `doc['author']['name']`, not 'username'

[2016-10-20 07:36] ginold commented on #390
then `.icon-user` is your friend!

[2016-10-20 07:45] asaunier commented on #754
The problem is not in the card but in the comment above: "foobar has created a new outing" => the latter should use ``name`` as well.

Actually I think that the login should never be passed to (and used by) the UI, see https://github.com/c2corg/v6_api/issues/436
Only ``name`` and ``forum_username`` are relevant in the UI.

[2016-10-20 07:48] asaunier commented on #754
* [ ] Another point with feed improvement: are images (with filenames) supported? Please note that the images feed cards are a bit different then in the advanced search since they may contain several image filenames.

[2016-10-20 08:08] #746 closed

[2016-10-20 08:25] asaunier commented on #390
OK thanks!

Actually I need an SVG icon to show it on the map (not a class or an SVG font). This file is a good candidate: https://github.com/c2corg/v6_ui/blob/master/c2corg_ui/static/img/social/user.svg
On the other hand it has 2 problems:
* a bit too big, I have to apply ridiculous scales to show it the good size on the map
* black instead of orange, as the other map icons like https://github.co

[2016-10-20 08:34] ginold commented on #390
would you prefer to change this one, or create a second one ?

[2016-10-20 08:38] asaunier commented on #390
I don't know. Can we use the same file both for the map and in the other places already using it like the outing cards?

[2016-10-20 10:24] ginold commented on #754
if a user changes the feed type, disables the filters and so on - should the complete feed be reloaded ? or just add the other, new documents at the end of the feed?

[2016-10-20 10:27] asaunier commented on #754
Yes

[2016-10-20 10:34] stef74 commented on #499
@loicperrin could you work with comission on SIMPLE specification for "prefilling"

[2016-10-20 10:39] stef74 commented on #306
@loicperrin @desnoes could you please discuss a simple solution ... the google form approach can  be good solution. Please also coordinate with forum team.

[2016-10-20 10:42] stef74 commented on #198
@loicperrin @desnoes could you discuss on this point internally ?

[2016-10-20 12:52] dkocich commented on #751
It looks like two problems.

**1st - long titles pushing all icons under each other**

This one is solved with setting of:
`whitespace: nowrap` to `normal` for suggestion title

--- Before
![image](https://cloud.githubusercontent.com/assets/6165660/19558554/7bed7edc-96cb-11e6-9363-3fdb9b51803e.png)
--- After
![image](https://cloud.githubusercontent.com/assets/6165660/19558805/cc5793d4-96cc-11e6-9c

[2016-10-20 13:37] stef74 commented on #727
https://github.com/c2corg/v6_api/issues/412 is closed

[2016-10-20 13:43] stef74 commented on #609
API issue was closed ... could you cnfirm if issue can be closed ?

[2016-10-20 14:08] stef74 commented on #272
@asaunier can we close ?

[2016-10-20 14:12] asaunier commented on #272
For me OK for closing

[2016-10-20 14:13] #272 closed

[2016-10-20 17:07] asaunier commented on #331
The milestone of this issue cannot be v6.1 because it impacts the data.

If c2corg/v6_api#262 is not fixed at golive, all migrated geometries will be migrated as 2D and the elevations and times will be lost.
Ditto the elevations of uploaded GPX track in v6 will be lost.

Please note that anyway, drawing a route on the map will only be 2D, unless we set an elevation service to add the elevation to

[2016-10-20 19:58] loicperrin commented on #433
It is still relevant (this functionality exists in V5), but if I remember well, this can cause performance problems.

This probably means that abstract in route description (V5) should be imported in abstract field (V6). For me it is OK.

[2016-10-20 21:36] loicperrin commented on #398
Denivelation is still missing.

[2016-10-20 21:40] shortoland commented on #398
@loicperrin Oups, true. I made a confusion with diff deniv ... sorry !

[2016-10-20 21:45] loicperrin commented on #307
Reopen for this item:

- [ ] Outings with poor quality are not shown in the list pages or on the home page feed

[2016-10-20 22:10] asaunier commented on #307
That doesn't make sense. The advanced search pages has a "quality" filter for this needed. So nothing to do for list pages.

Home page feed, see https://github.com/c2corg/v6_api/issues/432
But honestly, for me it's not that easy!

[2016-10-20 22:27] loicperrin opened #762 "Problems with advanced search"
- [ ] Sometimes (not always, but at least 50% of my trials) I cannot check or uncheck an activity in Advanced search filter.
- [ ] I have also seen problems with vertical scrollbar on the right of criteria: sometimes, I cannot scroll to the bottom of the list

[2016-10-20 22:33] asaunier commented on #644
This cannot be a "beta" ticket. It involves changes on the actual prod apache config.

[2016-10-20 22:34] loicperrin commented on #307
OK

[2016-10-20 22:35] #307 closed

[2016-10-21 08:39] tsauerwein commented on #762
Same issue as the 2nd point in https://github.com/c2corg/v6_ui/issues/655?

Same as https://github.com/c2corg/v6_ui/issues/692?

[2016-10-21 08:53] asaunier commented on #762
It seems this issue is a duplicate of the issues @tsauerwein mentioned.
If not exactly, it would make sense to move those 2 points in those issues and to close the current one (always make sure problems are not already reported before creating an issue :P ). Thanks!

[2016-10-21 09:49] #756 closed

[2016-10-21 12:17] asaunier opened #765 "Replace "username" by "name" in the UI"
"username" is actually a login. Only "name" (aka guidebook name) and "forum_username" are public user names.

However "username" is still used in many places in the UI.
We should then use "name" instead of "username" in the UI pages (except in the auth and account pages of course).

Question: should we use "name" for the user menu (top of the page) instead of "username"? Since it's only displayed

[2016-10-21 12:33] tsauerwein opened #767 ""Forum username" is translated with "Pseudo""
I noticed that the label "Forum username" is translated to French with "Pseudo" in the account page. This might be a bit confusing.

[2016-10-21 12:33] #732 closed

[2016-10-21 12:38] tsauerwein commented on #765
+1

[2016-10-21 12:46] asaunier commented on #767
That's a translation issue isn't it?
In french "pseudo" (especially in c2corg) pseudo is well-admitted as the forum name.
Anyway it's the responsibility of the translators/assocation, not ours. I would close the issue.

[2016-10-21 12:51] tsauerwein commented on #767
Without knowing the background, I would have assumed that "pseudo" is the login name. I am not sure if everyone understands that this is related to the forum.

[2016-10-21 13:18] asaunier commented on #767
OK you're right. @shortoland what do you think?

[2016-10-21 14:01] asaunier opened #769 "User profile improvements and fixes"
- [x] Fix user/profile icon on the map. See https://github.com/c2corg/v6_ui/issues/390#issuecomment-255041415
- [x] Show `forum_username` in user profile when  https://github.com/c2corg/v6_api/pull/447 is merged.

[2016-10-21 15:17] asaunier opened #770 "Images associated to user profiles"
Make sure that associated images are actually shown in user profiles  (untested yet!):

See https://github.com/c2corg/v6_ui/pull/728#issuecomment-255305384

[2016-10-21 15:27] #335 closed

[2016-10-21 15:27] #640 closed

[2016-10-21 15:38] asaunier commented on #343
Having a robots.txt file would also make sense.

[2016-10-21 15:39] fjacon commented on #765
@stef74 opinion ?

[2016-10-21 15:43] fjacon commented on #750
What is the status of this issue ?

[2016-10-21 15:46] fjacon commented on #718
@asaunier issue to be closed ? dont see anything left to handle or everything is reported somewhere else

[2016-10-21 15:55] asaunier commented on #718
Don't know. Some one should test (I have moderator rights).

[2016-10-21 16:08] asaunier opened #771 "Basic Auth on demo blocks the profile asynchronous requests"
The demo UI is protected by a Basic Auth. The demo API is not.

When loading a profile page, an additional UI request (to the UI!) is made to figure out if the visitor can view the profile details. It seems the Basic Auth is not transfered to such asynchronous requests to the UI and a password is prompted (and never accepted, so the password window is shown again and again).

[2016-10-21 16:11] asaunier commented on #771
We should probably pass an ``Authorization`` header to the UI asynchronous request. See for instance: http://stackoverflow.com/questions/17380731/get-url-content-with-basic-authentication-with-java-and-async-http-client

But we don't want to make change in the code, just for the demo and its basic auth protection...

[2016-10-21 16:34] fjacon commented on #610
To setup a mapserver and a WMS for slope layer is not included in original offer. I consider it as extra work. In any case, it is not feasible for go live.

[2016-10-21 21:07] loicperrin commented on #762
Yes !

Not exactly: I have seen this problem in a simpler use case. But probably it is the same cause.

=> I close this ticket

[2016-10-21 21:11] loicperrin commented on #655
I have also observed this kind of problem: in the list of activities I cannot select an activity (even when I use for the first time the advance search). This does not appear every time, but often.

[2016-10-22 12:04] tsauerwein opened #774 "Wrong URL is used for [users] tags"
The `[users]` tags are replaced with a link pointing to `/users/377` instead of `/profiles/377`. For example on http://c2corgv6.demo-camptocamp.com/articles/121965/en/credits

[2016-10-22 18:43] asaunier commented on #774
There are no ``[users]`` tags. The examples you give are actually wikilinks like  ``[[users/123456|Toto]]`` that is transformed to a ``users/123456``, or ``[[summits/123456|Mount Olympus]]`` linking to ``summits/123456``.

So it's rather related to https://github.com/c2corg/v6_ui/issues/644 (v5 > v6 URLs migration/redirection).

I thought first to use ``users/123456`` URLs instead of ``profiles/12

[2016-10-22 20:49] loicperrin commented on #499
Here are the specification for "prefilling" of outing form:
- Hight diff up : Hight diff up of the first route associated to the outing
- Hight diff down : Hight diff down of the first route associated to the outing
- Elevation max : Elevation max of the first route associated to the outing
- Elevation min : Elevation min of the first route associated to the outing (*)
- Altitude of access point :

[2016-10-22 20:52] loicperrin commented on #198
We propose to add a button in the WP detail view pages to create a new route associated to this WP.

[2016-10-22 21:16] loicperrin commented on #690
- [ ] Another problem with columns layout: sometimes the first cards of the column are cut. Example:
![issue690](https://cloud.githubusercontent.com/assets/19718055/19622604/866d568c-98ad-11e6-9422-769fb1b2b081.jpg)

[2016-10-23 08:28] tsauerwein commented on #774
Good point about setting up a redirection. But that is for the links that we can not change. In this case, we generate the links from the Wiki tags. So, we can directly generate a good link (instead of a link, that points to a URL that is redirected).

[2016-10-23 08:54] asaunier commented on #736
I think that's the best option, because the slideshow might be used (?) in some cases where no association data is provided. For instance when clicking on a thumbnail embedded into a document description. See https://github.com/c2corg/v6_ui/issues/712 and https://github.com/c2corg/v6_ui/pull/775

[2016-10-23 09:38] asaunier commented on #774
What do you suggest?

That the wikilinks parser https://github.com/c2corg/v6_ui/blob/master/c2corg_ui/format/wikilinks.py when it finds a "users" (or "summits", "huts", etc.) wikilink directly generates a "profiles" or "waypoints" link?

[2016-10-23 09:38] shortoland commented on #767
I translated it without knowning the context. I can easily change it in "Identifiant forum". Do you agree ? Any other suggestion ?

For the moment, we have the fofllowing translations for strings with "username":
Forum username => Pseudo
Username => Identifiant
forum_user username => Identifiant du forum

What would "forum_user username" be ?

[2016-10-23 09:59] asaunier commented on #767
What about simply translating "Forum username" to "Pseudo forum" in French?
It's not an "identifiant" (which is often understood as "login").

Arf, it's used only in the registration form:
https://github.com/c2corg/v6_ui/blob/ce2996f9c5b3c1314f02f9f66b92aa1e9745b213/c2corg_ui/templates/auth.html#L74-L82

In my opinion it's a duplicate string of "Forum username" and  should simply be replaced by "F

[2016-10-23 10:09] shortoland commented on #718
@fjacon Yes, I close the ticket

[2016-10-23 10:09] #718 closed

[2016-10-23 10:11] shortoland commented on #749
At least we have identified the reason. I agree to close the issue.

[2016-10-23 10:11] #749 closed

[2016-10-23 10:19] asaunier commented on #767
I have proposed a fix for "forum_user username", see https://github.com/c2corg/v6_ui/issues/777

Concerning the translation of "Forum username", I think it's up to the translation team and that it's none of the dev team's business, thus should not be reported here. Is there a place for reporting and managing translation issues? In Transifex maybe?

[2016-10-23 10:43] shortoland commented on #767
I have changed translation for "forum username" in "pseudo forum".
I just wanted your opinion for translation, as you know the context very well. Of course I won't ask developpers to help on translations.

And yes, it's possible to report issues in Transifex.

Should we close ?

[2016-10-23 10:49] #767 closed

[2016-10-23 11:00] asaunier commented on #556
Finally the associated routes tracks are no longer displayed in the WP pages. But simplifying uploaded GPX tracks would be useful when users upload really big GPX tracks.

As a result I keep the issue open but have changed its title.

[2016-10-23 11:05] asaunier opened #778 "Outing editing"
* [x] As for now, the date(s) of the outing and the duration text field are placed in the "weather" section:
<img width="968" alt="capture d ecran 2016-10-23 a 13 01 26" src="https://cloud.githubusercontent.com/assets/1192331/19625733/f2531b02-9920-11e6-8c96-dbe3e6eff36c.png">

That doesn't make sense.

A possible solution would be to move the date(s) and duration text field to the first step and

[2016-10-23 13:16] asaunier opened #780 "Cache document editing pages"
AFAIK editing forms (pages for creating/editing a document) are not cached.

It would probably make sense they would because:
- they don't really contain data and thus don't have to be invalidated when the docs change
- the creation form is the same for a given document type whatever the document id
- the editing form slightly changes from a document to another (but could we get the document id/la

[2016-10-23 13:29] asaunier commented on #780
Maybe they are?

I have just tried to make changes in the outing editing form and cannot set my changes until a run the ``clear-cache`` target.

[2016-10-23 14:20] asaunier commented on #769
* [ ] Show (guidebook) moderator rights (what about forum moderator rights?)

[2016-10-23 16:02] stef74 commented on #771
Why you not disable auth and add robot.txt with no index/no follow directive ?

[2016-10-23 16:03] #762 closed

[2016-10-23 16:10] stef74 commented on #131
@asaunier I propose to close ... for toc2 we can create dedicated issue with association label

[2016-10-23 16:13] stef74 commented on #433
So they are not major point ... I push ni next version

[2016-10-23 17:08] tsauerwein commented on #780
See https://github.com/c2corg/v6_ui/pull/552#issuecomment-237853939

Does the development server reload when you make changes to the template files?

[2016-10-23 20:31] asaunier opened #782 "Missing attributes in route pages"
* [ ] attribute ``external_resources`` (text field for book and web resources) is not displayed either in the detail view pages or in the editing form. OK in API https://github.com/c2corg/v6_api/blob/master/c2corg_api/models/route.py#L232 and in common https://github.com/c2corg/v6_common/blob/master/c2corg_common/fields_route.py#L8 => must be added after https://github.com/c2corg/v6_ui/blob/addbe7

[2016-10-23 21:40] asaunier commented on #771
This is the responsibility of the association to decide whether the basic auth should be disabled or not.

robots.txt => see https://github.com/c2corg/v6_ui/pull/784

[2016-10-24 07:17] ginold commented on #690
What browser are you using?

[2016-10-24 07:57] asaunier commented on #780
I didn't set up caching for editing pages (e.g. /waypoints/edit/733087/fr). Edit pages for different documents differ in two lines (the lines where the document id and lang are set). So, a separate page for each document and lang would have to be cached. Because there are less edits than views, and to avoid that the cache is filled up too much, I decided not to cache these pages.

That makes sense

[2016-10-24 08:04] tsauerwein commented on #780
If you could get rid  of document_id/lang, the page could be cached in Redis. But Varnish would create a separate version for each document, because the URL is different. But you could use fragment params for document_id and lang. See also https://github.com/c2corg/v6_ui/issues/554

[2016-10-24 08:07] stef74 commented on #690
I reproduce in FF

[2016-10-24 08:09] asaunier commented on #131
I prefer to leave the issue open because it contains many info and analysis about the tag parsing.

[2016-10-24 08:54] stef74 commented on #428
In mobile the map in advanced search limit the number of resultat (only 1 card) ... and scrolling si very complex (limited area to scroll).

In landscape mode is completely unusable !!!!
![img_0760](https://cloud.githubusercontent.com/assets/3962997/19639283/1e7e1530-99d8-11e6-9b5e-20e23264f3ea.PNG)
![img_0763](https://cloud.githubusercontent.com/assets/3962997/19639284/1e7f56b6-99d8-11e6-8751-35f

[2016-10-24 08:58] stef74 opened #785 "Problem with advance search layout in mobile"
![img_0761](https://cloud.githubusercontent.com/assets/3962997/19639354/74cb0ad8-99d8-11e6-9d0a-db840f493666.PNG)

For me the problem is that you show the map AND the advance filter ... the simple way is not show the map when you show filter ?

[2016-10-24 09:02] ginold commented on #428
yeah this is embarrassing and even more difficult because iphone on safari has it's own bottom bar that cannot be hidden. Maybe we could add a switch to hide/show the map and display only the cards by default?

[2016-10-24 09:03] asaunier commented on #428
@stef74 it has already been reported at https://github.com/c2corg/v6_ui/issues/657
Please use the latter issue instead.

[2016-10-24 09:04] asaunier commented on #785
Duplicate of https://github.com/c2corg/v6_ui/issues/657
Please move your comment to the latter issue.
Closing.

[2016-10-24 09:04] #785 closed

[2016-10-24 09:16] stef74 commented on #657
In landscape mode advanced search is not usable
![img_0763](https://cloud.githubusercontent.com/assets/3962997/19640035/3cbf6a0a-99db-11e6-8a1e-b7eebc464c1e.PNG)

[2016-10-24 09:44] stef74 commented on #657
@ginold as you mentionned in #428 a simple way is on mobile

[2016-10-24 09:54] ginold commented on #736
to be honest, as for now I think it's pretty complicated to do it like this - even though it seems to be the right way. For instance, with the plugin we use (photoswipe) there is no way to get the currently displayed image and therefore its valuable infos -> its ID to get its properties with an API request. In addition, you can cycle through the images and you still don't know what will be the nex

[2016-10-24 10:19] stef74 commented on #736
@ginold this issue is not a priority ... so we can wait to find the "best" solution

[2016-10-24 16:11] shortoland commented on #433
@stef74 Should we close this ticket ?

[2016-10-24 19:53] loicperrin commented on #690
FF 49.0.2 (last version).
Seems to be OK with Chrome.

[2016-10-24 20:13] asaunier commented on #736
@ginold Then how would you handle the images embedded in the documents? See https://github.com/c2corg/v6_ui/issues/712
In that case we have no data about such images... Does it mean that it would not be possible to display the data of those images in the slideshow? What are the minimal information needed by the slideshow to display the images?

[2016-10-25 06:06] desnoes opened #788 "Waypoint 'summit': field 'Proéminence'"
I don't understand the meaning of this field. A text must be added to help the user.
The display of the document is rather confusion. There are 2 fields related to altitude.
The 'Altitude' of the summit => ok, same as in V5
In the section 'Altitudes', there is the field 'Proéminence'. This is totally confusing. What is the altitude of the summit at the end ?

[2016-10-25 06:08] desnoes opened #789 "Waypoint 'summit': field 'Type de rocher' is missing"
cf.  https://docs.google.com/spreadsheets/d/1Q_fl7UQKPMgzlnk5tvAGqrmesrwfA5gges8p25XLes8/edit#gid=1502780869

If this field is not considered any more, please remove it from the spread sheet.

[2016-10-25 06:30] tsauerwein commented on #789
It's defined in the API: https://github.com/c2corg/v6_api/blob/master/c2corg_api/models/waypoint.py#L102-L104

Maybe it's missing in the forms?

[2016-10-25 06:32] tsauerwein commented on #788
For an explanation see for example: https://fr.wikipedia.org/wiki/Hauteur_de_culminance

But yes, it would be good to show a description.

[2016-10-25 07:35] asaunier commented on #788
Perhaps it's simply because it's a silly attribute that no one will ever use or fill in...

[2016-10-25 07:38] desnoes commented on #788
I fully agree with your comment Alex. I would remove this field from the list, it is totally confusing.

[2016-10-25 08:23] dkocich opened #790 "Demo server - feed data loading problem"
As F. said on meeting - now there is error with feed http://c2corgv6.demo-camptocamp.com/ (F. - Firefox, me Chromium)

For me the error is:
![image](https://cloud.githubusercontent.com/assets/6165660/19678077/88de05ec-9a9c-11e6-92b9-51ff03a8b4c7.png)

![image](https://cloud.githubusercontent.com/assets/6165660/19678063/8032cd06-9a9c-11e6-8da1-82752a21948b.png)

"
GET http://c2corgv6-api.demo-campt

[2016-10-25 08:37] asaunier commented on #790
The Apache logs say:

It's probably a memory problem again because of the Discourse instance. I will shut it down.

[2016-10-25 08:40] tsauerwein commented on #790
@arnaud-morvan said something that there is not enough disk space on this server?

[2016-10-25 08:41] asaunier commented on #790
@tsauerwein I think he was talking about the exoscale demo, not the dev server.

[2016-10-25 08:42] asaunier commented on #790
Discourse has been shut down on the dev server and the feed seems OK now.

[2016-10-25 08:45] dkocich commented on #790
I have this problem on localhost also.
![image](https://cloud.githubusercontent.com/assets/6165660/19678921/10291dfe-9aa0-11e6-84c5-f6aec58ddd7d.png)

Are you sure it is not related to this?
http://stackoverflow.com/questions/29547003/angularjs-no-access-control-allow-origin-header-is-present-on-the-requested-r
https://www.w3.org/wiki/CORS_Enabled#For_Apache

[2016-10-25 08:50] asaunier commented on #774
@tsauerwein OK for closing the issue?
It's part of https://github.com/c2corg/v6_api/issues/417

[2016-10-25 09:49] asaunier commented on #754
* [ ] It seems the "add an outing" button at the beginning of the homepage feed is not translated.

[2016-10-25 10:00] stef74 commented on #754
@shortoland could you translate ?

[2016-10-25 10:01] stef74 commented on #754
@ginold what is the ramaining job on this issue ?

[2016-10-25 10:01] asaunier opened #791 "Document attributes"
This issue lists problems with missing/misplaced/incorrectly entitled attributes.
It might also be addressed in combination with the documents organisation issue https://github.com/c2corg/v6_ui/issues/449

Some points are fixed by https://github.com/c2corg/v6_ui/pull/851

## Waypoints
- [ ] ~~attribute 'Proéminence' really relevant?,~~ see https://github.com/c2corg/v6_ui/issues/788
- [ ] missing a

[2016-10-25 10:02] asaunier commented on #789
Closing because moved to issue https://github.com/c2corg/v6_ui/issues/791

[2016-10-25 10:02] #789 closed

[2016-10-25 10:02] asaunier commented on #782
Closing because moved to issue #791

[2016-10-25 10:02] #782 closed

[2016-10-25 10:03] asaunier commented on #788
Closing because moved to issue #791

[2016-10-25 10:03] #788 closed

[2016-10-25 10:04] asaunier commented on #754
All points above that are not checked.

[2016-10-25 10:07] asaunier commented on #754
It's not a translation issue (the string is alread available in the page header). Most likely the string is not marked as to be translated in the source code. See https://github.com/c2corg/v6_ui/blob/master/c2corg_ui/static/partials/feed.html#L19 (missing "translate" directive).

[2016-10-25 10:11] #774 closed

[2016-10-25 10:13] tsauerwein commented on #790
The CORS preflight request failed, because the main request failed. CORS should be set up correctly.

[2016-10-25 10:57] shortoland commented on #603
I changed the translation for "difficulties_height" from "Hauteur des difficultés" to "Longueur des difficultés". But I cannot fond where "Hauteur des difficultés" was used in the demo ...
Anyway, sometimes it's very hard for me to understand the real meaning of english strings.
And as I am not the only translator in english, feel free to check/modify my translations if needed ;-)

[2016-10-25 11:28] ginold commented on #655
In case anyone was wandering why activities cannot be selected anymore sometimes: I found the bug and i will try to fix it soon. Copying the DOM to the sticky-filters causes the problem.

[2016-10-25 11:34] asaunier commented on #771
Suggested by @tsauerwein

[2016-10-25 13:46] #778 closed

[2016-10-25 14:18] desnoes opened #792 "Route creation: Field 'Matériel de sécurité sur glacier'"
When creating a route (ski), the field 'Matériel de sécurité sur glacier' appears in the 'Configurations' block (see picture). It should no be in this list.
![field matos glacier](https://cloud.githubusercontent.com/assets/19892089/19689747/b29e5fbc-9ace-11e6-9dbf-465446bd245d.jpg)

[2016-10-25 14:30] asaunier commented on #792
That's because the original string (``glacier``) is used for 2 sets of attribute values:
* ``glacier_gear_types`` => https://github.com/c2corg/v6_common/blob/master/c2corg_common/attributes.py#L298
* ``route_configuration_types`` => https://github.com/c2corg/v6_common/blob/master/c2corg_common/attributes.py#L310

The translations is shared between those 2 values.
Since the translation should not b

[2016-10-25 15:00] asaunier commented on #771
As for now the basic auth protection is added to https://github.com/c2corg/v6_ui/blob/master/apache/wsgi.conf.in like this:
[code]

Adding
[code]
(see http://stackoverflow.com/questions/8978080/htaccess-exclude-one-url-from-basic-auth)
like this
[code]
seems to skip the basic auth for ``profiles/data/`` URLs. It is then possible to access the profiles pages without being bothered again by the basi

[2016-10-25 15:11] asaunier opened #793 "Non-public profiles are not shown to auth users in demo instances"
In dev instances (using pserve), non-public profiles are displayed as expected when authenticated.

In demo instances (using apache), even when browsing as an authenticated user, such pages keep returning "This profile is only available to authenticated users."

When requesting the UI ``profile/data`` service https://github.com/c2corg/v6_ui/blob/master/c2corg_ui/static/js/userprofile.js#L62-L65 th

[2016-10-25 15:14] tsauerwein commented on #793
The API is also served with Apache and there we receive the `Authorization` header?

[2016-10-25 15:29] asaunier commented on #793
Yes that's weird.
Investigating...

[2016-10-25 16:24] asaunier commented on #793
I have found other people complaining that Apache had stripped the ``Authorization`` header out:
http://stackoverflow.com/questions/26549250/apache-strips-down-authorization-header
http://stackoverflow.com/questions/13387516/authorization-header-missing-in-django-rest-framework-is-apache-to-blame

It seems that Apache does so by default for security reasons. One may prevent this behaviour using
[c

[2016-10-25 16:55] asaunier commented on #771
PR #794 fixes the problem with Apache, stripping the ``Authorization`` header out (#793).

But when the basic auth is enable we now have a conflict between the usual v6 ``JWT`` auth token (passed in the ``Authorization`` header) and the basic auth ``Authorization`` header:
* when authenticated the UI ``profile/data`` service receives the JWT token in the ``Authorization`` header (eg. ``JWT token="

[2016-10-25 16:55] shortoland commented on #792
I have modified the translation according to Alex's remark.

This kind of problem appears many times in the demo website. One word/string shouldn't be used several times. Do you know if there is already an opened ticket for this global problem ?

[2016-10-25 16:56] asaunier commented on #793
PR #794 fixes the problem with Apache.

But there is then an ``Authorization`` header conflict when the Basic Auth is on: see https://github.com/c2corg/v6_ui/issues/771#issuecomment-256094288

[2016-10-25 17:27] asaunier commented on #792
I don't think so. Feel free to create one and list the conflicts you have found.
Perhaps it's related to https://github.com/c2corg/v6_ui/issues/705 ?

[2016-10-25 17:39] shortoland commented on #792
@asaunier That's it.

[2016-10-25 17:44] asaunier commented on #131
Tutorial about extending python-markdown: https://github.com/waylan/Python-Markdown/wiki/Tutorial:-Writing-Extensions-for-Python-Markdown

[2016-10-25 18:12] stef74 commented on #433
If no action still needed ... yes :-)

2016-10-24 18:11 GMT+02:00 shortoland <notifications@github.com>:

[2016-10-25 18:20] stef74 commented on #690
I reproduce on FF

The first point for me is fixed
​

2016-10-24 9:17 GMT+02:00 ginold <notifications@github.com>:

[2016-10-25 18:49] #433 closed

[2016-10-25 21:42] asaunier commented on #754
* [ ] weird action description:
<img width="555" alt="capture d ecran 2016-10-25 a 23 41 22" src="https://cloud.githubusercontent.com/assets/1192331/19705411/af2c4996-9b0c-11e6-8a5b-3744f55296e1.png">

[2016-10-26 06:00] desnoes opened #797 "WP creation : field 'Document quality'"
I created an access WP and observed an error in the field 'Document Quality'. In the list, one finds 'Service regulier' which is an option normally devoted to the field 'Accessibilité en transports en commun'. There is maybe a traduction error with Transiflex (cf. https://github.com/c2corg/v6_ui/issues/792).

[2016-10-26 06:03] desnoes commented on #797
i have the same bug with the creation of an outdoor climbing site

[2016-10-26 06:11] desnoes opened #798 "WP creation: field 'capacity_staffed' in shelter"
When i create a shelter, the field 'capacity_staffed' is displayed while it is not listed in the specifications (https://github.com/c2corg/v6_common/blob/master/c2corg_common/fields_waypoint.py). It should be remode, there is not custodian in this case.

[2016-10-26 08:25] asaunier commented on #797
That's exactly the reason of the problem!

Concerning the problem reported by @desnoes I notice that ``good`` is used as a value of
* ``quality`` https://github.com/c2corg/v6_common/blob/master/c2corg_common/attributes.py#L601
* ``public_transportation_ratings`` https://github.com/c2corg/v6_common/blob/master/c2corg_common/attributes.py#L107
* ``condition_ratings`` https://github.com/c2corg/v6_com

[2016-10-26 08:32] asaunier commented on #705
Several mis-translations reported above are caused by list values that are the same for several attributes in the source code but are translated differently. For instance:

* [ ] https://github.com/c2corg/v6_ui/issues/792
``glacier`` is used for 2 sets of attribute values:
 * ``glacier_gear_types`` => https://github.com/c2corg/v6_common/blob/master/c2corg_common/attributes.py#L298
 * ``route_confi

[2016-10-26 08:33] asaunier commented on #792
Closing because transfered to https://github.com/c2corg/v6_ui/issues/705#issuecomment-256283109

[2016-10-26 08:33] #792 closed

[2016-10-26 08:34] asaunier commented on #797
Closing because transfered to https://github.com/c2corg/v6_ui/issues/705#issuecomment-256283109

@desnoes @shortoland please now report such problems in the existing issue https://github.com/c2corg/v6_ui/issues/705

[2016-10-26 08:34] #797 closed

[2016-10-26 09:01] ginold commented on #754
^ maybe look at #786

[2016-10-26 09:15] asaunier commented on #771
Should I test that the ``Authorization`` actually starts with ``JWT token`` (as in https://github.com/c2corg/v6_ui/blob/master/c2corg_ui/static/js/auth/authservice.js#L311) at https://github.com/c2corg/v6_ui/blob/master/c2corg_ui/views/profile.py#L90 ?

[2016-10-26 09:23] asaunier opened #800 "Make "quality" and "change comment" more obvious in the editing form"
As for now the "quality" and "change comment" inputs in the WP editing form are placed in a dedicated step at the very end of the form. Since people can save the form from any step, it's most likely that many won't even notice this final step and fill those inputs in.

We should probably move them to another step or make sure the "save" button is not clickable until the step is reached.

Probably

[2016-10-26 09:25] tsauerwein commented on #771
Also with the config in https://github.com/c2corg/v6_ui/issues/771#issuecomment-256060707 to ignore`/profiles/data/`, do you get the Basic Auth Authentication header?

[2016-10-26 09:26] asaunier commented on #771
Yes, when basic auth is on, even with ``Require expr %{REQUEST_URI} =~ m#^/profiles/data/.*#`` the basic auth header is passed to ``profiles/data`` and forwarded to the API.

[2016-10-26 09:37] tsauerwein commented on #771
Aye, I am afraid we can't use Basic Auth together with the JWT token. I think we should focus on https://github.com/c2corg/v6_ui/pull/784

[2016-10-26 09:42] asaunier commented on #771
Yes, or we could simply warn the client that there are conflicts with the Basic Auth when loading profiles as anonymous user (I think it's OK when authenticated) which make their rendering not correct in that case. But it's maybe not a big issue, the rest of the UI is not impacted I think.

I think the PR is ready. Feel free to review it :)

[2016-10-26 12:28] tsauerwein opened #801 "Style for map tools looks broken (FF)"
![c2corg-map-tools](https://cloud.githubusercontent.com/assets/266474/19725865/6214f348-9b88-11e6-9b41-a400e7dffa1f.png)

It looks better on Chrome.

[2016-10-26 13:16] #793 closed

[2016-10-26 13:59] #765 closed

[2016-10-26 15:44] asaunier opened #803 "Categories in article editing"
I have noticed several problems with the ``categories`` in the editing form:
* [x] attribute name is ``categories``, not ``article_categories`` => the field is never set in the editing form and changes are never saved (since not pushed with the right name to the API)
* [x] the field i18n name should be ``categories``, not ``article_categories`` as well (the actual attribute name should generally b

[2016-10-26 16:05] asaunier commented on #131
I have the feeling that using both bbcode and markdown formatting is a nonsense:
* it complicates the understanding by users because 2 systems are used whereas only one should be enough
* it will probably complicate the addition of a set of buttons used to help people add such formatting
* it may cause conflicts. For instance the bbcode parser unexpectedly replaces the image URLs (added by the ``[

[2016-10-26 16:26] asaunier opened #804 "Associated images are missing in articles"
The API actually returns images in the ``associations`` attribute.
But no associated image is displayed (carousel) in the article detail view pages.

See for instance http://c2corgv6.demo-camptocamp.com/articles/224203/fr/noeud-de-pecheur
and the API response: http://c2corgv6-api.demo-camptocamp.com/articles/224203?l=fr

I think the images are simply not included in the detail view template https:

[2016-10-26 18:53] asaunier opened #805 "Open embedded images in a slideshow"
Sequel of https://github.com/c2corg/v6_ui/issues/712 and https://github.com/c2corg/v6_ui/pull/775

The PR above add the support of the `[img]` tags, used to embed images in a document.
When a caption is provided, it is made clickable and points to the image detail view page.

![sans titre](https://cloud.githubusercontent.com/assets/1192331/19739992/45f07a22-9bbd-11e6-91c0-918dd9189aef.png)

As for

[2016-10-26 21:21] asaunier commented on #798
Closing because transfered to https://github.com/c2corg/v6_ui/issues/791

[2016-10-26 21:21] #798 closed

[2016-10-26 21:29] asaunier commented on #771
Change described at https://github.com/c2corg/v6_ui/issues/771#issuecomment-256060707 has been applied to the demo on our dev server: http://c2corgv6.demo-camptocamp.com/

Profiles (public or not) are now displayed as expected when the visitor is an authenticated user.
When browsing anonymously, profiles (public or not) are not displayed as expected (but at least there is no basic auth error or pr

[2016-10-26 21:29] #771 closed

[2016-10-27 00:05] asaunier commented on #705
@shortoland

OK I'm renaming all the "service" values to change "seasonal" to "seasonal service", "no" to "no service" etc. Those strings will have to be retranslated in Transifex when the PR (changes) are merged.

Actually it is. But it's not correctly understood by the tool we use to translate the UI in browsers.
It seems ``&`` is not accepted. I have changed "Types & styles" to "Types and style

[2016-10-27 06:03] desnoes commented on #791
Waypoint
- [ ] 'paragliding_takeoff' and 'paragliding_landing': field 'ground_types' is missing
- [ ] 'weather_station' : display issue in the 'Types & Styles' section. 2 fields are overlapping. Is the title 'Types & Styles' correct ?

[2016-10-27 08:20] ginold commented on #805
:ok_hand:  looks badass

[2016-10-27 09:09] asaunier opened #808 "Capitalize some of the translated strings"
Many translated strings in the code are not correctly upper-cased (whereas the Transifex translations are).
The rule should be: same case for the code strings and the translations.

It would make sense to review the code and upper-case some of those code strings.
Please note that the existing translations for those changed strings are lost, not completely thanks to Transifex's translation memory b

[2016-10-27 09:19] #674 closed

[2016-10-27 09:29] asaunier commented on #801
Honestly I am not a CSS expert. I don't think I am the good one to be assigned to this issue :P

[2016-10-27 09:31] fjacon commented on #790
can we close this ticket ?
The feed seems ok now

[2016-10-27 09:41] asaunier commented on #791
@desnoes See https://github.com/c2corg/v6_ui/issues/705#issuecomment-256511717

[2016-10-27 09:45] fjacon commented on #243
@ginold : Toutes les corrections ont été faites ?

[2016-10-27 09:50] ginold commented on #243
je crois que #697 a apporté des améliorations mais je n'ai pas eu de retour.

[2016-10-27 10:18] asaunier opened #809 "Detail view page of images with no title cannot be loaded"
@dkocich reported at https://github.com/c2corg/v6_ui/pull/807#issue-185611873 that

Indeed for images with no title, the URL of the image cards has no slug. Which prevent the page from loading. For instance:
http://c2corgv6.demo-camptocamp.com/images/813301/fr/
same problem with http://c2corgv6.demo-camptocamp.com/images/813301/fr (no trailing / ) => it redirects to the former URL.

OK if adding a

[2016-10-27 10:40] asaunier opened #810 "Default map baselayer?"
As for now OSM is the default map base layer.

Do we really meet their usage policy, mainly concerning the traffic? Other points of http://wiki.openstreetmap.org/wiki/Tile_usage_policy#Requirements are OK I think.

I don't remember if we had considered using another default base layer? Bing? Esri Maps?

See https://github.com/c2corg/v6_ui/issues/67

[2016-10-27 10:46] #712 closed

[2016-10-27 11:08] asaunier commented on #771
@arnaud-morvan @fjacon

Do you think it is worth committing this change in https://github.com/c2corg/v6_ui/blob/master/apache/wsgi.conf.in
[code]
or is it OK to apply it by hand in the exoscale demo? You should already have some manual changes since the basic auth is on in this demo.

If we commit it, it should be mentioned in https://github.com/c2corg/v6_ui/issues/639 in order to revert it before

[2016-10-27 12:15] #804 closed

[2016-10-27 12:15] tsauerwein commented on #810
Mapbox has a really nice basemap: https://www.mapbox.com/maps/outdoors/

The association could inquire if they get a license for free.

Otherwise the Esri Map would also be ok as default base map.

[2016-10-27 12:29] asaunier commented on #810
I meant "a default base layer among the existing base layers" :P

OK, so we could switch to Esri Map by default. I don't remember their terms of use either.
@stef74 OK for you?

[2016-10-27 12:33] #803 closed

[2016-10-27 12:54] asaunier commented on #754
It seems that all points of this issue has been addressed, except

Perhaps we will have to pass some kind of permalink to the address bar?

I suggest to wait for the user feedbacks before doing anything.

Closing the issue, please reopen if something is still missing.

[2016-10-27 12:54] #754 closed

[2016-10-27 15:44] stef74 commented on #810
You’re limited to 50,000,000 transactions in a twelve month

2016-10-27 14:40 GMT+02:00 Stephane Peiti <stephane.peiti@gmail.com>:

[2016-10-27 15:47] stef74 commented on #810
ok for switching to ESRI I remeber terme of use is OK

2016-10-27 14:29 GMT+02:00 Alex Saunier <notifications@github.com>:

[2016-10-27 17:59] asaunier commented on #603
@shortoland OK for closing this issue?

[2016-10-27 21:49] asaunier commented on #706
Indeed

Makes sense

By the way I see other weird things:
* [ ] min / max heights of routes translated to "altitude min / max" (perhaps the string in the code is "min / max elevation" insteaf of "min / max height"? And the section title is "elevation" / "altitude" instead of "height"
* [ ] do we really need that many different sections? Or at least it's no use repeating the section name in the att

[2016-10-27 21:59] asaunier commented on #663
According to https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Frame-Options

X-Frame-Options: DENY
X-Frame-Options: SAMEORIGIN
X-Frame-Options: ALLOW-FROM https://example.com/

It should be passed as an HTTP header, not as an HTML meta. In apache:
[code]
in nginx:
[code]

Please note that the UI also uses iframes for the ad banners (same domain iframes) and - I think - for authenticatin

[2016-10-27 22:01] asaunier commented on #625
Closing the issue because the related PRs have been merged.

[2016-10-27 22:01] #625 closed

[2016-10-27 22:10] asaunier commented on #390
Is there an icon for:
* [ ] articles
* [ ] areas
* [ ] books
* [ ] xreports  (accident reports)
?

I think I had the case of a missing article icon in the homepage feed timeline.

[2016-10-27 22:14] asaunier commented on #211
A minimal print layout has been provided by https://github.com/c2corg/v6_ui/pull/783 for document detail view pages.

It could be improved but is at least quite usable. Perhaps small fixes that could be added soon:
* [ ] the logo is sometimes misplaced, especially when there are several pages
* [ ] remove printed maps list?

[2016-10-27 22:28] asaunier commented on #305
I have set this issue to milestone 6.1 because without those shortcuts people will have a hard time writting the correct markdown (and bbcode?) syntax.

By the way for such tools it would make sense to rely on an existing JS library.
After a quick search I have found:
* https://www.npmjs.com/package/angular-markdown-editor / https://github.com/ghiscoding/angular-markdown-editor / demo : http://pln

[2016-10-27 22:29] asaunier commented on #131
An other argument for getting rid of the bbcode: it will make things even more complicated when we will add a text formatting wizard/editor! See https://github.com/c2corg/v6_ui/issues/305

[2016-10-27 22:39] asaunier commented on #131
I set this issue to milestone golive because it requires changes in the migration script, at least for some tag converting https://github.com/c2corg/v6_api/issues/417

[2016-10-28 06:40] ginold commented on #808
* uppercase = UPPERCASE
* capitalize = Capitalize

I think we sometimes use the same capitalized string where it should not - we could create a second filter in `filters.js` (capitalize already exists) and use it to lowercase/capitalize where needed.

[2016-10-28 06:41] ginold commented on #801
i guess i am :P

[2016-10-28 07:41] asaunier commented on #808
capitalize = Capitalize

OK thanks. I have updated the title :)

Do we have that many cases of strings that are sometimes lowercase, sometimes capitalize?
I would say that it's not that common.

[2016-10-28 07:41] #810 closed

[2016-10-28 08:35] asaunier opened #814 "Impossible to add new images to an outing?"
It seems not possible to add a new image to an existing outing:
* the image is actually uploaded, and the thumbnail is added to the carousel
* but when reloading the page, the new image does not appear. In the UI logs, the API reports that "ETag match, returning 304 HTTP Not Modified Response", the associations are actually unchanged in the API response.

No problem with route detail view pages fo

[2016-10-28 08:36] asaunier commented on #727
Associated images are actually displayed in the outings detail view page, as expected.

On the other hand it seems not possible to add a new image to an existing outing:
* the image is actually uploaded, and the thumbnail is added to the carousel
* but when reloading the page, the new image does not appear. In the UI logs, the API reports that "ETag match, returning 304 HTTP Not Modified Response"

[2016-10-28 08:36] #727 closed

[2016-10-28 08:47] tsauerwein commented on #814
Was the image uploaded/created correctly? E.g. can you check that it was created in the database?

[2016-10-28 09:01] tsauerwein commented on #801
Another problem (noticed with Chrome): The recenter and filter box might overlap.
![c2corg-map-tools-overlap](https://cloud.githubusercontent.com/assets/266474/19801051/d8598f5c-9cfd-11e6-975b-a0f7b9eb725e.png)

[2016-10-28 09:09] asaunier commented on #801
This is not limited to Chrome. It always happens when the map is too narrow (especially since the French translation is longer than the original string).
Perhaps we should rethink where the map tools are placed.

[2016-10-28 09:27] asaunier commented on #814
The image is correctly uploaded and created. It is added to the database. The image document is created as expected (I can load the image page in my browser).

But the API keeps omitting the image when answering the outing detail request. I have flushed the API cache ("clear-cache") and the new image is still not added to the outing's ``associations`` attribute.

Looks like an API issue, right?

[2016-10-28 09:33] tsauerwein commented on #814
Has the association between the outing and the image been created?

[2016-10-28 09:35] asaunier commented on #609
I still observe the problem.

For instance this outing has associated images http://www.demov6.camptocamp.org/outings/813273/fr/dalle-a-bornet-sortie-des-artistes
for instance http://www.demov6.camptocamp.org/images/813281/fr/dalle-a-bornet.-sortie-des-artistes.-de-la-vire. (first in the slideshow) but no associated outing is mentioned in the image detail view.

[2016-10-28 09:37] tsauerwein commented on #609
The API includes the outings:
http://api.demov6.camptocamp.org/images/813281

[2016-10-28 09:39] asaunier commented on #814
It seems not!

[2016-10-28 09:45] asaunier commented on #609
OK so it means there is a problem on the UI side.

[2016-10-28 11:21] asaunier commented on #692
Seem to be fixed by https://github.com/c2corg/v6_ui/pull/799

[2016-10-28 11:50] asaunier commented on #769
@ginold do you think you could have a look at

[2016-10-28 12:40] asaunier commented on #809
@tsauerwein suggested:

[2016-10-28 12:41] tsauerwein commented on #814
The problem with the API, could you please test with the UI?

[2016-10-28 12:53] asaunier commented on #814
It now works as expected. Thanks for the fix!

[2016-10-28 12:53] #814 closed

[2016-10-28 13:05] asaunier opened #816 "Feed update when adding images to an outing"
(maybe rather an API question)

I have uploaded images to 2 outings (made no other change in the outings) and the feed reports that I have updated those outings. Shouldn't it report that I have added images to them, instead?

On the other hand I have also uploaded images to a route previously and the feed actually reports that I have added images to it.

![sans titre](https://cloud.githubuserconte

[2016-10-28 13:16] #692 closed

[2016-10-28 14:35] asaunier opened #818 "Feed refresh while scrolling is broken"
Since PR https://github.com/c2corg/v6_ui/pull/799 has been merged the homepage and userprofile feeds are no longer refreshed when scrolling (infinite scrolling). The feed seems to be loaded once and that's it.

I have tested the commits of the PR one by one. The problem seems to have been introduced by https://github.com/c2corg/v6_ui/commit/ee0dd21589a764c1dc82d2b9df13ad1cbbd8fb39

[2016-10-28 15:35] asaunier commented on #715
I have suggested a fix with https://github.com/c2corg/v6_ui/pull/819 => the permissions for using the "edit" button are the same than for using the "image upload" button. If you can edit the page, you can also add images.

[2016-10-28 15:42] #809 closed

[2016-10-28 18:36] asaunier commented on #555
``username`` is no longer passed to the UI.

[2016-10-28 18:36] #555 closed

[2016-10-31 16:06] ginold commented on #769
Yes I'm working on it right now

[2016-10-31 16:09] ginold commented on #657
@asaunier what do you think of this issue as #799 has been merged?

[2016-10-31 16:10] ginold commented on #801
- [ ] on mobile landscape mode - the map is a bit too hight and it's impossible to access the top buttons

[2016-10-31 16:48] ginold commented on #390
I don't see any icons for those document types. If there are not - should I look for one in the bootstrap's default icons? create one myself? ask our design company to do it?

[2016-10-31 16:59] ginold commented on #816
how is that a UI question? it seems to be an API issue - not returning feed as it should ? Or it depends which point of view you take: might be UI if you're asking if the feed displayed is how we want it to be. :walking_woman:

[2016-11-01 17:57] loicperrin opened #825 "Problems with WP"
Here are some problems with WP:
- [ ] the V5 field "Accès routier" should be migrated into the V6 field "Abstract" (which should be renamed "Acces routier" in case of WP = Access)
- [ ] the V6 field "Acces" should be renamed "Acces TC" (OK if we can do it in Transifex, but please check that it is not a common name used elsewhere)
- [ ] the field "Type de transport en commun" should be displayed on

[2016-11-01 21:36] celinestern opened #826 "Problems with outing"
Error in terms:
* Évaluation des conditions; quantité et qualité de la neige: service régulier au lieu de bonnes; service réduit au lieu de mauvaises
* closed_hut au lieu de fermé
* Qualité du document: fine au lieu de bon
* Parcours partiel: true au lieu de oui
* Cotation glacier au lieu de état glacier?

Case impossible to select:
* transport en commun

[2016-11-02 06:43] HSERGERAERT commented on #826
- Évaluation des conditions; quantité et qualité de la neige: service
   régulier au lieu de bonnes; service réduit au lieu de mauvaises
   - closed_hut au lieu de fermé
   - Qualité du document: fine au lieu de bon
   - Cotation glacier au lieu de état glacier?

These four translations have been corrected in Transiflex.

Le 1 novembre 2016 à 22:36, celinestern <notifications@github.com> a écrit :

[2016-11-02 08:35] asaunier commented on #657
I think it's better to keep it open until further testing is done by the association.

[2016-11-02 08:37] stef74 commented on #657
When is avalaible on demo server ?

2016-11-02 9:35 GMT+01:00 Alex Saunier <notifications@github.com>:

[2016-11-02 08:40] asaunier commented on #657
No idea. @fjacon @arnaud-morvan ?

[2016-11-02 08:44] asaunier commented on #390
It seems such icons are not provided.

@fjacon can we ask the designer for those icons?
@ginold can you see bootstrap icons that could match?

[2016-11-02 08:46] #818 closed

[2016-11-02 08:48] asaunier commented on #816
Yes, that's most likely an API issue but I wanted to make it appear in the UI issues as well because testers might anyway report it here.

I have just created an API issue for this: https://github.com/c2corg/v6_api/issues/464

[2016-11-02 08:54] #715 closed

[2016-11-02 09:00] #603 closed

[2016-11-02 09:02] stef74 commented on #408
@loicperrin @shortoland please test and close

[2016-11-02 09:42] ginold commented on #390
the bootstrap's icon that could pass:

accidents: `glyphicon-exclamation-sign` or `glyphicon glyphicon-alert`
books: `glyphicon glyphicon-book`

[2016-11-02 10:54] asaunier commented on #390
Indeed, thanks.
What about using the icon from v5?
https://github.com/c2corg/camptocamp.org/blob/master/web/static/images/svg/xreports.svg

:+1:
The v5 icon is ugly.

For areas, let's use the v5 icon: https://github.com/c2corg/camptocamp.org/blob/master/web/static/images/svg/areas.svg

For articles, the v5 icon is https://github.com/c2corg/camptocamp.org/blob/master/web/static/images/svg/articles.

[2016-11-02 10:59] ginold commented on #390
v5 icons could be a good option, but they are much different from the ones we use - they are not 'flat'. Should I import and use them 'as is' or should I flatten them and make them more similar to the others?

[2016-11-02 11:04] asaunier commented on #390
As you want but improving those icons is a low priority task. Don't spend too much time on this.

By the way, do we really need those icons? For xreports, for sure since they will be shown on a map. But what about areas, articles and books? In detail view pages, such icons are not shown, only badges, right? Where else do we use icons?

[2016-11-02 13:13] stef74 commented on #243
@shortoland @loicperrin @desnoes could you test and close

[2016-11-02 13:15] stef74 commented on #655
@shortoland @loicperrin could you retest please

[2016-11-02 13:16] stef74 commented on #646
what is the status on this issue ?

[2016-11-02 13:19] asaunier commented on #655
I don't think http://www.demov6.camptocamp.org/ is up to date and takes the fix into account...

[2016-11-02 13:21] stef74 commented on #769
@ginold what is the status ?

[2016-11-02 13:53] arnaud-morvan commented on #646
Note that I've just stopped forum.demov6.camptocamp.org, to restore the new imported database.
Forum will be restarted as soon as database restore finish.

It is already needed to allow popups for the domain.

I do not see any reason to keep this issue open.

[2016-11-02 14:00] ginold commented on #769
not merged yet, but you can see the expected result under https://github.com/c2corg/v6_ui/pull/822

[2016-11-02 15:00] #733 closed

[2016-11-02 15:21] #646 closed

[2016-11-02 15:23] stef74 commented on #826
could you please use task list check box ( see on bar menu ) it's more easy to follow ;-)

[2016-11-02 17:15] shortoland commented on #706
I have changed the translations for "altitude min / max" and "Altitudes"

[2016-11-02 18:05] asaunier opened #828 "The comments section is missing in images detail view pages"

[2016-11-03 09:03] #828 closed

[2016-11-03 09:42] asaunier opened #831 "How to change closed/open sections status in detail view pages"
@ginold I know that the association would like to change the default status (open/closed) of some sections in the outings or other detail view pages.

I don't know what sections are concerned so no need to do such changes now, but could you explain in this issue how this default status is set in the detail view pages? What makes a section closed or open at page loading? Thanks!

[2016-11-03 09:45] #801 closed

[2016-11-03 09:50] asaunier commented on #805
@ginold I have assigned this issue to you (and me as supporter) because you seems to be the one that knows best how we could open those embedded image in the slideshow.
I think this will imply to make changes in the ``[img]`` tag parser:
https://github.com/c2corg/v6_ui/blob/master/c2corg_ui/format/img.py#L41-L86
to add the HTML code that will open the slideshow when clicking the image.
I can also

[2016-11-03 09:57] asaunier opened #832 "Unexpected association removal button in outing editing form"
See step 2 of http://c2corgv6.demo-camptocamp.com/outings/edit/815730/fr
and bottom right corner of this capture:
![sans titre](https://cloud.githubusercontent.com/assets/1192331/19961696/3efc522a-a1b4-11e6-9f44-ef893e66debd.png)

Don't know how to reproduce this and if it concerns other outings or document types.

[2016-11-03 10:02] ginold commented on #831
Easy:

it works with the bootstrap's `data-toggle`  and `data-target`. For example:

`<div data-toggle="collapse" data-target="#divToToggle"></div>`
`<div class="class="collapse in" id="divToToggle"></div>`

clicking on the first div will open/close the #divToToggle. It is closed by default if the class is "collapse" and open if it has both "collapse in", bootstrap works with those classes and tak

[2016-11-03 10:02] asaunier commented on #826
closed_hut au lieu de fermé
Qualité du document: fine au lieu de bon
Parcours partiel: true au lieu de oui
Cotation glacier au lieu de état glacier?

All this items have been reported in https://github.com/c2corg/v6_ui/issues/705 and fixed in the mean time either in Transifex or by some changes in the code. The official demo is maybe not up to date, but it's OK in the old demo (which is up to date

[2016-11-03 10:09] asaunier commented on #831
OK, it seems quite simple, thanks :)

I leave the issue open because it might be useful to the association dev team.

[2016-11-03 11:09] asaunier opened #834 "Add the geonames search tool in editing maps"
In order to ease the recentering on a location near where the WP or route is located.

[2016-11-03 11:12] asaunier commented on #825
That does not sound very relevant to me. The "abstract" attribute should be used for... abstracts, not access descriptions.

V5's "Accès routier" is actually the "description" attribute. In v6 it remains in the same "description" attribute (with the accommodation info): https://github.com/c2corg/v6_api/blob/master/c2corg_api/scripts/migration/documents/waypoints/parking.py#L84-L85

Renaming the at

[2016-11-03 11:24] asaunier commented on #790
I don't observe this problem on any instance (mine + the demos) => closing. Please reopen if the problem can be reproduced.

[2016-11-03 11:24] #790 closed

[2016-11-03 11:26] asaunier commented on #825
This issue is related to https://github.com/c2corg/v6_ui/issues/791

[2016-11-03 11:28] asaunier commented on #791
More WP attribute issues: https://github.com/c2corg/v6_ui/issues/825

[2016-11-03 11:31] #832 closed

[2016-11-03 11:31] asaunier commented on #769
This part is not done yet because changes in the API are still required (low prio): https://github.com/c2corg/v6_api/issues/463

"forum moderator rights" info is not available (part of Discourse, not in the API).

[2016-11-03 11:47] asaunier commented on #753
Complements to this issue:
* depending on the document type (+ some additional attribute for images or articles), the licence of the document should be made obvious in the detail view pages.
* see the CC logo (depends on the licence of the document) at the bottom of http://www.camptocamp.org/routes/211687/fr/mont-de-grange-traversee-bel-air-coicon
* something similar is needed for v6 (logo + text

[2016-11-03 11:55] asaunier commented on #742
I guess we should URL-encode the values of the criterias when adding them to the URL
https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Objets_globaux/encodeURIComponent

Perhaps here: https://github.com/c2corg/v6_ui/blob/master/c2corg_ui/static/js/search/searchfilters.js#L175

@tsauerwein would it make sense to do it in ``ngeo.Location``?
https://github.com/camptocamp/ngeo/blob/master

[2016-11-03 12:02] asaunier commented on #690
It's not. In the outings advanced search page, outings are still order from the the newest to the oldest vertically (columns) but not horizontally (rows). Outings at the top of the list should be the newest, whatever the column.

@ginold do we have a solution for this?

[2016-11-03 12:07] asaunier commented on #655
@ginold could you have a look at the list in https://github.com/c2corg/v6_ui/issues/655#issue-179596500 and, if relevant, check items that have been fixed by your recent changes on the advanced search pages?

[2016-11-03 12:15] asaunier opened #836 "Permissions to add/remove associations in a detail view page"
As for now it seems that:
- [x] anyone (if auth) may add or remove a route association in an outing, even though they are not associated to the outing or moderators (clearly not OK)
- [x] anyone (if auth) may remove an association from a collaborative document (ditto for personal docs I guess). Is it OK?

What about outing associations in image detail view pages? See https://github.com/c2corg/v6_u

[2016-11-03 12:22] asaunier commented on #427
It seems that all points of this issue have been addressed. Closing.

[2016-11-03 12:22] #427 closed

[2016-11-03 12:25] asaunier commented on #791
Additional points moved from https://github.com/c2corg/v6_ui/issues/411#issuecomment-247082807 (perhaps already addressed?):

- [ ] Rocher haute montagne: field 'longueur de l'itinéraire is missing.ex: http://c2corgv6.demo-camptocamp.com/routes/736982/de/essai-alpha-3-climbing

- [ ] Hiking, snowshoeing, VTT: field 'Hauteur des difficultés' is included while it was not considered in https://docs.g

[2016-11-03 12:25] asaunier commented on #411
Closing because remaining points have been moved to https://github.com/c2corg/v6_ui/issues/791#issuecomment-258128441

[2016-11-03 12:25] #411 closed

[2016-11-03 12:28] asaunier commented on #398
@stef74 @shortoland @loicperrin are there still missing data in the cards?
Please use checklist, else it's hard to figure out what has been done and what has not.

[2016-11-03 12:32] asaunier commented on #390
I guess we need them, at least of the feed timeline?

[2016-11-03 12:46] ginold commented on #800
what do you think about putting both fields into a modal window after clicking on save?

 - click on save
 - modal appears with "document quality" and "change comments"
 - click one more time to approve the saving

Get rid of the "review" step.

[2016-11-03 12:51] ginold commented on #753
this can be put just before the comments or just after the description text. Or add one row to the 'information block' with 'licence : CC BY SA' and tooltip with the explanation text.

[2016-11-03 12:54] ginold commented on #390
- xreports - needed
- articles - icon would be needed to put into the side menu!
- books - same as above? and below (if there will be a books/index.html list page).
- areas - 'might be useful' to put them into the cards "parce que c'est joli", if not they are a little empty with just some text. The best would be to have an appropriate icon for each area type.

[2016-11-03 12:57] ginold commented on #655
nothing new to check.

[2016-11-03 13:06] dkocich commented on #593
Maybe something like this can be used? https://chieffancypants.github.io/angular-loading-bar/

[2016-11-03 13:11] ginold commented on #690
not yet, I will have to look deeper into this problem.

[2016-11-03 13:14] asaunier commented on #753
:+1:
Please use the CC logo, not "licence : CC BY SA"

[2016-11-03 13:18] asaunier commented on #390
There will be an advanced search page for books. But in the guidebook section (as for route, WP, etc.). No dedicated entry in the sidemenu as for articles.

That's not that useful. Only one icon for all area type is OK.

[2016-11-03 13:22] asaunier commented on #593
That looks great indeed!
Would be useful for https://github.com/c2corg/v6_ui/issues/456#issuecomment-247940897 as well

[2016-11-03 13:23] asaunier commented on #456
Something like https://chieffancypants.github.io/angular-loading-bar/ (but perhaps only works for ``$http`` requests?).

[2016-11-03 13:25] ginold commented on #690
It seems that it cannot be fully solved with pure CSS (http://stackoverflow.com/questions/5234749/css-floating-divs-at-variable-heights). I managed to do something like this which is not that bad:

![screenshot from 2016-11-03 14-18-35](https://cloud.githubusercontent.com/assets/7814311/19967438/7e3e3d92-a1d0-11e6-9456-971893414c40.png)

however, as you can see, the cards are not perfectly stacked

[2016-11-03 13:26] asaunier commented on #800
That looks like a good idea.
Well it adds a click to save a document but at least it makes those 2 (metadata) attributes more obvious indeed. And having the ``quality`` attribute set correctly is important.

So OK for me.

+1 anyway!

[2016-11-03 13:32] ginold commented on #753
BY - attribution
SA - share
ND - not commercial
NC - no changes
NY - ??? i only find new york :P

[2016-11-03 13:32] fbunoz commented on #791
There is no proeminence data base on line, only some excel sheet downloadable. We have a good summit database. It is useful to use this database to make a proeminence database.
Then, this field must not be removed.

[2016-11-03 13:34] asaunier commented on #690
Not that bad indeed. But it greatly depends on the height of the cards. In your example the cards have quite the same height. But with image cards for instance, the heights will greatly vary and make quite a lot of empty spaces appear. http://c2corgv6.demo-camptocamp.com/images

How masonry works? Would it imply a lot of new code to load and many changes in our JS code?

[2016-11-03 13:51] asaunier commented on #753
NY => typo, I meant BY

[2016-11-03 14:10] ginold commented on #690
We could apply this system to outings only, the other documents not needing to have a sorted list of items?

I don't know about mansory, I will have to check it out.

[2016-11-03 15:35] dkocich opened #839 "Not able to create new article?"
I can not create a new article (but I can edit it without a problem...).
http://c2corgv6.demo-camptocamp.com/articles/add

I get just a red box with "Failed saving the changes" and internal server error.

![image](https://cloud.githubusercontent.com/assets/6165660/19971354/0a47f838-a1df-11e6-967f-24e4a93678fb.png)

Automated tests on localhost are ok and I did not have this problem before. I am no

[2016-11-03 15:44] tsauerwein commented on #839
Can you check the current value of the sequence `guidebook.documents_document_id_seq`?

The sequence should be updated in the migration script: https://github.com/c2corg/v6_api/blob/master/c2corg_api/scripts/migration/sequences.py

[2016-11-03 15:56] dkocich commented on #839
Looks ok in my DB.

![image](https://cloud.githubusercontent.com/assets/6165660/19973646/1b446750-a1e6-11e6-8e98-24d949e73e6e.png)

[2016-11-03 16:03] dkocich commented on #839
When I try to create more articles, I just get the error with higher ID - like it do not see last value of the sequence...?

[2016-11-03 16:07] tsauerwein commented on #839
In your database, is the column `document_id` configured to use the sequence?

[code]

[2016-11-03 16:19] asaunier commented on #839
When testing with my own UI/API I get a sligthly different stracktrace:

  File "/home/alex/v6_api/c2corg_api/views/article.py", line 47, in collection_post
    return self._collection_post(schema_article)
  File "/home/alex/v6_api/c2corg_api/views/document.py", line 174, in _collection_post
    document_in, schema, before_add, after_add)
  File "/home/alex/v6_api/c2corg_api/views/document.py", li

[2016-11-03 16:24] asaunier commented on #791
Moving here @loicperrin 's report: https://github.com/c2corg/v6_ui/issues/825#issue-186601768

Here are some problems with WP:
- [ ] the V5 field "Accès routier" should be migrated into the V6 field "Abstract" (which should be renamed "Acces routier" in case of WP = Access)
- [ ] the V6 field "Acces" should be renamed "Acces TC" (OK if we can do it in Transifex, but please check that it is not a c

[2016-11-03 16:25] asaunier commented on #791
My reply to the report above: https://github.com/c2corg/v6_ui/issues/825#issuecomment-258115765

That does not sound very relevant to me. The "abstract" attribute should be used for... abstracts, not access descriptions.

V5's "Accès routier" is actually the "description" attribute. In v6 it remains in the same "description" attribute (with the accommodation info): https://github.com/c2corg/v6_api

[2016-11-03 16:25] asaunier commented on #825
Moved to https://github.com/c2corg/v6_ui/issues/791#issuecomment-258194538
Closing.

[2016-11-03 16:25] #825 closed

[2016-11-03 16:27] asaunier commented on #791
According to @fbunoz at https://github.com/c2corg/v6_api/issues/466#issuecomment-258192021

* [ ] the V6 access field must be shown in the WP document and in the edit form for the hut type (it is not the case for now).

[2016-11-03 16:30] asaunier commented on #690
Other document types are sorted anyway, even though not on dates (so perhaps it's not so obvious).
So this issue concerns any document type.

[2016-11-03 17:21] fbunoz commented on #791
There was an error in the google sheet, I added the option "cable car".
In V5, this option exists, but it is separated in the edit form.
In V6, we can put this option with others options for the first version.

[2016-11-03 17:31] shortoland commented on #243
Still some (new) issue...

- [ ] Mountain biking: full rating not displayed on cards (first card in grey).

![image1](https://cloud.githubusercontent.com/assets/20488365/19976218/256ce8c0-a1ef-11e6-9a6c-756e9355d3f8.png)

The other old ones seem to be solved.

[2016-11-03 17:34] asaunier commented on #791
Does it mean that we should do nothing about this point?

[2016-11-03 17:44] shortoland commented on #408
@stef74:

"unwanted old version warning message" is solved.

"WP name not displayed when comparing routes": following @asaunier comments, I think we can skip this minor issue.

So I close the ticket. @loicperrin, feel free to reopen if you disagree.

[2016-11-03 17:44] #408 closed

[2016-11-03 18:35] shortoland commented on #826
OK for me. @celinestern , do you confirm ?

[2016-11-03 18:52] asaunier commented on #839
Looks like an API issue. Not related to the UI, is it?

Then could you move this issue to the API repo (ie. create an API issue, link to this issue, copy useful data) and close this issue?

[2016-11-03 18:59] asaunier opened #840 "Snyk patching"
Yesterday I had a mail report from snyk recommending to run snyk wizard in order to fix some vulnerabilities (by the way I have added an howto here: https://github.com/c2corg/v6_ui/wiki#snyk).

Here is what the wizard reported (I agreed to all default suggested actions):

[code]

(Except the patching?) here are the changes snyk made:
[code]

=> it seems that upgrading openlayers is recommended. Bu

[2016-11-03 22:20] loicperrin commented on #791
@fbunoz, can you remember what is the aim to have the option "cable car" as an option of pt_type field? It is not logical, as pt_type field is used to find access without using car.

[2016-11-03 22:26] loicperrin commented on #791
Ok, we can keep it in description (I report this because of the google sheet). But in this case, there should be a separator (blank line) between "Accès routier" and accommodation info and a title for accommodation info. Otherwise it is understandable.

[2016-11-03 22:46] loicperrin commented on #398
As I said above:
- [ ] at least denivelation is still missing in route search
(but I have not checked other cases)

[2016-11-04 07:30] celinestern commented on #826
OK now for "transport select"

[2016-11-04 08:37] tsauerwein commented on #690
In my opinion that's not too bad. I think it is even better if the titles are on the same line, it makes it easier for your eyes.

[2016-11-04 08:41] tsauerwein commented on #840
You will also have to update ngeo (make sure that the same ol3 version is used for ngeo).

[2016-11-04 08:44] #839 closed

[2016-11-04 09:16] asaunier opened #842 "Support of HTTPS"
The demo is now available with HTTPS: https://www.demov6.camptocamp.org/

Please report here the HTTPS-related issues:
* [x] the API URL should use HTTPS as well (else the feed and other API requests fail) => config
* [x] images should be loaded with HTTPS as well => config
* [x] links to the forum should use HTTPS => config
* [x] the ad banner should use HTTPS => probably some config to fix in th

[2016-11-04 09:19] asaunier commented on #826
@shortoland @celinestern thanks for the feedback. Closing the issue then.

[2016-11-04 09:19] #826 closed

[2016-11-04 09:25] asaunier commented on #690
True

But it's a bit outdated compared to modern websites (see pinterest.com for instance) and I'm afraid it will suck for images because image cards sizes may greatly vary, see http://c2corgv6.demo-camptocamp.com/images

It really depends whether we can find a not too complicated and acceptable solution or not...

[2016-11-04 09:26] #834 closed

[2016-11-04 09:38] tsauerwein commented on #690
It is not a question of outdated or not. The focus of Pinterest is on images. And for images, I agree, it would seem static.

But the cards for waypoints, routes, ... contain mainly textual information. And in this case it is easier to read if you have some structure.

[2016-11-04 10:00] asaunier commented on #690
WP, routes or outings cards heights do not vary that much, so they will remain quite aligned (especially since we don't use infinite scrolling in those pages, which would accentuate the shifts).

And I don't think that "structure" is that important for WP or routes since the sorting is not that obvious than for outings for instance (on dates).

But I notice that cards of associated documents (for

[2016-11-04 10:03] ginold commented on #690
Fixed height is very dangerous and you have already seen it - we cannot define a fixed height because of the length of the title, number of activities etc...some cards will be nearly empty, others maybe too small.

[2016-11-04 10:39] shortoland commented on #398
Update:

Associated Route to WP:
    Desktop: denivelation, difficulties deniv

Last Outings associated to Route:
    Desktop: Quality. Max elevation shouldn't be displayed
    Mobile: Quality

Route Search:
   Desktop: Denivelation
   Mobile: pb with ski rating only

Outing Search:
   Mobile: max elevation

[2016-11-04 11:15] asaunier commented on #842
I have made the change in the adserver + made changes in the UI and API demo configs (not tested!). @arnaud-morvan looks good to you?

[2016-11-04 14:10] asaunier commented on #842
We have to make sure that

https://github.com/c2corg/v6_ui/pull/844#issuecomment-258438908

works as expected.

[2016-11-04 15:31] ginold opened #845 "document quality translation"
seen in french but may apply to other languages:

"qualité du document: bonnes" probably because of "conditions: bonnes" where in english "good" is written in both cases.

[2016-11-04 15:37] asaunier commented on #845
Are you sure your branch is up to date?
It should be fixed since "good" has been renamed to "fine" in https://github.com/c2corg/v6_common/blob/master/c2corg_common/attributes.py#L601

[2016-11-04 15:43] tsauerwein commented on #816
In fact, this not an API issue: The API returns the images for the feed entries. I think the problem is that the UI is only displaying the images if the feed type is `added_photos`. The feed entries for all feed types may have images.

When a user is changing a document or adding images to a document that they created them-self, the feed type is `updated`. If a user is adding images that they did

[2016-11-04 15:45] stef74 commented on #842
We can probably also use HTTP2 ...

[2016-11-04 15:46] stef74 commented on #842
Warning with HSTS need to have full validate certificate (for none production instance also), exception cannot be possible in browser

[2016-11-04 15:56] stef74 commented on #657
Great Job !

[2016-11-04 15:56] #657 closed

[2016-11-04 15:59] stef74 commented on #753
@loicperrin @desnoes @shortoland please test

[2016-11-04 16:01] asaunier commented on #753
problably not on the official demo yet (OK on the old one)

[2016-11-04 16:15] stef74 commented on #742
@asaunier for me this point is key for beta ...

[2016-11-04 16:20] dkocich commented on #845
I have it ok in site_packages in UI/API project, everything is up to date, but I have found some manually created documents with good quality, so it crashed ES syncer, etc.

I think we can still have problems with this translation unless we recreate DB and migrate again (or maybe as faster solution just change guidebook.quality_type to allow fine instead of good or at least update all 'good' value

[2016-11-04 16:26] asaunier commented on #845
Perhaps you mean

?

[2016-11-04 16:35] dkocich opened #847 "Yellow list with intersecting areas in the outing view page is too long"
I just tried to create a longer trip around half of France and that yellow list with areas totally destroyed the whole layout. The list should be limited somehow (maybe by a number of visible items with the ability to scroll down).

![image](https://cloud.githubusercontent.com/assets/6165660/20013848/f3cb2392-a2b4-11e6-858d-8f2d241c2a01.png)

[2016-11-04 16:37] asaunier commented on #845
I don't understand what you mean.
There was a conflict with quality "good", so it was renamed to "fine". The conflict is now fixed. This is the value to use now.

[2016-11-04 16:43] asaunier commented on #847
That's pretty unlikely but I admit it could happen (for instance for very long multi-day trekkings).

Anyway the page structure might change a bit. See https://github.com/c2corg/v6_ui/issues/449
As a result the map will probably be less wide. Not sure using such a block on the map will still be possible.

[2016-11-04 16:53] dkocich commented on #845
Yes, of course. I just suggested (as a workaround for testing purposes) to just change that value in DB for now, because I do not know if it is possible to change it in already existing TYPE in DB and new migration takes too long time for me.

[2016-11-04 17:14] tsauerwein commented on #742
PR is here: https://github.com/camptocamp/ngeo/pull/2002

[2016-11-04 17:17] asaunier commented on #742
Argh, I was just about to make a PR :P
But in v6_ui. It's probably better to do it in ngeo (if it's OK to upgrade our ngeo/openlayers).

[2016-11-04 17:22] #609 closed

[2016-11-04 17:50] #845 closed

[2016-11-04 17:56] fbunoz commented on #836
It is not OK.
Only moderators can remove an association from a collaborative document.
Or we can allow removing an association few minutes after a member add an association.

[2016-11-04 17:58] asaunier commented on #842
I have merged both PRs because anyway we have no other way to test if they do the job then to do it in the beta demo (no other instance available with https) and we cannot wait for the golive to test it.

For ``route_url`` I am quite confident because anyway I think we have replaced them by ``route_path`` that creates relative URLs.

[2016-11-04 18:11] fbunoz commented on #791
The aim is to avoid to add a new boolean field for an option which can easily be managed with the multi-choice pt_field.
A multi-choice field with N options can be replaced by N boolean field, but it lighter for the code to use a multi-choice field.
In the V5, the difference with the cable_car option about other options, is that the cable_car option is always visible in the edit form, whereas the

[2016-11-04 21:57] loicperrin commented on #705
- [ ] in outing (both edition and mode), "état glacier" cannot be translated
- [ ] in outing avalanche_info should be used instead of "avalanches" title in display mode (it is OK in edition mode)
- [ ] in outing condition_level is used in edition mode and conditions_level is used in diplay mode ; only one should be used in both modes

One question: are the items used for "état glacier" (facile/pos

[2016-11-04 22:10] loicperrin commented on #791
But in V6 we have a field cable_car, so I think this value should be suppressed in pt_type field.
There seems to be a pb with migration: for example http://c2corgv6.demo-camptocamp.com/waypoints/edit/130862/fr should have "Remontées mécaniques" = "oui" (instead of "Pas d'information" and the checkbox "cable_car" checked)

[2016-11-04 22:33] loicperrin commented on #791
I have listed them in https://github.com/c2corg/v6_ui/issues/705

[2016-11-05 08:50] asaunier opened #849 "Creating new documents using the simple search / association tool"
When searching for an association, if there is no result, the association tool offers buttons to create new associated documents:
<img width="602" alt="capture d ecran 2016-11-05 a 09 43 27" src="https://cloud.githubusercontent.com/assets/1192331/20028838/96e1b618-a33c-11e6-9843-5162ffbf7205.png">

There is still in issue though, because such buttons are only shown if no result can be found, which

[2016-11-05 08:52] asaunier commented on #198
Actually we have not placed such a button because we thought that people should search if the route does not already exist, using the association tool.
When searching for an association, if there is no result, the association tool offers buttons to create new associated documents:
<img width="602" alt="capture d ecran 2016-11-05 a 09 43 27" src="https://cloud.githubusercontent.com/assets/1192331/2

[2016-11-05 09:50] loicperrin commented on #198
I think that this is the best solution. Normally people will check that the route does not exist in the list before creating it. People will do not think to try to associate a route to add a new one (it is not very logical).
There can be problems for WP/Access or WP/hut, as there are not always associated to eache relevant route. A solution could be to add the button only on WP/summit, but it is a

[2016-11-05 11:54] asaunier commented on #449
In addition there are many attributes whose positioning or grouping is not that relevant.

For example:
* [ ] in outings, it would make sense to group the "avalanche signs" (selected in a dropdown and placed in the "information" block in the detail view) and the text field "avalanche_infos".
* [ ] in climbing sites, ratings etc. could be more relevantly grouped in the information block (there's an

[2016-11-05 12:32] asaunier opened #850 "Redesign needed for get_document_locale_text() helper"
https://github.com/c2corg/v6_ui/blob/master/c2corg_ui/templates/helpers/view.html#L437-L502

This ``get_document_locale_text()`` helper has many flaws:

* [x] There's probably a missing ``% endif`` to close https://github.com/c2corg/v6_ui/blob/master/c2corg_ui/templates/helpers/view.html#L439 . at least it is poorly indented and it's hard to figure out where the "if" blocks finish.
* [x] Why is th

[2016-11-05 12:45] asaunier commented on #850
* [ ] In addition for waypoint's attribute "access_period"
https://github.com/c2corg/v6_ui/blob/master/c2corg_ui/templates/waypoint/view.html#L140
we have to adapt the attribute title depending on the waypoint_type as in the editing form:
https://github.com/c2corg/v6_ui/blob/master/c2corg_ui/templates/waypoint/edit.html#L743-L745
=> then again we need a dedicated function for this attribute in the

[2016-11-05 12:45] asaunier commented on #705
?
This is already a translation (there is no string in French in the code). If you change the UI to italian for instance, this becomes "Ghiacciaio".

It's rather a translation issue, to be fixed in Transifex.

Those values https://github.com/c2corg/v6_common/blob/master/c2corg_common/attributes.py#L535-L540 seem not to be used for another attribute. So it should be safe to change the translations

[2016-11-05 13:38] fbunoz commented on #198
No, they are always shown on the demo.

A solution is to rename the tool : "Add an association or create a new route linked to the current" (or a name like that :-).
It implies that the search on key word return only the routes around the current WP (in a radius of 20km for instance). It is also useful for a simple association.

[2016-11-05 13:57] asaunier commented on #850
See also  https://github.com/c2corg/v6_ui/issues/791#issuecomment-258194538

[2016-11-05 14:23] stef74 opened #852 "Broken links"
I'm crawling the website to identify broken link.

I'm not abale to crawl with commande line tool due to no sitemap exist ... i have found other more graphical tool but limited to 500 crawling.

Many issue are allready identified.

- [ ] waypoint wikilink (like /summit/ ... ) issue existe in API

- [ ] user / profile link are correctly migrated for the moment (issue existe in API)

- [ ] in v5 cre

[2016-11-05 14:28] asaunier commented on #805
PR https://github.com/c2corg/v6_ui/pull/853 implements the "at least" option (open the image detail view page).

But it would be better to open the image in the slideshow if possible.

[2016-11-05 14:33] asaunier commented on #852
Wikilinks can be fixed in the migration script, see https://github.com/c2corg/v6_api/issues/417#issuecomment-255579022

For links for external websites, see https://github.com/c2corg/v6_ui/issues/644

It's better to change the links in those articles. Ditto for mail contact

[2016-11-05 16:51] asaunier opened #855 "Homepage intro picture"
As for now the big picture shown in the homepage for "guests" is fixed (one of mine: https://github.com/c2corg/v6_ui/blob/master/c2corg_ui/static/img/home/slide1.jpg).

Problems:
* it's always the same
* it might be not relevant for the golive (a ski image would make more sense)
* since it's currently integrated in the v6_ui files, its licence is probably the same than the rest of the code (?), ie

[2016-11-05 17:31] asaunier opened #856 "Server-related tasks"
* [ ] Make sure documents and static files (CSS/JS) are served gzipped by the server

[2016-11-05 18:08] stef74 commented on #855
It is relevant to store fix image on S3 directly ? Alex B. propose some photo for Go live (discussion in progress)

[2016-11-05 18:22] asaunier commented on #254
A basic version here: https://github.com/c2corg/v6_ui/pull/857
I need help to go further. @ginold ?

[2016-11-05 18:27] stef74 commented on #852
- [ ] change link on external site for v5 list not supported

[2016-11-05 18:40] stef74 opened #858 "Filter organisation"
The advanced filter list are not so logical some important criteria are at the end et some minor criteria at the beginning.
They are too many criteria, so lisibilité are not very good.

No discussion about relevant criteria but only optimize the order and grouping of criteria

- [ ] Grouping criteria by "logic" type ( rating, atltitude etc ...) and separate by line each group of criteria (as in v5

[2016-11-05 21:20] asaunier opened #860 "Inactive filter button for articles in mobile screen"
In the articles advanced search page, filters buttons work as expected except for mobile screen, when there is only a "Filters" button in the top right corner: clicking the button does nothing (for other document types it opens the filters section).

<img width="567" alt="capture d ecran 2016-11-05 a 22 18 17" src="https://cloud.githubusercontent.com/assets/1192331/20033653/dce21acc-a3a5-11e6-951e

[2016-11-05 22:01] loicperrin commented on #705
OK. I have not found it in Transifex, probably because the translation has been fixed 2 days ago, and so is not visible yet on demo.

Are you sure? I do not find "avalanches" in Transifex and it does not change when I change the interface language. I just wanted to change "avalanches" to "Avalanches observées" (as in edition mode).

I have changed some translations in Transifex (as described in my

[2016-11-06 00:04] asaunier opened #861 "Images associated to each other"
In v5 it's possible to associate an image to another (for instance to associate a drawing with the original image). For instance:
http://www.camptocamp.org/images/208579/fr/face-n-des-grandes-jorasses-quelques-itineraires
http://www.camptocamp.org/images/188564/fr/face-nord-des-grandes-jorasses

As for now I don't think it's possible in v6.

[2016-11-06 09:55] tsauerwein commented on #855
If it's just a question of license, you don't have to move the images in a separate repository or alike (for example see http://softwareengineering.stackexchange.com/questions/245033/if-i-use-lgpl-licensed-images-in-my-open-source-software-project-do-i-have-to-u). We could add a second license file stating something like "File x, y, ... are licensed under ...". This should be enough.

For now, as

[2016-11-06 11:00] asaunier commented on #855
OK thanks for the tip!
That would be more convenient if the images are hosted in the repo, this way they would be available out of the box.

[2016-11-06 11:29] asaunier commented on #705
Because it was not used as an attribute name to translate (only "avalanches_info"). The actual attribute name is "avalanches" in the database => that's the name we should use for translations as well.

When PR #851 is merged, "avalanches" will be pushed to Transifex instead of "avalanches_info".

[2016-11-06 15:02] fbunoz opened #865 "Bugs with Articles"
- [x] Filter on article category return always no result.
- [x] Filter on article name return always no result.
- [x] Association tool doesn't work for article : no article can be found using the tool, on any page.
- [x] On an article page, the linked outings are not listed.

[2016-11-06 21:14] stef74 commented on #865
label association is for Camptocamp Association ... not for relationship between doc

[2016-11-06 21:18] stef74 commented on #410
@loicperrin @shortoland please test

[2016-11-06 21:32] loicperrin opened #866 "Minor problem with outing modification"
When I modify an outing, I cannot choose a date after the date previously saved, even if this new date is before today.

[2016-11-06 21:40] loicperrin commented on #410
The table is much easier to read on smartphone now. Thanks!

I have noticed a new little defect:
- [ ] in the outing detail view, the button "Add a comment" (at the bottom of the page) is not visible on smartphone

[2016-11-06 21:50] loicperrin commented on #705
A new one:
- [ ] in WP/site, the field after "Accès" should have a title in edition mode, and the title in display mode should be changed with a new Transifex label (access_period is used with another sense)

[2016-11-06 22:10] loicperrin commented on #791
But there seems to be a pb with migration: for example http://c2corgv6.demo-camptocamp.com/waypoints/edit/130862/fr should have "Remontées mécaniques" = "oui" (instead of "Pas d'information" and the checkbox "cable_car" checked)

Ok for this @fbunoz?

[2016-11-07 07:34] dkocich commented on #865
I am not sure why this does not work. On the other testing server that we have, the problems 1, 2 and 3 are OK now.

[2016-11-07 08:55] asaunier commented on #865
Which one? The "dev" one?
We don't even know what server @fbunoz has tested :P

[2016-11-07 08:57] asaunier commented on #865
I give the answer myself (just tested it): OK on http://c2corgv6.demo-camptocamp.com/articles but KO on http://www.demov6.camptocamp.org/articles
The first one is much more up-to-date than the second one. => updating the checklist above.

[2016-11-07 09:05] #594 closed

[2016-11-07 09:06] #597 closed

[2016-11-07 09:12] asaunier opened #868 "Button "Add a comment" is not visible on smartphone"
See https://github.com/c2corg/v6_ui/issues/410#issuecomment-258712875

[2016-11-07 09:13] asaunier commented on #410
This is not related to this issue (pb in editing form of outings). I have created a dedicated issue: https://github.com/c2corg/v6_ui/issues/868

[2016-11-07 09:13] #410 closed

[2016-11-07 09:34] ginold commented on #254
@asaunier you want me to take your branch and finish it? to make it similar to the example of Tobias ?

[2016-11-07 09:37] #343 closed

[2016-11-07 09:40] asaunier commented on #254
Use my branch, @tsauerwein 's or create a new one. Up to you :)

[2016-11-07 09:46] #860 closed

[2016-11-07 09:57] asaunier commented on #865
Not that critical. Moving to 6.1

[2016-11-07 10:02] stef74 commented on #655
I don't understand what is the real status of this issue ...

[2016-11-07 10:03] stef74 commented on #690
So what is the different option ?

[2016-11-07 10:04] stef74 commented on #750
@tsauerwein what is the status ?

[2016-11-07 10:07] stef74 commented on #769
@asaunier it is relevant to close and open dedicted issue for modereator right (not critical for v6.0 ... probably v6.1 or 2). ?

[2016-11-07 10:17] asaunier commented on #655
Have a look at the unchecked points of the initial comment.

[2016-11-07 10:18] asaunier commented on #769
👍

[2016-11-07 10:30] stef74 opened #869 "Add moderator right on user profile"
- [ ] show moderator tight for topoguide

- [ ] show moderator right for forum

initial issue : #769

[2016-11-07 10:30] #769 closed

[2016-11-07 10:59] asaunier commented on #869
This information is not available to the API. In addition I think there is also some kind of profile page in Discourse, perhaps showing forum-permissions.

As a result I recommend to skip this info in the guidebook profile.

[2016-11-07 11:09] fbunoz commented on #865
I tested with http://www.demov6.camptocamp.org server, the only one which must be used for testing by the Association.

[2016-11-07 11:17] asaunier commented on #865
That's correct indeed :)
But it's worth checking on the other server as well (at least for people like you). This way you can ignore problems that are already fixed :)

[2016-11-07 12:53] asaunier commented on #840
Done at https://github.com/c2corg/v6_ui/pull/870

[2016-11-07 13:07] #742 closed

[2016-11-07 13:43] #868 closed

[2016-11-07 14:21] #866 closed

[2016-11-07 14:35] #800 closed

[2016-11-07 15:10] dkocich opened #874 "metadata in the package"
While I was installing I saw some warnings in the log - package.json is missing few fields which can be maybe added later for completeness of the project metadata. https://docs.npmjs.com/files/package.json

[code]

Especially info about the license can be useful. For now in the [package.json](https://github.com/c2corg/v6_ui/blob/master/package.json#L10), there is BSD, but https://spdx.org/licenses

[2016-11-07 17:21] loicperrin commented on #753
There is a little problem with tooltip on licence info in some documents: route, WP/access.
When I put the mouse over the icon "ShareAlike", the tooltip flashes.
It happens only when this icon is at the end of the line. If I modify the screen size to put it at the begining of the following line, the problem do not happen.

[2016-11-07 17:24] shortoland commented on #753
@asaunier OK on old version, but I couldn't check books nor accidents reports.

Can you check that logo for SERAC home page is the good one ?

![image1](https://cloud.githubusercontent.com/assets/20488365/20067939/30b40ba2-a517-11e6-841b-42967f75ea25.png)

Don't have Loic's problem: no flashing tooltip (on firefox)

[2016-11-07 18:12] loicperrin opened #875 "Problems with images"
- [x] when I click on an image in a document, a "i" appears with the mouse goes over the image. In this panel the button "Voir les détails" has no effect. The only mean I have found to see the image details is to click on the button "Modifier" (which works), and then to cancel modifications.
- [ ] ~~when an image is added in an outing, in the image details page, the association to the outing does

[2016-11-07 18:54] shortoland commented on #705
Am I the only one finding it's becoming a big mess ? ;-)
Could it be possible to upload translations in order to recheck everything ?

[2016-11-07 19:03] shortoland commented on #655
I think the following items are now solved: "Filtering any document (route, outing, WP) on quality returns wrong results", "sticky filter problem": I have checked the corresponding boxes

[2016-11-07 19:58] asaunier commented on #753
They are not available yet.

What do you mean? What logo?
This page is a simple article, it will be used until reports are available (not before v6.1).

By the way what is the connection with licence info? :P

When I put the mouse over the icon "ShareAlike", the tooltip flashes.
It happens only when this icon is at the end of the line. If I modify the screen size to put it at the begining of the f

[2016-11-07 20:09] shortoland commented on #753
I meant: there is a licence logo on the SERAC homepage: is it normal ? is it the right one ?

[2016-11-07 20:11] loicperrin commented on #753
I reproduce this problem with FF (not tested with Chrome). See:
![issue753](https://cloud.githubusercontent.com/assets/19718055/20073986/b79fd580-a52e-11e6-8017-c76c7821d0b9.jpg)

[2016-11-07 20:28] asaunier commented on #753
It's correct. The licence logo is the one for the article (which is collaborative), not SERAC itself.
SERAC reports will have their own licence logos (the same then for outings).

OK thanks!
@ginold do you have an idea?

Honestly it's a really minor issue, it happens only for some screen sizes and resolutions, and only when hovering the icon.

[2016-11-07 20:51] asaunier opened #876 "Incorrect menu highlight in the homepage"
Menu entry "topoguide" should not be hilighted in the homepage:
<img width="300" alt="capture d ecran 2016-11-07 a 21 48 58" src="https://cloud.githubusercontent.com/assets/1192331/20075419/5551ea3e-a534-11e6-94ac-28c2ff0e8590.png">

[2016-11-07 20:55] asaunier opened #877 "Restrict to a maximal zoomlevel in detail view maps"
In a detail view page, eg. a route, if the maps shows several features (eg. associated WP), the map is zoomed on the extent of those features.

If the features are quite close, the map is a bit too zoomed.
To prevent this, a minimal zoomlevel should be used in that case.
Please note that for WP detail views (only 1 point feature on the map), a fixed zoomlevel is used instead of an extent.

[2016-11-07 20:57] asaunier commented on #705
I have updated the "dev" (unofficial) demo and made sure the translations are fully downloaded from Transifex again.

[2016-11-07 21:40] loicperrin opened #878 "Feed: wrong message when uploading an image"
In the feed we can see some "update messages" whereas updates should not be taken into account in the feed. Probably these messages appear when an image is uploaded in a document. In this case the message should be something like "xxx has added an image to yyy".

[2016-11-07 21:49] asaunier commented on #875
I think it's already reported here: https://github.com/c2corg/v6_ui/issues/736
Correct?

Perhaps the demo you have tested (the official one?) is really not up-to-date? Because I have pushed a change to fix this last week and in the "dev" demo, it's OK.

By the way I notice that in the slideshow mode, the "full screen" and "close" icons are missing in the top right corner, near the "info" button. I

[2016-11-07 21:55] loicperrin commented on #705
- [ ] when creating/editing a document, in the last step, the "document_quality" list contains strings not coming from Transifex (I have checked they are always translated).

[2016-11-07 21:59] asaunier opened #879 "Feed buttons layout"
A small default with the feed buttons titles in French:
<img width="104" alt="capture d ecran 2016-11-07 a 22 57 32" src="https://cloud.githubusercontent.com/assets/1192331/20077703/bd34887e-a53d-11e6-8599-91c822419401.png">

Perhaps some ``clear`` style to add to make sure the title begins below the icon?

[2016-11-07 22:18] loicperrin commented on #875
Correct?

Not exactly: for me the link to the image page is never active (the first time I open the slidewhow too)

No it was the "dev demo", but now it works.

[2016-11-07 22:23] asaunier commented on #875
I did an upgrade this evening, perhaps it came with it.

Sorry, I misread your sentence (it was clear enough though!).
The link is clickable in Chrome, as expected. But you're right: not with Firefox! (other browsers?)

[2016-11-07 23:05] asaunier opened #880 "I18n is broken in the quality modal box when editing a document"
Perhaps a modal template compiling problem (wrong scope?). See the preview modal for instance.

Please note that the attribute name is "quality", not "document_quality".

@ginold Always test in French, this way you can see when i18n is broken (you can't if browsing in english).

[2016-11-07 23:11] asaunier commented on #705
See https://github.com/c2corg/v6_ui/issues/880

Will be fixed by https://github.com/c2corg/v6_ui/pull/881

[2016-11-08 00:31] fbunoz opened #882 "View or mask some rock climbing fields"
For rock_climbing routes, the view of some fields in edit and filter forms must depend on the value of climbing_outdoor_type field :
YES : field must be visible
no : field must be masked (unless another selected activity requires the field must be visible)

climbing_outdoor_type | _empty_ (edit) | _empty_ (filter) | multi | single | bloc | psicobloc
-|-|-|-|-|-|-
route_types | no | YES |  YES | YE

[2016-11-08 00:49] fbunoz commented on #791
- The value "cable_car" in WP is used for an access wich is a lift station.
- The boolean "cable_car" in routes is used to indicate that a cable car can be used to reduce the approach.

The 2 strings must be different to allow different translations. For exemple : lift_station i WP and cable_car in route.
The translation in french :
- lift_station : Gare de remontée mécanique
- cable_car : Accès e

[2016-11-08 07:41] tsauerwein commented on #878
There are three different feed activity types: `created`, `updated` and `added_photos`.

`created` is used when a user creates a new document (except images, user-profiles and areas).
`added_photos` is used when a user adds images to a document, and the user is not the creator of the document.
`updated` is used when a user adds images to a document, and the user is the creator of the document. And

[2016-11-08 08:11] tsauerwein commented on #750
Some associations are not shown because there are simply too many, for example outings for certain routes (they are shown under "recent outings"). @stef74, if you are missing associations please open a dedicated issue.

[2016-11-08 08:11] #750 closed

[2016-11-08 08:28] ginold commented on #753
I think I experienced this issue but I don't know yet why it's happening. If not critical, I will look at it later.

[2016-11-08 08:58] asaunier commented on #878
That makes sense indeed.

But perhaps it's a bit confusing though because:
* if you see "x has updated an outing" in the feed and look at the history of the outing you might see only one version => eg. x had updated an image in the mean time. Not that critical I admit but then it would make sense to show the uploaded images in the feed item (I think it's not the case currently). Wouldn't it be cle

[2016-11-08 10:33] #879 closed

[2016-11-08 13:54] #876 closed

[2016-11-08 15:58] ginold commented on #805
Will it be a big missing feature if clicking on an image opens only the image you clicked, without letting you to navigate between all the other images within the text?

[2016-11-08 16:20] asaunier commented on #805
I would say it's OK, even though it would make sense to show other images too (but I guess you don't know what are the other embedded images when you click on an embedded image).

Please note that in v5, embedded images must be associated to the document. So, actually, clicking an embedded image is a bit similar to clicking the image thumbnail in the carousel.
See for instance http://www.camptocam

[2016-11-08 17:51] asaunier opened #886 "Adapt the image sizes in cards, feed, detail views"
Perhaps it's OK and there is nothing to do but I wondered if there were adaptations to do in the UI to take into account the new sizes of resized images. See https://github.com/c2corg/v6_images/issues/6#issuecomment-256309185

@ginold what do you think?

[2016-11-08 21:55] loicperrin commented on #753
Yes it is not critical, and except this minor problem, license information seems to be OK.

[2016-11-08 21:58] loicperrin commented on #878
Are you sure: in the feed I see the message "xxx has updated an outing" when I add an image to a document I have created, but not when a new participant is added to an outing.

Yes, I think so!

[2016-11-09 00:22] fbunoz opened #889 "Username in the UI user menu"
- [ ] When I'm loggued, the name showed at the top of the page is my loggin (fbunoz) instead of my topoguide name (or forum name, but it must not be the loggin).
- [x] In the account parameters, the topguide and forum names are correct. But when I try to change one of the names, I get an error :

Error with Discourse : Internal Server Error
- [x] In the forum, the forum name showed is my loggin in

[2016-11-09 07:48] fjacon commented on #816
If a user changes a document he created himself, do we want to have 2 reports : 1 `added_photos` and 1  `updated` ?
@tsauerwein  is this technically possible anyway ?

[2016-11-09 08:05] tsauerwein commented on #878
I just tested, and it works:

* I create a new outing.
* In the feed I see an entry: "... has created an outing."
* I add a new participant to the outing.
* The feed now shows: "... has updated the outing." with the time updated.

What exactly did you do?

Yes, see: https://github.com/c2corg/v6_ui/issues/816

The idea behind the current behaviour is that not too many feed entries should be created

[2016-11-09 08:09] fjacon commented on #20
I cannot reproduce today on http://www.demov6.camptocamp.org/
@asaunier can you ?

[2016-11-09 08:12] fjacon commented on #131
@arnaud-morvan or @tsauerwein : have you taken Alex last comment into account in migration script ?

[2016-11-09 08:15] tsauerwein commented on #131
The issues related to the migration are tracked here: https://github.com/c2corg/v6_api/issues/417
One point is left: https://github.com/c2corg/v6_api/issues/417#issuecomment-256397038

[2016-11-09 08:43] ginold commented on #886
It looks right to me. Maybe the only adaptations to do in the UI will be to change the image suffix (MI,SI,BI) because the size has changed and is now bigger than the original.

[2016-11-09 09:15] asaunier commented on #878
That definitely makes sense to have only one entry in the feed for those 2 steps. Ditto when the user associate participants.

In both cases the feed shows "... has updated the outing.", right?

Then except the images not shown in the feed entry after uploading them (but this issue is described at #816) the behaviour of the feed is consistent.

@loicperrin please close the issue if it's OK for you

[2016-11-09 09:24] asaunier commented on #20
No surprise because the reprojection has been disabled: https://github.com/c2corg/v6_ui/blob/master/c2corg_ui/templates/waypoint/view.html#L25-L27

Currently the coordinates are shown using the 3857 projection instead of lon/lat:
![sans titre](https://cloud.githubusercontent.com/assets/1192331/20133018/0c334d56-a666-11e6-907c-b7fc9eb69e92.png)
which is not really relevant.

I haven't tested recent

[2016-11-09 09:31] asaunier commented on #886
Thanks! Could you please list here those suffix changes that should be done and in what pages?

[2016-11-09 09:33] tsauerwein commented on #20
Or use this formula directly: http://wiki.openstreetmap.org/wiki/Mercator#Python

[2016-11-09 09:34] asaunier commented on #840
I just had a weekly report email from Snyk mentionning now 0 vulnerability.
Closing the issue then.

[2016-11-09 09:34] #840 closed

[2016-11-09 09:50] asaunier commented on #131
This is an open question, I don't have the answer. Getting rid of bbcode tags would imply to make more conversions in the migration script (as done for some shortcuts and wikilinks in https://github.com/c2corg/v6_api/pull/478) but I have the feeling it might simplify things in the future to have only one formatting syntax instead of 2.

@stef74 Please note that I have not made the ``[toc]`` syntax

[2016-11-09 09:55] tsauerwein commented on #878
Correct.

[2016-11-09 11:02] ginold commented on #705
- [ ] "glacier_safety_gear" is not translated.

[2016-11-09 11:06] asaunier commented on #705
Where?
Its translation is available in Transifex. But perhaps the translation of your instance are not uptodate?

[2016-11-09 11:11] asaunier commented on #705
I have just updated the "dev demo" instance, including the translations. "glacier_safety_gear" seems translated as expected http://c2corgv6.demo-camptocamp.com/routes/54629/fr/breithorn-w-traversee-klein-matterhorn-refuge-guide-du-val-d-ayas

[2016-11-09 11:32] shortoland commented on #705
I have unchecked a box in my original request: "Outing creation ("ski", ): criteria "Qualité de la neige" and "Quantité de neige" do not have their own answers. Some are common with public transportation criteria, but translations are different:"

Not fully sure you didn't mention this in another ticket: should we change translations or should you add new dedicated answer strings ?

[2016-11-09 11:40] asaunier commented on #705
Both uses "condition_ratings" as values
https://github.com/c2corg/v6_common/blob/master/c2corg_common/attributes.py#L527-L533

Waypoint's ``public_transportation_ratings``:
https://github.com/c2corg/v6_common/blob/master/c2corg_common/attributes.py#L106-L112

There are no common values for both list of values.

[2016-11-09 11:45] shortoland commented on #705
OK, my original post was not clear:
"Qualité de la neige" and "Quantité de neige" have the same aswers, which is normal.

But there are the same as "Evaluation des conditions".

Answers are almost the same, but rather singular for the snow, and plurial for conditions.

[2016-11-09 12:09] asaunier commented on #705
Values are the same for those 3 attributes, as expected in the specs:
https://docs.google.com/spreadsheets/d/110umbpgS1CUDtzeJ62fNBvn9UBHl_wSbXx5xhFlQTng/edit#gid=792641820

[2016-11-09 13:27] shortoland commented on #705
OK.
@loicperrin: Should we change "Quantité" and "Qualités" in "Quantités" and "Qualités" in order to fit with plurial answers ?

[2016-11-09 16:25] tsauerwein commented on #874
As we are not publishing a NPM package this metadata is not really relevant. But feel free to fill the fields to hide the warning.

The license is AGPL: https://github.com/c2corg/v6_ui/blob/master/LICENSE

[2016-11-09 19:52] HSERGERAERT commented on #889
@arnaud-morvan
Hi Arnaud, are you in charge of Discourse ? this ticket should have been registered in the v6_forum list.
We have strong doubts how were build the IDs.
On v5, my ID is "herve74", my name "Hervé Sergeraert" and my forum pseudo "Lutin"
On Discourse, my pseudo becomes herve741 (instead of Lutin), the name is herve74 (instead of "Hervé Sergeraert)

I have no clue how to change them.
Is

[2016-11-09 20:48] stef74 commented on #889
For me we need to create (allready done ?) a specific issue for discourse. On topoguide this point is non blocking for me, I propose to let do for go live ... but none blocking.

[2016-11-09 20:49] stef74 commented on #889
Feel free to change if your are not agree

[2016-11-09 21:07] loicperrin commented on #878
Maybe my action has been grouped in another one in the feed.
I cannot test this evening: "Getting feed data failed: Unknown error" in both demo (SA and c2c.org)

[2016-11-09 21:32] asaunier opened #893 "Profile pages are broken (no attribute '_get_with_etag')"
Profile pages are no longer accessible, they return a 500 error (both demos, my personal instance as well).

According to the logs below, it seems related to the cache system. This seems pretty recent, maybe a side effect of the changes about the sitemap?

[Wed Nov 09 22:27:19.559768 2016] [wsgi:error] [pid 20086] [remote 10.27.71.4:63366]   File "/var/www/vhosts/c2cassoc_c2corgv6/private/v6_ui/c2

[2016-11-09 21:36] loicperrin commented on #705
Not exactly: as said by @shortoland, "Evaluation des conditions" has plurial answers (singular for the 2 others).

OK for "Quantités". I prefer keep "Qualité". That's a minor problem if translations are plurial for this field. This can be modified later if necessary.

[2016-11-09 22:15] asaunier commented on #878
As usual, when the database is reset: log out and in again :)

[2016-11-09 22:18] asaunier commented on #705
If values must actually be different between condition ratings and snow quantity/quality fields, a new set of values must be created before the migration/golive (it impacts the database).

[2016-11-09 22:54] loicperrin commented on #878
Yes of course!
It works => issue closed.

[2016-11-09 22:54] #878 closed

[2016-11-10 05:49] HSERGERAERT opened #894 "Pictures can't be loaded on Beta test server of C2C"
We can't see the picture after an upload. The upload action itself seems to work, no error message seen on screen.
This happens on Beta tests demo server, example http://www.demov6.camptocamp.org/outings/815701/fr/chamechaude-versant-w, it works well on the SA demo server.
This might be linked with bucket activities to upload pictures on Beta server (Marc F. actions)

On the outing, we only get th

[2016-11-10 06:34] HSERGERAERT commented on #889
I have created a dedicated issue for Discourse
https://github.com/c2corg/v6_forum/issues/48

[2016-11-10 08:18] tsauerwein commented on #893
Interesting, are there no tests for this part? :P

[2016-11-10 08:19] tsauerwein commented on #878
Is there are a ticket for this? The error message should be more explicit.

[2016-11-10 08:33] asaunier commented on #893
It seems not, my bad!

[2016-11-10 09:00] ginold commented on #893
I didn't say anything because it was a problem on my instance, as usual.. :D

[2016-11-10 09:44] shortoland commented on #705
I agree. Let's keep "Quantité" et "Qualité", and create a new set of values for their corresponding answers.

[2016-11-10 09:51] asaunier commented on #878
This should not happen in production: we won't reset the database once in prod.

[2016-11-10 09:54] tsauerwein commented on #878
But the problem that a request is made with an invalid token could still happen.

[2016-11-10 10:13] asaunier commented on #878
OK, then it would make sense to create a dedicated issue (I think there is none yet).

[2016-11-10 10:23] asaunier opened #895 "IGN baselayers are missing in the demo"
Probably a config problem with the IGN API key, not available for the demo URL.
I will have a look at the IGN key settings.

It should already be OK for the prod URL.

[2016-11-10 10:35] jmarcmod commented on #889
J'ajoute que sur mon compte V6, via la page http://www.demov6.camptocamp.org/account, la migration a modifié mon pseudo forum V5 (J.Marc) en JMarcd1 alors que J.Marc est théoriquement compatible discourse...
Comme Bubu, je ne peux pas changer ce pseudo (même message d'erreur) ; et quand je veux le changer en J.Marc, je ne peux même pas cliquer sur "enregistrer", j'ai le panneau d'interdiction, com

[2016-11-10 11:54] ginold commented on #886
After a quick look it all seems to be ok :

- feed cards :+1:
- gallery thumbnail :+1:
- slideshow image :+1:
- embedded image :+1:
- image in image-details-view :+1:
- image in image-editing:+1:

did I forget something?

[2016-11-10 12:07] desnoes opened #896 "Route creation: problem with icons display on map"
When i create a route but i did not select a main WP, the route is created but icons (summit, access) are not displayed on the map.
Exemple: http://www.demov6.camptocamp.org/routes/815707/fr/essai-beta-rhm

[2016-11-10 13:30] asaunier opened #897 "Layout issues with Firefox"
* [x] The feed title on the homepage overlaps the intro section image:
![sans titre](https://cloud.githubusercontent.com/assets/1192331/20178568/20239ec8-a752-11e6-97e3-f496451a1918.png)

[2016-11-10 13:30] ginold commented on #791
`rock_types` is not missing, it is only available only for `climbing_outdoor`  as listed on commons. But on https://docs.google.com/spreadsheets/d/1Q_fl7UQKPMgzlnk5tvAGqrmesrwfA5gges8p25XLes8/edit#gid=1502780869 it's apparently for a few more waypoint types. Which is right?

[2016-11-10 13:39] ginold commented on #791
@desnoes

you mean the text from select boxes overlapped in the editing form? it has been fixes in the meanwhile.
![screenshot from 2016-11-10 14-38-43](https://cloud.githubusercontent.com/assets/7814311/20178852/684a108c-a753-11e6-984c-ada84e443ab2.png)

[2016-11-10 13:54] asaunier commented on #705
Do we really need those quantity/quality fields? I have the feeling we are wasting time about silly attributes that are anyway confusing.

[2016-11-10 14:38] shortoland commented on #705
Ah ... this is another problem. I let Loic and others answer ...

[2016-11-10 15:51] asaunier commented on #705
@loicperrin @shortoland
Forget my comment, we'll leave those attributes as is but won't make changes about the values either.
I suggest to use neutral translations for instance "bon", "moyen", "excellent" for the 3 attributes, not considering the gender and number of the attribute name translations.

[2016-11-10 17:54] #893 closed

[2016-11-10 21:58] loicperrin commented on #705
OK for this.

[2016-11-10 22:08] loicperrin commented on #791
Ok for me (and the google sheet has to be modified). @desnoes ?

[2016-11-10 22:48] loicperrin opened #900 "Problem with comment creation on documents"
When trying to add a comment on an outing, I get the following error: "Error with Discourse : Internal Server Error"

[2016-11-10 22:54] loicperrin opened #901 "Deconnection necessary after database reset"
After a reset of database, before deconnection, we get this error: ""Getting feed data failed: Unknown error".
The database will not be reset anymore in production but the problem that a request is made with an invalid token could still happen.

[2016-11-10 22:54] loicperrin commented on #878
OK. See #901

[2016-11-10 22:57] loicperrin commented on #306
As I understand this will be fixed with #317

[2016-11-10 23:23] asaunier commented on #901
I don't think that's the real problem. I would rather say that the error message should be more explicit when an invalid token is detected (eg. "Your connection has expired. Please authenticate again.").

[2016-11-10 23:30] asaunier commented on #895
The IGN settings are OK for URL http://www.demov6.camptocamp.org/
But the API key used for this demo (``9qxhimhvm24i40p8j86n7de3``) is registered for the "dev" demo (http://c2corgv6.demo-camptocamp.com/).

The API key that should be used for http://www.demov6.camptocamp.org/ is ``u2hnvshmi7absub9qkpunb3o``

I think the config for this demo is incorrect. @arnaud-morvan could you double-check please

[2016-11-11 07:46] desnoes commented on #791
you mean the text from select boxes overlapped in the editing form?

Yes, it was that.

There are some inconsistency between the reference file (https://github.com/c2corg/v6_common/blob/master/c2corg_common/fields_waypoint.py) and the google spreadsheet. According to the reference, you are right this field is only available for climbing_outdoor.
The reference is given in

[2016-11-11 08:21] asaunier commented on #886
It seems OK then, thanks. I close the issue.

[2016-11-11 08:21] #886 closed

[2016-11-12 19:37] asaunier commented on #753
OK, then I close the issue, please reopen if this problem really needs to be fixed.

[2016-11-12 19:37] #753 closed

[2016-11-12 19:41] asaunier commented on #556
For me this issue is important and should be considered earlier than "Later" because if a user upload a 2MB track in their outing, the 2MB geometry will be loaded when the outing page is loaded!

[2016-11-13 09:16] tsauerwein commented on #852
@stef74 FYI A sitemap is now available at http://www.demov6.camptocamp.org/sitemap.xml

[2016-11-13 22:06] loicperrin commented on #705
One question: is "Snow" value used somewhere else than in "Conditions de l'accès" (outing)? If not, the french translation has to be changed to "enneigé".

[2016-11-13 22:29] loicperrin commented on #690
In advanced search results page:
- [ ] outings have to be sorted by the date of the outing (the more recent should appear first)
- [ ] other documents have to be sorted by the date of creation (the last created document should appear first)

[2016-11-14 07:53] asaunier commented on #705
You may find the answer by yourself having a look at the lists of attributes values here: https://github.com/c2corg/v6_common/blob/master/c2corg_common/attributes.py

``snow`` is used for
* ``ground_types`` https://github.com/c2corg/v6_common/blob/master/c2corg_common/attributes.py#L84
* ``access_conditions`` https://github.com/c2corg/v6_common/blob/master/c2corg_common/attributes.py#L517
* ``imag

[2016-11-14 12:19] arnaud-morvan commented on #895
I've set this new key in the composition, recreated the v6_ui container and flushed the cache. IGN base layer now display correctly on the demo.

[2016-11-14 12:23] HSERGERAERT commented on #895
This is still not running well on Beta server

[2016-11-14 12:30] asaunier commented on #895
It works for detail view pages. For instance http://www.demov6.camptocamp.org/routes/670647/fr/vallee-d-ailefroide-poire-d-ailefroide-ami-de-30-ans

But not on the advanced search pages: http://www.demov6.camptocamp.org/routes#bbox=700642%252C5603006%252C717993%252C5630715
Requested tiles are refused with message ``Wrong referer or wrong IP Adress or wrong User-Agent``.

That's strange that 2 beha

[2016-11-14 13:20] arnaud-morvan commented on #895
Works with Chromium, but not Firefox on my side. Same for all routes/views.

[2016-11-14 13:24] arnaud-morvan commented on #895
I've disabled my Firefox RefControl for IGN WMTS (referer set to localhost for other development purpose) and it works as expected now.

[2016-11-14 16:02] asaunier commented on #895
I think it is only a cache problem: OK for all URLs above when resetting or disabling the browser cache.

@HSERGERAERT Could you please try to empty your cache and test again?

[2016-11-14 17:16] stef74 commented on #791
@desnoes could you do a synthesis ? It's not clear what is not working.

[2016-11-14 17:26] stef74 commented on #900
@loicperrin do you confirm the issue ?

[2016-11-14 17:33] asaunier commented on #894
I have observed the same problem: I have just tried to upload 4 images on http://www.demov6.camptocamp.org/routes/751904/fr/col-emile-pic-traversee-glacier-blanc-greatergreater-glacier-des-agneaux

No error was thrown but the 4 images are broken in the carousel and in the slideshow (see screenshot in previous comment). When I try to load those images I get:
http://sos.exo.io/c2corg_demov6_active14

[2016-11-14 17:34] arnaud-morvan commented on #900
Probably due to the missing discourse api key in v6_api that I add this morning.
So this may be fixed now.

[2016-11-14 18:23] HSERGERAERT commented on #895
Yes it works, you was right, I had to remove the cache. I close !

[2016-11-14 18:23] #895 closed

[2016-11-14 21:03] loicperrin commented on #900
Now it works.

[2016-11-14 22:41] loicperrin commented on #690
In advanced search results page:
- [ ] new documents do not appear. See for example http://www.demov6.camptocamp.org/waypoints/815733/fr/test-summit. Same for outings.

[2016-11-14 22:49] loicperrin commented on #791
New problems detected:
- [ ] WP/deco-attero: field ground_type is missing
- [ ] WP/deco-attero: field altitude is missing. It is a blocking problem, as when trying to save such a WP, an error message is displayed "Champ obligatoire: Altitude", and the WP cannot be saved

[2016-11-14 23:10] loicperrin commented on #705
Yes!
Maybe it should be useful to change also the value for image_categories, as the translation will not be the same as for ground_types.

[2016-11-15 08:49] asaunier commented on #690
@arnaud-morvan Does the ES syncer script run on the demo?
https://github.com/c2corg/v6_api#run-the-application
[code]
See https://github.com/c2corg/v6_api/issues/285

[2016-11-15 08:51] asaunier commented on #705
Wouldn't if be "neige" in both cases? What's the french translation of the image category "snow"?

[2016-11-15 08:55] #897 closed

[2016-11-15 09:04] ginold opened #906 "Wrong image on-click in the gallery"
- [ ] I have noticed several times where the image opened in the slideshow what not the one I had clicked in the carousel.

[2016-11-15 13:19] arnaud-morvan commented on #894
Yesterday, I've removed the ending ``/`` in ``image_url``, because browser was trying to get images with ``bucket//key``.
I do not really understand, but I've just readded the ending ``/`` in ``image_url`` and all seems to work fine now.

[2016-11-15 16:12] arnaud-morvan commented on #894
I get it : image detail view adds a ``\`` at the end of ``image_url``.
http://sos.exo.io/c2corg_demov6_active//1479214556_1000405130BI.jpg Failed to load
Example: http://www.demov6.camptocamp.org/images/815750/fr/-

[2016-11-15 20:26] fbunoz opened #908 "The Personal feed switch is instable"
When I switch off the personal feed, and I reload the page, the personal feed is switched on.
It means the state of the personal feed switch is not stored.

[2016-11-15 20:30] fbunoz opened #909 "Some picto are not dispayed correctly"
On Firefox 38.7.0 / CentOS 6.7, some pictos are not displayed correctly.
See the screen capture on this outing : http://www.demov6.camptocamp.org/outings/815753/fr/pas-de-la-coche-versant-e

[2016-11-15 20:43] fbunoz opened #910 "Invalid image url on home feed"
On the home feed, the image url are invalid in the card :
```background-image: url(//sos.exo.io/c2corg_demov6_active1479025574_280720615MI.jpg)```
instead of
```background-image: url(//sos.exo.io/c2corg_demov6_active/1479025574_280720615MI.jpg)```

It is not stable : sometime the url is correct, sometime it misses a / , sometime there is 2 slash ( // ) !

[2016-11-15 21:25] asaunier commented on #908
Yes, that's the wanted behaviour. Not a bug => closing.

[2016-11-15 21:25] #908 closed

[2016-11-15 21:31] asaunier commented on #909
Please add the screenshots directly in the issue.

Here they are:

![1479232957_371006277bi](https://cloud.githubusercontent.com/assets/1192331/20324944/db8e008e-ab82-11e6-91bf-5ce59f035f54.png)

![1479232956_1460289867bi](https://cloud.githubusercontent.com/assets/1192331/20324945/db8e5138-ab82-11e6-898e-214c8fa529b6.png)

I also copy here what you have reported in the forum of the association:

[2016-11-15 21:41] asaunier commented on #909
@ginold Could it be a problem of SVG fonts not correctly supported by older browsers? How old is FF38? Latest version is FF 50.
OK I have found the answer: FF38 was out in may 2015 https://www.mozilla.org/en-US/firefox/38.0/releasenotes/ Not so long ago.

Mine was FF 45 before it has just auto-upgraded and the icons were fine.

[2016-11-15 21:42] asaunier commented on #910
@arnaud-morvan It looks like some problem you have reported today, doesn't it?

[2016-11-15 21:52] fbunoz commented on #910
An exemple of double // : http://www.demov6.camptocamp.org/images/815757/fr/design-fil-d-activite (in url of the main image)

[2016-11-15 21:55] fbunoz opened #911 "The comments is broken on image doc"
The comments don't work on a image doc : http://www.demov6.camptocamp.org/images/815757/fr/design-fil-d-activite
A Discourse error directly showed in the doc :

[2016-11-15 22:00] asaunier commented on #910
Could it be related to a trailing / in a config such as https://github.com/c2corg/v6_ui/blob/master/config/demo#L11 ?

[2016-11-16 00:29] asaunier commented on #791
@loicperrin I notice that "excellent" is used both for the condition ratings and for the quality ratings (but the translations are different).
https://github.com/c2corg/v6_common/blob/master/c2corg_common/attributes.py#L528
https://github.com/c2corg/v6_common/blob/master/c2corg_common/attributes.py#L602

* [ ] I think we'll have to rename one of these values, most likely the quality one. What do y

[2016-11-16 00:35] asaunier commented on #894
Perhaps related to https://github.com/c2corg/v6_ui/issues/910 ?

[2016-11-16 08:18] #751 closed

[2016-11-16 08:22] ginold commented on #909
:fearful: ... it will be of no surprise if I say that I have no idea.
Needs further investigation.

[2016-11-16 09:06] stef74 commented on #909
I propose to not take time on this issue ... just test if more recent FF is work.

[2016-11-16 09:15] ginold commented on #909
People, **update** your browsers! :P

[2016-11-16 10:11] arnaud-morvan commented on #910
It seems that we need the ending ``/`` for all pages except image detail view. I suggest to correct the image detail view.

[2016-11-16 10:13] asaunier commented on #910
@ginold could you have a look, please?

[2016-11-16 17:12] #894 closed

[2016-11-16 18:32] desnoes opened #912 "Ad banner integration in the sidemenu"
The advertisment picture overlap the community section
see
![pub accueil](https://cloud.githubusercontent.com/assets/19892089/20360210/1f28e7ae-ac33-11e6-9726-e3f296c17dac.jpg)

[2016-11-16 20:23] desnoes opened #913 "route creation display: the unit (meter) is missing for 2 fields"
All type of activities: the unit (meter) is missing for the field 'denivelé de l'approche'. See example below.
VTT: the unit (meter) is missing for the field 'Portage VTT'. See example below
http://www.demov6.camptocamp.org/routes/822279/fr/tete-de-vauclave-essai-beta-vtt

![iti vtt](https://cloud.githubusercontent.com/assets/19892089/20364265/bdf4edb0-ac42-11e6-8717-0db743a10029.jpg)

[2016-11-16 21:17] desnoes commented on #705
- [ ] the field 'Type de voie' is not displayed correctly when the value 'Grande voie'or 'couenne' is selected. Instead, either 'multi' or 'single' is displayed. It seems to be an error related to transifex.
![iti escalade](https://cloud.githubusercontent.com/assets/19892089/20365986/78afbd3c-ac49-11e6-9379-99408672b7f0.jpg)

[2016-11-16 21:19] asaunier commented on #912
Actually it only happens when the banner starts overlapping the menu. If you shrink a little more the screen in height, the banner is removed.

I think it worked correctly until the "version ..." link was added in the footer of the menu column. There's probably some CSS to update.

In fact this "version" link probably takes a bit too much space or could be placed somewhere else (no idea where!?) o

[2016-11-16 21:26] asaunier commented on #705
There are 2 errors:
* the attribute value is not marked as to be translated in https://github.com/c2corg/v6_ui/blob/master/c2corg_ui/templates/route/helpers/view.html#L74 => we (SA) have to fix this.
* the FR translations in Transifex for "multi" and "single" are... "multi" and "single". Which is obviously not correct. @shortoland a job for you :)

[2016-11-16 23:31] loicperrin commented on #705
The image category "snow" has to be translated into "Nivologie et avalanches", where as it should be "Neige" (ou "neige éternelle") for ground_types.

[2016-11-16 23:42] asaunier commented on #705
I have just made changes before seeing your answer. See https://github.com/c2corg/v6_common/pull/42/files
Ground type "snow" remains unchanged.

[2016-11-16 23:47] loicperrin commented on #705
Perfect, thanks!

[2016-11-16 23:51] loicperrin commented on #791
"excellent" in quality ratings can be replaced by "very good".

[2016-11-16 23:59] asaunier commented on #791
OK, added to https://github.com/c2corg/v6_common/pull/42/files

[2016-11-17 00:07] asaunier commented on #791
I have changed to "great" because the blank space in "very good" is a problem (the qualities are used as CSS classes for the quality icons).

[2016-11-17 12:35] #880 closed

[2016-11-17 13:24] #874 closed

[2016-11-17 14:54] ginold commented on #910
I'm not sure to understand: does this problem occur on the feed page within the cards or on the image-view page? Because I can't spot any problems in the feed, whereas I see some issues on the view page.

[2016-11-17 14:57] asaunier commented on #910
Yes, that's what @arnaud-morvan has reported just above :P
The problem is with the detail view pages.
Perhaps some config change has been done in the meantime, which explains why the initial comment seems no longer relevant.

[2016-11-17 15:00] ginold commented on #910
Ok...
Very likely due to `${create_image_link(image_url + '/' + image['filename'], 'BI', locale['title'])}` with the additional " / ". But this is odd, because it should not matter if the link is `//sos.exo.io/c2corg_demov6_active/1479225519_119738018BI.jpg`
or
 `//sos.exo.io/c2corg_demov6_active//////1479225519_119738018BI.jpg`.

At least this works with
`http://c2corgv6-images.demo-camptocamp.co

[2016-11-17 15:14] arnaud-morvan commented on #910
Apache seems to accept multiple slashes, Exoscale S3 storage do not.

[2016-11-17 15:45] #805 closed

[2016-11-17 16:04] fgravin opened #920 "Scroll issue on iOs 10.1.1"
I run the site in Safari.
I click on TopoGuide, then a long list of spots is displayed, i can't scroll properly the list.
Very slow, buggy.

Seems it's because the pan (for scroll) trigger a click on elements, so they are selected and it blocks the scroll.

[2016-11-17 16:36] desnoes opened #921 "Route: the field 'orientation' is not displayed"
The field 'orientation' is not displayed in the route document (see: http://www.demov6.camptocamp.org/routes/822280/fr/tete-de-vauclave-essai-beta-via-ferrata). On the other hand, it is displayed in the corresponding card (see the card from the associated WP: http://www.demov6.camptocamp.org/waypoints/262930/fr/tete-de-vauclave)

[2016-11-17 17:28] asaunier commented on #889
For me it's OK. I think we have discussed it with @tsauerwein and have chosen to keep the login here. Mainly because it is often shorter and is anyway not displayed to the public.

In brief, it's a choice, not an error.
I admit that in the forum that's the "forum_username" that is used, so using the same in the UI would make sense as well.

I think the other points are already fixed See https://gi

[2016-11-17 17:54] BorutK opened #922 "Climbing route: wrong minus sign for global rating"
On climbing route documents, the global rating (F, AD−, ... ED+) uses the hyphen-minus character (-) instead of the mathematical symbol minus (−). The advantage of the proper minus sign is that it has the same length as the plus sign.

_(edit)_

[2016-11-17 21:22] asaunier opened #923 "The geonames search does not work in https"
When using an advanced search with an HTTPS URL,
https://www.demov6.camptocamp.org/routes#bbox=-593070%252C3794863%252C1393069%252C7405136
the geonames-based recentering tool does not work ("not result") because the service is not available in HTTPS.

Actually it is available but as a premium webservice (not free): http://www.geonames.org/commercial-webservices.html

[2016-11-17 21:37] asaunier commented on #920
Thanks @fgravin for the feedback!
I have tested in a "desktop" Safari 10 and have notice nothing special.
Then tested in Browserstack with setting "iphone 7 - iOS 10.0" with nothing special either: no long list of spits, no strange behaviour when panning downwards (except maybe that the card I touch is pressed down - but the link is not triggered and the scroll works).

[2016-11-17 21:54] asaunier commented on #686
OK with Edge 14 and 13 on Windows 10.
KO on IE 11 and 10 on Windows 8.

With IE10 there are also many styling problems (blocks the wrong size and badly positioned).

[2016-11-17 21:58] asaunier commented on #685
Tested using Browserstack.com:
* OK with Edge 14 and 13 on Windows 10.
* KO with IE 11 on Win 8.1
* but OK on IE 10 on Win 8 !?

[2016-11-17 22:26] asaunier commented on #922
Are you sure it's not already the case?

When I try to change ``ED-`` in https://github.com/c2corg/v6_common/blob/master/c2corg_common/attributes.py#L344-L366 to  use ``-`` (hyphen-minus), my diffing tool reports no change at all, whereas it does when changing to ``−``(mathematical symbol minus).

As you can see in https://github.com/c2corg/v6_common/blob/master/c2corg_common/attributes.py#L344-L3

[2016-11-17 23:07] asaunier commented on #921
Actually the compass graphic is shown - as well as the associated areas - on mobile screens or when the browser screen is made narrow enough. Else the areas are shown over the map. But then it seems the compass is shown nowhere? @ginold do you have an idea?

I wonder if we should not simplify all of this and always show the areas (and the compass) in the standard info block (not on the map)? Ditto

[2016-11-17 23:58] asaunier commented on #705
@loicperrin

This is a bit confusing to me. If we use "opening_periods" for "access" waypoints as well, "access_period" seems to be no longer needed:
https://github.com/c2corg/v6_ui/blob/master/c2corg_ui/templates/waypoint/edit.html#L740-L742

Is it correct?
I have prepared a change that adapt the attribute name in the document page as well, depending on the waypoint type, see https://github.com/c