[2016-11-18 07:22] tsauerwein commented on #923
Possible solutions:
* The association is willing to pay for the premium service.
* We set up a proxy.
* We use an alternative service, e.g. [Photon](http://photon.komoot.de/) or [OSMNames](http://osmnames.org/api/)

[2016-11-18 07:58] dkocich commented on #920
I believe that all PC tools for simulating of mobiles can't catch all possible errors.
We can maybe try some tools at least when the page will be accessible without the login/pass.

https://search.google.com/search-console/mobile-friendly
https://testmysite.thinkwithgoogle.com/
http://ready.mobi/

[2016-11-18 08:11] stef74 commented on #920
Hello,

I have just tested on same condition (same browser and OS).

For me rendering is correct ... but scrolling is no "smooth" ("saccadé" in french)

Your tools is not able to detect this type of issue ... probably is due to bug on safari side.

If someone have a version 10.0 or 9.x to confirm ?

[2016-11-18 08:13] stef74 commented on #923
The cost of premium service is 720€/ years.

So what is the time needed to setup the two other solution ?

[2016-11-18 08:14] #909 closed

[2016-11-18 08:21] stef74 commented on #685
KO on IE 11 on win 7

[2016-11-18 08:34] stef74 commented on #685
Since 01/16 IE 11 about 7% of global traffic but high decreasing since september. Now is 30K sessions/Month

[2016-11-18 08:46] ginold commented on #685
Loading the map on IE gives the following error in the console :` SCRIPT5022: IndexSizeError`

[2016-11-18 09:09] stef74 commented on #131
@asaunier this ticket can be close ? (dedicated ticket already exist) and no action on SA side ?

[2016-11-18 09:10] stef74 commented on #198
@fjacon when this issue is planned ? Is not blocking ... but important in term of ergonomy

[2016-11-18 09:12] tsauerwein commented on #923
<0.5 d

[2016-11-18 09:27] ginold commented on #922
I'd say that in fact − and - ``ED-`` and ``ED+``  have different lengths. I can quickly fix it ;)

[2016-11-18 09:56] ginold commented on #921
It's shown on mobile because of the post-it which is visible at all times on desktop and hidden on mobile - the info would be doubled. I can move the orientation to it's own case and move it from the 'location' ?

[2016-11-18 10:15] tsauerwein commented on #593
I've set up angular-loading-bar for another project, and it worked out of the box.

When we set it up, we have to make it sure that it plays nicely with already existing loading indicators (for example for the feed or advanced search).

[2016-11-18 10:32] asaunier commented on #921
Up to you. Anyway the orientation cannot be managed in combination with the areas.

[2016-11-18 10:34] ginold commented on #921
when I first created it i thought that Location and Orientation are closely related...but it's better to separate. You can check my PR #926

[2016-11-18 11:50] BorutK commented on #922
- Same issue for Ski routes: Labande global grade.
- Same thing for the respective Tooltips.

That is, maybe this issue can hang on. It's really not _such_ an issue.

[2016-11-18 12:24] tsauerwein commented on #331
The API now supports 3D/4D geometries. But the UI does only send geometries with 2 dimensions. The other dimensions are removed.

[2016-11-18 12:56] ginold commented on #875
this has been fixed in #805  !

I noticed it when testing - it worked on chrome but not in ff, very strange. Turned out to be an incorrect HTML construction -> the button was like `<button><a href/></button>` instead of `<a href><button></button></a>`.
According to MSD:

Closing!

[2016-11-18 12:56] #875 closed

[2016-11-18 12:58] #686 closed

[2016-11-18 12:58] ginold commented on #736
fixed by #805

[2016-11-18 13:31] ginold commented on #655
sticky filter problem is not solved : for example go on topoguide/waypoints and scroll down to the results and click all filters -> type and you will see that the types are displayed inside the box instead on it. It's ok if you are on the top of the list only.

[2016-11-18 13:36] stef74 commented on #690
@loicperrin API was fixed ... please confirm this issue can be close ?

[2016-11-18 13:40] asaunier commented on #690
@stef74 This issue has no connection with the API. @loicperrin has mentioned a refresh problem but it had nothing to do with the columns layout and should have not been mentioned in this issue.

The current issue is still valid and cannot be closed:
https://github.com/c2corg/v6_ui/issues/690#issue-181134217

[2016-11-18 13:46] stef74 commented on #690
@loicperrin has also mentionned a probleme of refresh ... this point is blocking ... if this part is fixed we can remove the tag and let issue open

[2016-11-18 13:49] asaunier commented on #690
The refresh problem should have not been reported here. If the "blocking" label is related to the problem, please remove it anyway.

[2016-11-18 14:11] stef74 opened #927 "Filtering on quality not work"
http://www.demov6.camptocamp.org/routes#w=37593&qa=medium%252Cexcellent&offset=30

You can see a draft document ... but on my filter I have apply to only show route between medium and excelent

[2016-11-18 16:02] desnoes commented on #705
Outing; Access field. The attribute 'Neige' seems to be a translation error (see example below).
![acces](https://cloud.githubusercontent.com/assets/19892089/20436512/c616a488-adb0-11e6-944f-2b1381967382.jpg)

[2016-11-18 16:13] asaunier commented on #705
@desnoes This problem has already been reported by @loicperrin and fixed (perhaps not already available in the demo)  See https://github.com/c2corg/v6_ui/issues/705#issuecomment-261108989

[2016-11-18 16:22] desnoes opened #929 "Problems with image uploading"
When i try to upload an image, the upload counter (percentage) goes up to 99% and then go back to 10% and restart. This process loops endlessly and the image is never uploaded. I use FF with version 49.0.2.

[2016-11-18 17:29] tsauerwein opened #930 "Waypoint, routes and outings without geometry"
Currently when trying to open http://www.demov6.camptocamp.org/outings/694060 an error is shown.

The problem is that the outing has not geometry. During the migration the geometries for routes are set from associated waypoints, and the geometries for outings are set from associated routes. But there are 171 waypoints that do not have a geometry. So, no geometry can be set for the associated route

[2016-11-18 17:35] asaunier commented on #930
@stef74 @fbunoz @loicperrin @desnoes Can we assume that all 171 waypoints will be georeferenced in v5 before the golive?

[2016-11-18 19:27] stef74 commented on #930
Yes but need to communicate quickly
--
Sent from Gmail Mobile

[2016-11-19 08:20] mgerbaux opened #933 "Profiles page are sometimes not displayed"
using firefox 44.0 sous linux

Often these pages are not displayed : http://imgur.com/a/zsQMd
Sometimes it is long to get
Sometimes it is OK

When not displayed, in JS debug  console :
[code]

it seems right using Chromium browser

[2016-11-19 09:26] desnoes commented on #705
Translation missing : 'Books' => 'Livres'
![books](https://cloud.githubusercontent.com/assets/19892089/20454488/9acc89c2-ae42-11e6-86a1-1fd0bea66cd0.jpg)

[2016-11-19 09:35] asaunier opened #936 "Deprecation warning with moment"

[2016-11-19 09:39] asaunier commented on #933
The problem seems not to occur systematically (I have not been able to reproduce it but @mgerbaux has shown it to me on his laptop).

A few more info:
- when it happens, the additional request to ``http://<ui_host>/profiles/data/<user_id>/fr`` is 500
- the logs report that
[code]
=> perhaps a problem (not a JSON content?) with what the API returns to the UI service

[2016-11-19 09:44] tsauerwein commented on #933
Do you see anything in the API logs?

[2016-11-19 09:57] asaunier commented on #933
I think I have seen nothing in the error logs.

[2016-11-19 10:12] asaunier commented on #705
@desnoes the translations are not up-to-date on the demo. It's OK on http://c2corgv6.demo-camptocamp.com/books

[2016-11-19 10:30] asaunier commented on #933
I suspect it is related to the Basic Auth (wrong header ``Authorization`` passed to the API). See https://github.com/c2corg/v6_ui/issues/771#issuecomment-256482659

Not sure though: I have just tested to remove the Basic Auth on the "dev" demo => it worked for me in FF (had the problem before with FF), not for @mgerbaux (same error apparently).

[2016-11-19 10:33] desnoes opened #937 "WP creation 'Paragliding' does not work"
The cotation is a number (1 to 5) and the processing is waiting for a string.

![paragliding](https://cloud.githubusercontent.com/assets/19892089/20454850/e14e5f84-ae4b-11e6-95ac-0ea54650d8ce.jpg)

[2016-11-19 11:12] desnoes opened #938 "WP Local product : remove "Transport & Accès" section"
Fields local.access and local.period are missing.

![local product](https://cloud.githubusercontent.com/assets/19892089/20455031/6be92a52-ae51-11e6-85f5-724ab2274461.jpg)

[2016-11-19 11:21] asaunier commented on #593
See also https://github.com/c2corg/v6_ui/pull/925

[2016-11-19 11:22] asaunier commented on #456
See also https://github.com/c2corg/v6_ui/pull/925

[2016-11-19 11:32] desnoes opened #940 "WP creation 'Shelter': field 'capacuty_staffed'"
The field 'capacity_staffed' shall not be considered for the creation of a shelter (see https://github.com/c2corg/v6_common/blob/master/c2corg_common/fields_waypoint.py). The result is correct, only the field 'capacity' is displayed.

![abri](https://cloud.githubusercontent.com/assets/19892089/20455122/33ff91d2-ae54-11e6-9e8f-7161dcae108d.jpg)

[2016-11-19 11:46] mgerbaux commented on #929
Same issue (using FF or Chromium)
Images with small weight (100-200 ko) can be uploaded, larger(about 1.5Mo) not (with @asaunier poor wifi connection).

[2016-11-19 12:06] desnoes opened #941 "WP creation 'climbing_indoor': 'elevation' shall not be requested"
It is not possible to complete the creation of the document. The 'elevation' is required while it is not specified in the 'required' section (https://github.com/c2corg/v6_common/blob/master/c2corg_common/fields_waypoint.py)

![sae](https://cloud.githubusercontent.com/assets/19892089/20455289/bfe4b87c-ae58-11e6-88af-406468dc8be4.jpg)

[2016-11-19 12:24] desnoes opened #942 "WP creation 'Access': title errors"
- [ ] 'Accès' shall be replaced by 'Accès routier'.
- [x] 'Période de gardiennage' shall be replaced by 'Période de déneigement ou d'ouverture'.

![access](https://cloud.githubusercontent.com/assets/19892089/20455395/6c23867a-ae5b-11e6-9a1f-058c47d61acc.jpg)

[2016-11-19 12:24] fbunoz opened #943 "Filter : do not updaye result before closing a multi choice selector"
When I want to filter the routes on skitouring, snowshoeing, or hiking, I need to open the activities selector, and select 3 check box.
But the result is updated at each selection, then the server is loaded for anything, and the user must wait between each select.
I think it should better update the result when the select box is closed by the user.
This behaviour is useful for all mumti choice sel

[2016-11-19 12:31] asaunier commented on #943
@tsauerwein has anticipated your request and already fixed it https://github.com/c2corg/v6_ui/pull/934

[2016-11-19 13:25] #850 closed

[2016-11-19 13:28] tsauerwein commented on #933
I was able to reproduce the error with this profile: https://www.demov6.camptocamp.org/profiles/13096/fr

I am not logged-in, and the profile is marked as non-public. The request to the API (http://api.demov6.camptocamp.org/profiles/13096) returns:

[code]

This makes the UI fail (https://www.demov6.camptocamp.org/profiles/data/13096/fr): "Internal Server Error"

On the client-side I see the follo

[2016-11-19 15:49] #729 closed

[2016-11-19 18:40] mgerbaux opened #944 "Availaibility of images as svg"
http://www.demov6.camptocamp.org/images/822354/fr/essai-svg-2

- when uploaded, svg images are transformed in png (with too much large weight)
- on the image document page, it seems not possible to download the svg source (which is quite important for collaborative work).

More over, we should be Sure that V5 svg images are correctly migrated as svg files

[2016-11-19 19:30] mgerbaux opened #945 "Impossible to create a route on new waypoints"
After creating a new waypoint, it is impossible to create an associated route
- there is no link  in the waypoint page to add a new route
- if using the route creation interface, the recently created waypoint is not proposed by the association tool (problem of indexation ?)

[2016-11-19 19:32] mgerbaux commented on #945
@stef74 : should it put for milestone GoLive ? (I think yes)

[2016-11-19 19:43] mgerbaux opened #946 "snow level table is unavailable at outing creation"
For outing creation with "winter" activities, it is impossible to define snow conditions by area
- there is no line by default
- the button to add a line is not functionnal.

This is OK when editing the outing, a line is present and the button is working

[2016-11-20 07:31] HSERGERAERT opened #947 "Pictures are not displayed in the feed for new outings"
Example : https://www.demov6.camptocamp.org/outings/822355/fr/col-de-fenestral-combe-s#/&gid=1&pid=3
Christian created an outings with pictures, the outing is then in the feed but the pictures are not displayed.
If additional pictures are added (I added one) then one more event in the feed with the picture.

Expectation : pictures should be displayed in the feed with the event "creation of an outi

[2016-11-20 15:21] tsauerwein commented on #816
@fjacon I think your questions where resolved in https://github.com/c2corg/v6_ui/issues/878#issuecomment-259354796.

What is left to do in this issue is to show the images for all feed activity types (all types may contain images).

[2016-11-20 15:21] tsauerwein commented on #947
Closing as a duplicate of https://github.com/c2corg/v6_ui/issues/816

[2016-11-20 15:21] #947 closed

[2016-11-20 15:56] fbunoz opened #948 "Mobile : quality or field error popup showed after 2 clicks on the save button"
On desktop, when we clic on the save button, the quality popup, or a missing field error, must appear
But on mobile nothing appear. We must clic a 2nd time on save button to the popup be visible.

[2016-11-20 16:03] fbunoz opened #949 "Edition on desktop : missing last tab link"
On desktop, on the edit page of a doc, there is a line at the top with the title of the 3 tabs of the form.
A clic on a title switch to the corresponding tab.
Except for the last title: a clic on the last tittle don't switch to the tab.

[2016-11-20 16:13] fbunoz opened #950 "An article creation doesn't appear in the flux when an area personnalisation is used"
On the home flux when we are connected, no article creation card is showed if the user uses an area personnalisation.

[2016-11-20 19:53] stef74 commented on #351
@fjacon could you give us visibility ?

[2016-11-20 19:56] stef74 commented on #690
Concerning the sorting it is clear ?

[2016-11-20 19:59] stef74 commented on #791
@asaunier What is the remaing job on this issue ? (WP deco/attero only ?) So I remove blocking

[2016-11-20 20:00] stef74 commented on #836
@fjacon @ginold When it is planned ?

[2016-11-20 20:03] stef74 commented on #736
@fbunoz @shortoland could you test ?

[2016-11-20 20:03] stef74 commented on #865
@fbunoz @shortoland could you test ?

[2016-11-20 20:04] stef74 commented on #910
@fbunoz @shortoland could you test ?

[2016-11-20 20:05] stef74 commented on #912
@desnoes @shortoland could you test ?

[2016-11-20 20:05] stef74 commented on #913
@desnoes @shortoland could you test ?

[2016-11-20 20:06] stef74 commented on #921
@desnoes @shortoland could you test ?

[2016-11-20 21:10] stef74 commented on #945
For the first point an issue allready exist

[2016-11-20 21:12] stef74 commented on #943
@tsauerwein when  ils available on demo ?

[2016-11-20 21:13] stef74 commented on #942
Us only a translation issue ?

[2016-11-20 21:31] fbunoz commented on #942
No, because the string "Accès" is used for other WPs, and the string "Période de gardiennage" is used for the huts.

[2016-11-20 23:40] fbunoz opened #951 "A route with a main WP can't be transformed to a route without main WP"
As explained in [this comment](https://github.com/c2corg/v6_api/issues/120#issuecomment-170845105), a route must have a linked WP, but can have no main WP. In this case, the full route name contains only the route name (without WP name as prefix).
To do this, we should be able to remove the main WP attribute of a WP in the edit page. But we can't. We can only choose the main WP, but the UI doesn't

[2016-11-21 06:53] desnoes commented on #913
i have tested, the bug has not been fixed.

[2016-11-21 06:55] desnoes commented on #921
The bug is still there on the demo site.

[2016-11-21 08:22] ginold commented on #941
yes it is, look closely: https://github.com/c2corg/v6_common/blob/master/c2corg_common/fields_waypoint.py#L16

[code]

[2016-11-21 08:24] asaunier commented on #944
I have reopened issue https://github.com/c2corg/v6_images/issues/8

It is probably related to the isse above but I wonder if the UI image detail view is correct as well? Showing the rasterized resized BI image is OK but clicking on it should open the original SVG. In addition it would probably make sense to mention somewhere that the original image is an SVG?

[2016-11-21 08:34] asaunier commented on #948
What is the "store button"?
Could you also precise the issue title? It seems related to the mobile browsing, right?

[2016-11-21 08:41] ginold commented on #948
I think @fbunoz  meant "the save button"

[2016-11-21 08:42] asaunier commented on #950
This is an API issue, not a UI one. I have created an API issue at https://github.com/c2corg/v6_api/issues/510 and then close this one.

[2016-11-21 08:42] #950 closed

[2016-11-21 08:48] asaunier commented on #912
@stef74 The issue is marked as "ready for demo" (not "fixed and ready to be tested"), which means a PR has been merged but that the fix is not available in the demo yet.

[2016-11-21 08:50] asaunier commented on #945
https://github.com/c2corg/v6_ui/issues/198

[2016-11-21 08:52] asaunier commented on #943
@tsauerwein is not responsible for updating the demo and thus cannot answer your question.

[2016-11-21 08:57] asaunier commented on #913
Again: label "ready for demo" means the fix is not available on the demo yet (the issue would be labelled as "fixed and ready to be tested").

[2016-11-21 09:00] stef74 commented on #912
Ok it''s misunderstanding of the label .....

[2016-11-21 09:01] asaunier commented on #941
@ginold It's not. Look closely:
https://github.com/c2corg/v6_common/blob/master/c2corg_common/fields_waypoint.py#L94-L99
:p

What you are pointed at are the default required fields for waypoints but for "climbing_indoor" the default setting is not used.

[2016-11-21 09:02] ginold commented on #791
I have a Work In Progres PR with a few updates. If you @asaunier are working on the same issue, please be sure to check if we haven't done the same thing!

see #952

[2016-11-21 09:07] asaunier commented on #791
@ginold I have not work in progress about this issue.

[2016-11-21 09:14] ginold commented on #791
@loicperrin

I have no problem with altitude for wp/deco-attero. Maybe it has been fixed in the meantime? please check :

![screenshot from 2016-11-21 10-14-05](https://cloud.githubusercontent.com/assets/7814311/20476844/459be96a-afd3-11e6-938b-06a3fce5176a.png)

[2016-11-21 09:24] ginold commented on #941
Nice one! :p so @desnoes probably means that elevation is not required for 'climbing_indoor' only (missing info in the issue description).

[2016-11-21 09:29] ginold commented on #940
closing because this problem has already been mentioned in #791

[2016-11-21 09:29] #940 closed

[2016-11-21 10:07] stef74 commented on #685
In beta IE is not used ... so we can explain to user than IE not working and use an alternate browser ...

[2016-11-21 10:10] tsauerwein opened #953 "Confusing activity links on homepage"
On the homepage (when not being authenticated) you see the activity icons. When clicking on an icon you get to the advanced search page for outings with a filter set on the activity.

In a "hallway ux test", it turned out that for new users I might not be obvious that you are seeing outings. They think "I am interested in climbing, so I click on the climbing icon". But then it is not clear that yo

[2016-11-21 10:16] stef74 commented on #705
@asaunier could we flag "ready for demo" ?

[2016-11-21 10:18] desnoes commented on #941
'elevation' is not considered for the 'climbing_indoor' WP and only for this WP.

[2016-11-21 10:20] asaunier commented on #942
This issue has already been reported by @loicperrin at https://github.com/c2corg/v6_ui/issues/705#issuecomment-258557772

[2016-11-21 10:22] asaunier commented on #705
Maybe. There are a few unchecked point above but some are reported in a dedicated issue, for instance: https://github.com/c2corg/v6_ui/issues/942
In addition this issue is growing a little too big and is a bit hard to read/review.

[2016-11-21 10:28] ginold commented on #398
@shortoland

could you give an example ?

[2016-11-21 13:29] asaunier commented on #944
I think it's worth studying this issue before golive, at least to figure out what should be done in order to fix it.
For instance do we need a special attribute in the DB/API? See for instance https://github.com/c2corg/v6_api/issues/357 (closed but perhaps we should have not?).
If changes are needed in the DB, it might have to be considered before the migration is done.

[2016-11-21 13:41] asaunier opened #958 "Incorrect API config in the demo UI?"
I notice that all request to the API made from the demo UI have double slashes before the path. For instance ``http://api.demov6.camptocamp.org//users/login``.

The API paths in the UI "api service" actually starts with a ``/``:
https://github.com/c2corg/v6_ui/blob/master/c2corg_ui/static/js/apiservice.js#L377
https://github.com/c2corg/v6_ui/blob/master/c2corg_ui/static/js/apiservice.js#L71

@arna

[2016-11-21 13:50] tsauerwein commented on #131
I created a separate issue for the remaining problem (bbcode -> Markdown): https://github.com/c2corg/v6_api/issues/516

[2016-11-21 13:51] tsauerwein commented on #131
Sorry that was the wrong issue.

[2016-11-21 13:52] arnaud-morvan commented on #958
Yes, demov6 ui config was having an ending slash.
I've removed the ending slash for api_url and api_url internal, recreated the ui container and flushed the cache.
Should be good now in demov6.

[2016-11-21 13:53] #958 closed

[2016-11-21 14:46] shortoland commented on #865
@stef74 Not yet ready for test

[2016-11-21 14:46] shortoland commented on #736
@stef74 Not yet ready for test

[2016-11-21 14:47] asaunier commented on #736
@shortoland Issues tagged "ready for demo" should not be tested => the demo is not updated.

[2016-11-21 15:32] shortoland commented on #942
Indeed, "Accès" is used twice and should be duplicated.

access_period is used for accesses
opening_periods is used for huts
Translations were switched, I have corrected that.

access_period is now  Période de déneigement ou d'ouverture
 opening_periods is now Période de gardiennage

[2016-11-21 15:43] shortoland commented on #736
@asaunier Yes, this is what I meant when writing "Not yet ready for test"

[2016-11-21 15:59] shortoland commented on #398
@ginold Space missing in between ski ratings. I think a few things have been fixed ... cannot exactly remember what was wrong.

[2016-11-21 16:00] ginold commented on #929
I tried to upload big images (one 2.5Mo and one 5.1Mo) simultaneously, on FF (49.0.2) and Chrome with no issues.

If there is a poor connection - that is nothing special. It happens to me to load pictures on facebook from my phone with bad connection and the loading sometimes never reaches the end...

[2016-11-21 23:17] asaunier commented on #929
I have tested to upload  3.7MB image from my place, with a standard connection (actually a pretty low one). It failed all the times (4 times) I have tried with alert  "Error while uploading the image: Timeout": after about 60 seconds the upload seems to be interrupted if it's not over.

At least twice I have noticed the progress bar went until ~60% then fell back to 10% before growing again and fi

[2016-11-21 23:18] loicperrin commented on #791
Altitude field is now OK, but when saving I have the following error in both cases:
"2 is not a string: {'paragliding_rating': ''} : Cotation parapente"

[2016-11-21 23:28] loicperrin commented on #690
Not fixed => I have reopened issue 285 (api)
And sorting seems not to be fixed (outing 17/11 is below outing 18/11 instead of right of 18/11).

[2016-11-21 23:42] loicperrin opened #959 "Outing creation on a new route: route not associated and cannot be associated"
I have created a new route: http://www.demov6.camptocamp.org/routes/822428/fr/test
If I create an outing on this route, it is not associated to the outing (it is OK if the route already contains an outing).
And if I try to add the route manually, I cannot find it (maybe it due to issue https://github.com/c2corg/v6_api/issues/285).

[2016-11-22 08:09] ginold commented on #791
This problem was fixed yesterday but I'm afraid it's not on the demo yet. Please be patient.

[2016-11-22 08:46] ginold commented on #929
I retested with the 5MB image with throttling in google (Regular 2G - 50kb/s) - it took maybe 5 minutes but it made it - but only on my instance, not on demo-c2corg!

I'm not sure to be able to answer to this issue. @arnaud-morvan, does this problem says something to you ?

[2016-11-22 09:26] ginold commented on #836
I'm working on it right now, it should be `ready for demo` today or tomorrow.

[2016-11-22 13:24] tsauerwein opened #962 "ESRI background map is not shown in Chrome"
For example on https://www.demov6.camptocamp.org/routes the ESRI background map is not show. In the console there is an error:

[code]

[2016-11-22 13:36] asaunier commented on #962
I have just tested https://www.demov6.camptocamp.org/routes in my Chromium: no problem with the ESRI tiles!?

[2016-11-22 13:46] tsauerwein commented on #962
Which version of Chromium are you using? My version is Version 53.0.2785.143.

[2016-11-22 13:48] tsauerwein commented on #962
In Chrome 47.0.2526.111 it works for me, it seems to be a recent change.

[2016-11-22 13:48] asaunier commented on #962
Same version it seems:
Version 53.0.2785.143 Built on Ubuntu , running on Ubuntu 16.04 (64-bit)

[2016-11-22 13:49] ginold commented on #962
I cant load them either but I think this has been happening to me since 1-2 weeks.

[2016-11-22 13:52] tsauerwein commented on #962
This seems to be related to a bug in Chromium: https://sslmate.com/blog/post/ct_redaction_in_chrome_53

Updating Chromium should fix the problem, I will give it a try.

[2016-11-22 13:56] tsauerwein commented on #962
Yep, updating Chromium fixed the problem for me. I think in this case we can close this issue.

[2016-11-22 13:56] #962 closed

[2016-11-22 15:23] dkocich commented on #948
It is maybe related to the `:hover` styles ([stackoverflow here](http://stackoverflow.com/questions/12594522/two-clicks-required-when-only-one-should-be-needed-on-ipad-iphone))? Depends on the device, if it is virtualized/physical...

[2016-11-22 16:44] asaunier opened #964 "Size of document-embedded images"
Tags such as ``[img=123456 big/]`` in a document are replaced by an ``img`` HTML tag showing the ``BI`` image. Since BI images are bigger in v6 (up to 1500px), the document layout may be badly distorted.
The image should instead be shrunk to at least fit in the document description section width.

[2016-11-22 18:59] HSERGERAERT opened #965 "Map : "recenter on" is not working anymore"
Test made on demov6.
You can select "Lyon" or "Grenoble" or "Finhaut",  or "Paris" the map is not recentered anymore.
It's working on http://c2corgv6.demo-camptocamp.com/

[2016-11-22 19:03] asaunier commented on #965
Thanks @HSERGERAERT for reporting the problem. Actually it's already described (and explained) in https://github.com/c2corg/v6_ui/issues/923

Closing the issue, since it's a duplicate.

[2016-11-22 19:03] #965 closed

[2016-11-22 19:09] HSERGERAERT commented on #923
What is the advantage right now to work with https:// if this function is working with http:// ?

[2016-11-22 19:15] asaunier commented on #923
It's mandatory to use https service when the calling page is https. Else the browser complains or even blocks the requests.

[2016-11-22 19:38] HSERGERAERT commented on #923
Sure. Do we have strong argues to use an https:// starting page instead of the http://, at least until this issue is solved. This issue is linked to milestone v6.1, I have a bad feeling if the recenter on is not working at go-live

[2016-11-22 19:51] desnoes commented on #351
Basic search for articles with keyword 'petzl': the result is not appropiate, some articles do not contain the keyword 'petzl' (example: http://www.demov6.camptocamp.org/articles/731476/fr/changer-d-approche-11-idees-de-sorties-montagne-sans-voiture-au-depart-de-lyon)

[2016-11-22 20:12] fbunoz commented on #948
Could you also precise the issue title? It seems related to the mobile browsing, right?

Yes, it's the save button :)
This behaviour has been seen on android and iphone.
The popup seems to be created behind the current layer instead of over, but I didn't see into the HTML/CSS.

[2016-11-23 08:08] tsauerwein commented on #923
In 2016 there are little reasons not use HTTPS everywhere (for example see here if you need arguments: https://developers.google.com/web/fundamentals/security/encrypt-in-transit/why-https). Changing the geo search provider is a fairly simple change, this should not block us from using HTTPS.

[2016-11-23 08:11] stef74 commented on #923
@tsauerwein I agree with you but starting HTTPS post live is not a big issue ... currently many point are not ready for live ... so priority is not HTTPS.

[2016-11-23 08:27] ginold commented on #964
I think it is already the case: whatever the width is, it should fit the description width.

[2016-11-23 09:38] asaunier commented on #923
Please not the "recenter on my position" button  (on the map) does not work if not in https.

[2016-11-23 09:44] asaunier commented on #964
See for instance http://www.demov6.camptocamp.org/articles/792303/fr/armenie-a-ski-de-randonnee

I have used ``[img=822359 big/]`` in the article content.

![sans titre](https://cloud.githubusercontent.com/assets/1192331/20556977/ca36cb94-b169-11e6-9de3-7db1140b9560.jpg)

[2016-11-23 09:45] asaunier commented on #964
Oh wait! The demo is not up-to-date! Sorry, perhaps it's OK then.

[2016-11-23 09:50] ginold commented on #964
Yeah I noticed yesterday that my PR on embedded images was not yet available on the demo.

[2016-11-23 10:17] ginold commented on #791
A few updates (not yet on the demo, so please don't test yet) :
+ remove 'capacity_staffed' for waypoint type 'shelter'
+ add 'route_length' for waypoint type 'rock_climbing'
+ remove 'difficulties_height' from route type 'mountain_biking', 'hiking' and 'snowshoeing'
+ add 'ground_types' for waypoint type 'paragliding_landing' and 'paragliding_takeoff'
+ let save waypoint type 'climbing_indoor' wi

[2016-11-23 10:17] asaunier commented on #398
Desktop: Quality. Max elevation shouldn't be displayed

@shortoland Why?
That doesn't sound consistent or relevant to me.

Let me recap:
* outing card in home or profile feed: elevation_max yes
* outing card in advanced search: elevation_max yes (I guess)
* outing card in the association section of a route detail view: elevation_max no?

It is more consistent to have the attribute in all cards. An

[2016-11-23 10:20] dribagnac opened #966 "Outing - Block Associated route still display an empty area when closed"
When I am displaying an outing, for eg
http://www.demov6.camptocamp.org/outings/821396/fr/pointe-de-chalune-par-le-col-de-la-ramaz-depuis-sommand#/&gid=1&pid=4

   I want to close the block _Associated route_, a small DIV is still displayed (div class="associated-documents collapse")
![screenshot-www demov6 camptocamp org 2016-11-23 11-15-20](https://cloud.githubusercontent.com/assets/995825/20558

[2016-11-23 10:26] dribagnac opened #967 "Outing : floating panel for location is sometimes hiding buttons"
Within an outing, on the topographic map, the panel for location (class="location-static") can hide the round buttons (comments, more), depending of the size of the browser.

   Tested on Chrome 54 et FF.
http://www.demov6.camptocamp.org/outings/821396/fr/pointe-de-chalune-par-le-col-de-la-ramaz-depuis-sommand#/&gid=1&pid=4

   See screenshot.

![screenshot-www demov6 camptocamp org 2016-11-23 11-

[2016-11-23 10:31] ginold commented on #966
probably because `.associated-documents` has a `padding-top`, which does not play too well with bootstraps `.collapse `

[2016-11-23 10:38] dribagnac opened #968 "Missing Weather forecasts, Avalanche bulletin"
On previous version of Camptocamp (V5), some links were present for weather and avalanche bulletin for the day of the outing.

Eg : http://www.camptocamp.org/outings/729459/fr/mont-racine-depuis-montmollin
See screenshot
![screenshot-www camptocamp org 2016-11-23 11-36-58](https://cloud.githubusercontent.com/assets/995825/20558611/382519b0-b171-11e6-8974-ffe6be4f20b2.png)

   On V6 theses links ar

[2016-11-23 10:44] dribagnac opened #970 "Problem on Hover on icon with Chrome"
Take this page (for example)
http://www.demov6.camptocamp.org/articles/121965/fr/credits

   When I hover on the icons of activity (see screenshot), they move inside the block when I hover with the mouse.

   Bug detected only with Chrome 54 (tested on Win 10)
   Works fine with Firefox (ie icons do not move).

![screenshot-www demov6 camptocamp org 2016-11-23 11-41-49](https://cloud.githubusercon

[2016-11-23 10:50] asaunier opened #971 "Default value of quality dropdown in editing forms"
As for now the quality dropdown is set to a blank value when creating a new document (the API converts it to "draft" I think).

It would make more sense that the default quality is directly displayed in the dropdown ("draft" I think).
Dropping this line should do the job:
https://github.com/c2corg/v6_ui/blob/master/c2corg_ui/templates/helpers/edit.html#L56

[2016-11-23 10:53] dribagnac opened #972 "I can edit an image that is not mine"
I can edit an image (ie informations of an image) that is not mine.

For example this image which belongs to another contributor
http://www.demov6.camptocamp.org/images/edit/821567/fr

   I can edit it, change some datas.
   When I press the save's button (the V), an error is displayed
Oops! Cette page n'existe pas ou est privée. (this page does not exist or is private)

   **But** datas are **sav

[2016-11-23 11:16] stef74 commented on #972
The menu is not the final version.

[2016-11-23 12:45] tsauerwein commented on #972
Thanks for reporting! This should not be possible, because the image is not `collaborative` and you do not have moderator rights. I will investigate.

[2016-11-23 13:32] jmarcmod opened #973 "Lien profil topoguide -> profil forum"
**Sur la page profil topoguide, il faudrait ajouter un lien vers la page profil forum.**
- ex. mon profil topoguide : https://www.camptocamp.org/profiles/9354/fr
- ex. mon profil forum : https://forum.camptocamp.org/users/J.Marc/summary

_(9354 = ID contributeur, J.Marc = pseudo forum)_

NB : dans le profil topoguide, il y a dans le bloc _Informations_ une ligne _Pseudo forum: J.Marc_ ; on pourrai

[2016-11-23 13:36] dkocich opened #974 "Create new SVG icon for reports?"
To add reports to the UI (https://github.com/c2corg/v6_ui/pull/905) I probably need some new icon for them to put reports in the map. Nothing is in the folder right now.

Right now I am using [waypoints/misc.svg](https://github.com/c2corg/v6_ui/blob/master/c2corg_ui/static/img/documents/waypoints/misc.svg). Something similar can be maybe used just with an exclamation mark instead of the mountain?.

[2016-11-23 13:56] asaunier commented on #974
See also https://github.com/c2corg/v6_ui/issues/390#issuecomment-257816638

A possibility would be to use the v5 icon: https://github.com/c2corg/camptocamp.org/blob/master/web/static/images/svg/xreports.svg

[2016-11-23 14:20] tsauerwein commented on #816
@stef74 You could keep this for Go Live. This is a simple change in a template.

[2016-11-23 15:09] fjacon opened #975 "Cannot create a route"
When saving I get : "Failed saving the changes"

[2016-11-23 15:13] asaunier opened #976 "Map is too confusing in the editing form"
I have read a feedback that said it's not that obvious what the map in the editing form is used for. People might not figure out they can draw a route, georef a waypoint etc.

Perhaps it's simply a missing title?

[2016-11-23 15:19] fjacon commented on #943
The results are updated if the filters are not changed after 700ms

[2016-11-23 15:25] fjacon commented on #921
demo has been updated today.

[2016-11-23 15:45] dribagnac commented on #967
OK, problem is corrected

[2016-11-23 15:45] #967 closed

[2016-11-23 15:47] fjacon commented on #975
everything back to normal after I reconnect.

[2016-11-23 15:47] #975 closed

[2016-11-23 15:48] desnoes commented on #921
It has been fixed. I close the issue.

[2016-11-23 15:48] #921 closed

[2016-11-23 15:51] tsauerwein opened #977 "Timezones are not handled correctly"
I just created an outing and the feed shows "... created ... an hour ago".

[2016-11-23 16:00] fjacon commented on #959
I have an Internal Server Error when I try to add an outing to a route I just created.

[2016-11-23 16:34] shortoland commented on #398
@asaunier I totaly agree with you, but the reference is the google doc (I did not participate to the document elaboration).
So let's display this attribute, all the more if it is more simple and makes everything more consistent.

[2016-11-23 16:48] tsauerwein commented on #959
The outing has been created: https://www.demov6.camptocamp.org/outings/824705/fr/test-fred-itineraire-1

And the API returns the outing without error: http://api.demov6.camptocamp.org/outings/824705

There seems to be a problem on the UI server side.

[2016-11-23 17:04] asaunier opened #978 "Boolean attributes are not managed correctly in the detail view pages"
![9fizb8i](https://cloud.githubusercontent.com/assets/1192331/20571076/624df1e6-b1a6-11e6-96d1-d2c574b4f159.jpg)

Concerning boolean such as the ones in the screenshot above (only displayed when ``True``), I think that the problem is that the boolean value itself is not the value that must be displayed and translated. See
https://github.com/c2corg/v6_ui/blob/master/c2corg_ui/templates/outing/helpe

[2016-11-23 17:45] desnoes commented on #937
It is ok, i close the issue

[2016-11-23 17:45] #937 closed

[2016-11-23 17:54] desnoes commented on #912
The banner has disappeared !
![pub](https://cloud.githubusercontent.com/assets/19892089/20573034/44b510d0-b1ae-11e6-9db3-148e9c4c6c78.jpg)

[2016-11-23 17:59] HSERGERAERT commented on #912
Je l'aie
[image: Images intégrées 1]

Hervé

Coordinateur Projet V6
*Camptocamp Association*
Tél. +33 6 2563 5290

2016-11-23 18:54 GMT+01:00 desnoes <notifications@github.com>:

[2016-11-23 18:00] desnoes commented on #946
it've tested, it seems ok. @mgerbaux please confirm.

[2016-11-23 18:02] asaunier commented on #912
The banner is not shown when there is not enough space. Your screen is too small :P

[2016-11-23 18:05] desnoes commented on #912
Is a screen size of 17.3 inch is considered as small :)

[2016-11-23 18:09] asaunier commented on #912
It's rather a question of resolution.
Perhaps there are too many things in the sidemenu...

[2016-11-23 18:15] desnoes opened #979 "Outing: impossible to modify"
I have created an outing (https://www.demov6.camptocamp.org/outings/824708/fr/pas-de-vauclave-traversee-egreatergreaterw-de-chialvetta-a-larche). The modify buttom is not displayed. It is impossible to modify an outing.
![modify](https://cloud.githubusercontent.com/assets/19892089/20573620/f53e40d2-b1b0-11e6-85a0-2bf06adfc942.jpg)

[2016-11-23 18:15] asaunier commented on #979
You are not authenticated!

[2016-11-23 18:16] desnoes commented on #979
How do we say 'boulet'  ?

Sorry!

Le 23/11/2016 à 19:15, Alex Saunier a écrit :

[2016-11-23 18:16] #979 closed

[2016-11-23 19:21] stef74 commented on #977
For me is not blocking issue

[2016-11-23 19:23] stef74 commented on #976
Simple title for go live is sufficient. We have to wrok on contextual help.

[2016-11-23 19:23] asaunier commented on #944
I have tagged this issue as blocking because I suspect it might be impacted by the migration. See my question above.

[2016-11-23 19:50] mgerbaux commented on #946
OK for me

[2016-11-23 19:56] #946 closed

[2016-11-23 20:14] desnoes commented on #705
'snowy' remains to be translated.

[2016-11-23 20:21] mgerbaux commented on #929
I try with another PC (49.0.2 /linux) : same issue to upload images (about 1.5Mo, compliant to V5 spec and already uploaded on V5)
My connection is at the moment about 1Mb/s for uploading

[2016-11-23 20:25] asaunier commented on #705
Those 2 strings are available in Transifex but not translated yet.

[2016-11-23 21:30] fbunoz commented on #929
I tried uploading a 5Mb image : it seems that it is uploaded without resizing (firebug notes 5Mb uploaded data).
In these conditions, it is normal the server doesn't accept the file.

[2016-11-23 22:26] fbunoz commented on #736
I tested on the sledeshow on the demo. It is good, but I noted some improvments :
- There is the date, but it misses the hour:min:sec.
- It misses the categories.

[2016-11-23 22:41] fbunoz commented on #861
The associated images don't appear in the linked docs : https://www.demov6.camptocamp.org/images/208579/fr/face-n-des-grandes-jorasses-quelques-itineraires

The association has been migrated correctly ?

[2016-11-23 22:52] fbunoz opened #980 "Original image can't be displayed"
On the page of an image, when I clic on the image, it appears the popup to download a file instead of displaying the original image :
https://www.demov6.camptocamp.org/images/821218/fr/versant-w-des-pics-de-berlanche-et-du-grand-charnier-d-allevard
Original : https://sos.exo.io/c2corg_demov6_active/1478985804_2074619315.jpg

[2016-11-23 23:02] fbunoz opened #981 "Uncomplete document https URLs are redirected to http instead of https"
I test the demo using https.
When I clic on a partial url, there is a redirection to the full url. But the redirection changed https to http.
Try with this url : https://www.demov6.camptocamp.org/images/821218
Or with the first lik in the description of this doc : https://www.demov6.camptocamp.org/waypoints/38970/fr/mont-pelvoux-pointe-puiseux
The redirection is also used with the link to the prof

[2016-11-23 23:26] loicperrin commented on #791
"2 is not a string: {'paragliding_rating': ''} : Cotation parapente"

Fixed!
(I have not tested other pbs).

[2016-11-23 23:45] loicperrin commented on #705
Done.
Also  translated: nivology, great.
Some other values have to be translated.

[2016-11-24 06:57] stef74 commented on #791
Please use  checkbox more Easy to follow

[2016-11-24 06:59] stef74 commented on #736
Please open n'es issue for thèse improvement

Le mercredi 23 novembre 2016, fbunoz <notifications@github.com> a écrit :

--
Sent from Gmail Mobile

[2016-11-24 07:35] tsauerwein commented on #861
For example for https://www.demov6.camptocamp.org/routes/557726/fr/grandes-jorasses-pointe-walker-colton-mcintyre your image is returned by the API: http://api.demov6.camptocamp.org/routes/557726

But it seems that the images are not shown.

[2016-11-24 07:38] tsauerwein commented on #972
The problem has been fixed in https://github.com/c2corg/v6_api/issues/527, but the demo has not yet been updated with the change.

[2016-11-24 07:44] tsauerwein commented on #977
I should have provided more details. The problem is more fundamental. In v5 all date times were stored without time zone. When setting up the data model for v6, we did the same. Luckily the problem was revealed by our demo server which seems to use a different time zone as system time. We should make sure that we store date times with a time zone. Otherwise we will have problems when the site is u

[2016-11-24 07:49] tsauerwein commented on #912
One thing to consider: The ad provider is paying the association to show the ad. But if there is not enough space, and the ad is not shown, the ad would still be loaded and count as "shown" even if it is not visible. This might be a problem.

[2016-11-24 07:53] fjacon commented on #972
@tsauerwein problem fix but @arnaud-morvan we still have an error at bottom of the page.

see http://www.demov6.camptocamp.org/images/821567/fr/pointe-de-chalune

[2016-11-24 07:57] fbunoz commented on #861
I verified that the images associations to an image have been migrated correctly.
I seems OK for https://api.demov6.camptocamp.org/images/208579 (which has an association to image 188564)
but not for https://api.demov6.camptocamp.org/images/188564 (which hasn't any image association)

[2016-11-24 08:00] tsauerwein commented on #972
This error message is related to the comments section, not really to the problem "I can edit an image that is not mine". You might want to open a separate issue.

[2016-11-24 08:01] tsauerwein commented on #861
What association to which document are you missing?

[2016-11-24 08:02] fjacon opened #982 "upper cards are cut in serach results in guidebook"
like this
![cards](https://cloud.githubusercontent.com/assets/1583203/20590654/c3331828-b224-11e6-9089-688a5d27c144.png)

[2016-11-24 08:11] fbunoz commented on #861
In https://api.demov6.camptocamp.org/images/188564, it misses the association to the image 208579, as they are associated each other, and there is no hierarchy in the image association.
But as the association to 188564 appears in 208579, it seems the association has been migrated correctly in the BD, and it would just be a problem in the API.

[2016-11-24 08:17] tsauerwein commented on #861
Thanks, I created an issue for the API: https://github.com/c2corg/v6_api/issues/530

[2016-11-24 08:26] dkocich commented on #977
Storing the time zone preference in the user profile can be maybe a solution? They can fill it during registration or after in profile settings. UTC time could be adjusted on UI according to user's current setting.

[2016-11-24 08:31] ginold commented on #976
as we have a small text for association-tool explaining that you can search for a route and add it, we should maybe add something similar for the map.

[2016-11-24 08:32] tsauerwein commented on #977
To start with I would simply take the default timezone of the users system. For example like here: https://css-tricks.com/localizing-times-in-javascript/

[2016-11-24 08:42] desnoes commented on #912
@mgerbaux : please be informed of the problem identified by Tobbias.

[2016-11-24 08:44] ginold commented on #912
When I have time I will try to always show the ad, whatever the size available, by shrinking the ad itself.

[2016-11-24 08:53] dkocich opened #983 "Routes - search by activities (mountain biking / via feratta) returns nothing"
When I try to search activities by only "mountain biking" or "via feratta" I get no results. Search by other activities works fine.

This problem is on localhost and also on both test servers.

![image](https://cloud.githubusercontent.com/assets/6165660/20591853/ea1839e0-b22a-11e6-8c36-1bfadd12c9b4.png)

[2016-11-24 08:56] tsauerwein commented on #983
These two activities were only added in v6, so there are no routes yet.

[2016-11-24 09:09] dkocich commented on #982
This happens for me only in firefox and sometimes the card is (half)empty - depending on the browser window size. Chromium is fine, I could not see any problem.
![image](https://cloud.githubusercontent.com/assets/6165660/20592471/f980d92a-b22d-11e6-8096-5b3739e4daea.png)

[2016-11-24 09:12] dkocich commented on #983
Ok, looks fine after creating and searching them... Closing issue

[2016-11-24 09:12] #983 closed

[2016-11-24 09:19] stef74 commented on #981
We probably start in HTTP because some issue with HTTPS (geoname for ex).

[2016-11-24 09:20] stef74 commented on #977
@tsauerwein Ok for "blocking"

[2016-11-24 09:24] asaunier commented on #981
By "partial URL", I guess you mean a document URL with no lang and slug, which indeed redirects to the full URL with lang and slug.

Indeed https://www.demov6.camptocamp.org/images/821218 redirects to http://www.demov6.camptocamp.org/images/821218/fr/versant-w-des-pics-de-berlanche-et-du-grand-charnier-d-allevard instead of https://www.demov6.camptocamp.org/images/821218/fr/versant-w-des-pics-de-b

[2016-11-24 09:37] asaunier opened #984 "Image detail view page"
Not an urgent issue, and probably to be handled in combination with the "document organisation" issue https://github.com/c2corg/v6_ui/issues/449

The current organisation of image detail view pages does not seem relevant to me:
* the image is shown AFTER the description (which can be pretty long as in https://www.demov6.camptocamp.org/images/208579/fr/face-n-des-grandes-jorasses-quelques-itinerair

[2016-11-24 09:42] asaunier commented on #861
There is nothing in the image detail view template that would display the associated images (in an image carousel as for the other document types): no ``get_image_gallery`` in https://github.com/c2corg/v6_ui/blob/master/c2corg_ui/templates/image/view.html as in https://github.com/c2corg/v6_ui/blob/master/c2corg_ui/templates/waypoint/view.html#L114

[2016-11-24 09:48] asaunier commented on #912
That could be a solution indeed. But is it OK with the clients that banners are shrunk?
Isn't some work needed on the menu itself to have more space for the banner?
Perhaps the footer takes too much space and there is too many entries in the menu (do we really need "Home" and "Camptocamp Association" menu items for instance?).

[2016-11-24 09:49] asaunier commented on #982
This issue is a duplicate of https://github.com/c2corg/v6_ui/issues/690

[2016-11-24 09:53] stef74 commented on #912
I propose to go with shunk approach for Go live ... and rework after (dedicated issue top open).

[2016-11-24 10:02] mgerbaux commented on #912
All the solution that allow to get more place in the menu to display add banners on smaller screen are welcome. A little shrunking (10-15 %) of banners are acceptable I think.

To get more space :
- Why not putting social network icons vertically along the add banner ?
- I think that version number will be deleted at the end of the beta period ?

I think also that in a close future, we should add

[2016-11-24 10:07] asaunier commented on #912
I don't think so. But it's not a problem: it's already removed before the ad banner when the menu is not high enough. Perhaps we could do the same with the social network icons or the footer links?

By the way the footer could be a bit rework. For instance:
* place the 3 social network icons vertically (and a bit lower) as when the menu is folded
* move the footer links and version number to the r

[2016-11-24 10:12] dkocich opened #986 "Article scroll from TOC to header divs"
Here [article link](http://www.demov6.camptocamp.org/articles/376302/fr/changer-d-approche-10-idees-de-sorties-montagne-sans-voiture-dans-les-pyrenees-orientales). Under summary there is Table of Content
![image](https://cloud.githubusercontent.com/assets/6165660/20593998/be5de07a-b234-11e6-911f-8beae7aedbd6.png)

When you click on the link, the page should be moved to some header, but it is not b

[2016-11-24 10:20] asaunier opened #987 "Document editing: enable the "save" button only at last step?"
I am pretty sure people will click the save button before reaching the last step of a document editing. This might result in uncomplete documents or several archive versions (successive editing to fix missing data).

Shouldn't we make sure they go to the last step before the "save" button is clickable?

[2016-11-24 10:23] brunobesson opened #988 "not all float buttons have box shadow"
There are four float buttons: edit / add images / comments / plus (dropdown)
The plus button has no box-shadow (it is a rule for dropdowns - https://github.com/c2corg/v6_ui/blob/master/less/floatbuttons.less#L127), which I find disturbing. Is this a design choice?
(whether I would like to have the box-shadow is another question)

[2016-11-24 10:26] asaunier commented on #986
Thanks for reporting the problem. Actually I had already mentioned it in the PR about the TOC tags: https://github.com/c2corg/v6_ui/pull/695

@tsauerwein suggested it might be related to ``ngeoLocation``, see https://github.com/c2corg/v6_ui/pull/695#issuecomment-251945496

Tested in FF and Chromium: when I remove the extra slash, it's added again, thus the link never works.

[2016-11-24 10:32] desnoes commented on #913
The bug has been fixed, i close the issue

[2016-11-24 10:32] #913 closed

[2016-11-24 10:57] brunobesson opened #989 "Float buttons for mobile"
Several issues
* the tooltips should be disabled on mobile layout (maybe using https://developer.mozilla.org/en-US/docs/Web/API/Window/matchMedia? I haven't looked how it is implementing, through javascript or html attributes - otherwise hidden with CSS)
* the description text is too small (for once :smile:) and when on 2 lines cannot be read entirely
* on desktop Firefox with resized window only:

[2016-11-24 10:58] gottferdom commented on #989
I do'nt know if I should open another ticket for this, but the dropdown menu for mobile layout feels badly positioned to me. It's pretty easy to correct, I might take some time to look after it if you confirm you are OK to enhance it.

[2016-11-24 11:14] ginold commented on #959
[code]

and line 37

[code]

[2016-11-24 11:15] brunobesson opened #991 "Float buttons on mobile layout when editing field"
They have a fixed position on the bottom. Problem is, when editing a field, e.g. text area, they are still displayed on top of the keayboard. The place available for edit is too small.
I think this should/could be improved, but I don't how at first thought. Ideas?

[2016-11-24 11:24] brunobesson opened #992 "Preview not working for waypoint"
When trying to edit waypoint (http://c2corgv6.demo-camptocamp.com/waypoints/815664/fr/mail-de-jorc)
No modification, but directly clicking preview produces an error notification:

In the console:
`Error: a is undefined
hB.prototype.vn/<@http://c2corgv6.demo-camptocamp.com/static/df51f3f/build/build.js:899:373
e/<@http://c2corgv6.demo-camptocamp.com/static/df51f3f/build/deps.js:170:20
vf/this.$get<

[2016-11-24 11:29] brunobesson opened #993 "Route preview: collapsed summary boxes cannot be expanded in mobile screens"
By collapsed summary boxes I mean those on top of the description.

Related to #168

[2016-11-24 11:33] gottferdom commented on #993
(cloning HTML is almos always a bad idea :wink:)

[2016-11-24 11:34] asaunier commented on #959
It seems the outing has no geometry at all whereas a default geometry should come from the associated routes or WP, shouldn't it?

[2016-11-24 11:40] asaunier commented on #992
Good catch!
The logs in my dev instance say:

  File "/home/alex/v6_ui/.build/venv/lib/python3.4/site-packages/mako/runtime.py", line 525, in _populate
    d[ident] = getattr(self, ident)
  File "/home/alex/v6_ui/.build/venv/lib/python3.4/site-packages/mako/runtime.py", line 625, in __getattr__
    (self.name, key))
AttributeError: Namespace '__anon_0x7fbc6879d4e0' has no member 'get_waypoint_orie

[2016-11-24 11:56] tsauerwein commented on #959
The outing does not have geometry, because the route does not have one. And the route does not have a geometry, because it does not have a main waypoint.

[2016-11-24 12:00] asaunier commented on #959
OK thanks for precising.
I guess there is the same problem with the associated route? It has no geom at all?

Of course we could change the code mentioned by @ginold but I am not sure it is the real problem.
The real problem is that outings or routes may have no geometry.

If the route has no geometry and no main WP, would it be possible to fallback and use geometries of associated WP?

[2016-11-24 12:05] tsauerwein commented on #959
That would be possible.

But as long as there are waypoints without geometry, we have to expect routes and outings without geometry.

[2016-11-24 12:21] stef74 commented on #959
@asaunier assoication have to add a geometry to all waypoint ?

[2016-11-24 12:23] asaunier commented on #959
I think that the association has georefed all WP with a missing geom in v5. @fbunoz can you confirm?

[2016-11-24 12:44] ginold commented on #398
Update that will be available on the demo soon:

+ added icons for the elevations/diffs

Associated cards:
+ add outing quality
+ outing's elevation max everywhere
+ add route height_diff_difficulties (=  difficulties denivelation?)
+ add route height_diff_up (= denivelation?)

Search suggestions:
+ add 'height_diff_up' for routes

[2016-11-24 13:01] desnoes opened #996 "Image carousel does not work in Safari"
The images of a route are not displayed correctly (vertically instead of horizontally) with Safari. It seems to be ok with chrome.
Outing: http://www.demov6.camptocamp.org/routes/818885/fr/les-verts-par-le-pas-de-monthieu-et-lancheron
Result with Safari:
![ezcn3te](https://cloud.githubusercontent.com/assets/19892089/20599416/5b2f39bc-b24e-11e6-8995-ef43ebe32c2f.png)

[2016-11-24 13:13] asaunier commented on #996
Seems OK with Firefox and Chromium.

Have you tested other routes? What about outings or waypoints?

[2016-11-24 13:17] brunobesson opened #997 "Allow easy folding of menu on mobile"
Curently, we have to click the orange arrow to hide the menu, plus we can scroll in the background while the menu is displayed.
Another solution is to add a fixed transparent div on top of the content. Thus, scroll is disabled, and clicking outside of the menu flods it.
See an example here: http://byrushan.com/projects/ma/1-7-1/jquery/light/

Do you agree with such behaviour? If yes, I can try wor

[2016-11-24 13:21] ginold commented on #996
if you remove the property `float: left;` from the image slide, the slides will align themselves as on the image.
#strange

[2016-11-24 13:21] desnoes commented on #996
This problem was reported by Christian (cf. http://www.camptocamp.org/forums/viewtopic.php?pid=2231539#p2231539). I did not observe it directly.

[2016-11-24 13:24] brunobesson opened #998 "Use range slider for journey duration"
In route edition: maybe we could use a range slider to select the journey duration (with a range slider like the one used to filter elevation in advanced search). By default, it could be set on one.

The current solution has to many checkboxes IMHO.

By the way, is it consistent to select e.g. 1day or 3 days but not 2?

[2016-11-24 13:38] fbunoz commented on #998
No, and if a slider can avoid this, it would be fine.

[2016-11-24 14:22] shortoland commented on #912
@stef74 No anymore overlap for me

[2016-11-24 14:36] arnaud-morvan commented on #929
Sorry, but I don't really know how to solve this.
Maybe we could increase the image backend timeout, gunicorn should have an option for that.

[2016-11-24 14:44] mgerbaux commented on #929
What are the specificities of the images (size, weight) theoritecally accepted by the server ?

[2016-11-24 14:47] arnaud-morvan commented on #929
No restriction on image properties, the problem should come from some timeout with the request.

[2016-11-24 14:53] arnaud-morvan opened #999 "Comments display a 404 page in image view"
See: http://www.demov6.camptocamp.org/images/821567/fr/pointe-de-chalune

This is missing in image view template:
[code]
Specific issue about comments in image view from #972

[2016-11-24 14:55] asaunier commented on #929
Is the problem limited to FF? If not we should update the title.

In addition the problem reported initially by @desnoes seems to be different (no timeout, but an endless upload). Is it really the same problem?

[2016-11-24 15:05] asaunier commented on #999
The PR is not merged. So it's not "ready for demo" yet :P

[2016-11-24 15:07] desnoes commented on #929
I will check tonight if a timeout occurs. When i observed the problem i stopped the process before the timeout.

----- Mail original -----
De: "Alex Saunier" <notifications@github.com>
À: "c2corg/v6_ui" <v6_ui@noreply.github.com>
Cc: "desnoes" <mathieu.desnoes@free.fr>, "Mention" <mention@noreply.github.com>
Envoyé: Jeudi 24 Novembre 2016 15:55:37
Objet: Re: [c2corg/v6_ui] Impossible to upload an

[2016-11-24 15:16] desnoes commented on #929
I've observed a similar problem with Chrome and an image of 4.4Mo. The upload process restart once and it took a lot of time to upload but it worked at the end.

----- Mail original -----
De: "mathieu desnoes" <mathieu.desnoes@free.fr>
À: "c2corg/v6_ui" <reply@reply.github.com>
Cc: "Mention" <mention@noreply.github.com>, "c2corg/v6_ui" <v6_ui@noreply.github.com>
Envoyé: Jeudi 24 Novembre 2016 16:0

[2016-11-24 16:34] desnoes commented on #996
I've asked Christain to test with outing, WP.. He oberves the same problem. The image are displayed vertically. He had not this bug when the initial beta version was released.
I copy his answer (in french):
"J'ai fait le test sur sortie, itinéraires et points de passage, sur tous les documents j'ai les photos en colonne masquées par les cadres information et autres.
Je n'avais pas ça à la sortie d

[2016-11-24 18:46] tsauerwein commented on #923
Tiens, cadeau : https://github.com/c2corg/v6_ui/pull/1001 :)

[2016-11-24 21:53] asaunier commented on #996
I have the same problem, testing with Safari 10.0.1

It's a jquery error related to
https://github.com/c2corg/v6_ui/blob/master/c2corg_ui/static/js/viewdetails.js#L366

[2016-11-24 22:37] asaunier commented on #923
@tsauerwein OH-MY-GOD This is sooooooo cool!!

The service works in https indeed. But I have also figure out it returns results not only for cities but also for places, regions or mountains (actually all data available in OSM I guess).
It also finds addresses (not sure it is that useful in our case, but perhaps it is not a big deal unless we have too many results). I have noticed a few minor probl

[2016-11-24 23:01] loicperrin commented on #959
I confirm.

[2016-11-24 23:04] asaunier commented on #959
@loicperrin great job, thanks!!

It would be cool if the association could make sure that all new WP is georefed before v5 is turned read-only.

[2016-11-24 23:29] loicperrin commented on #992
Same pb when trying to preview an outing I have tried to create on this route: http://www.demov6.camptocamp.org/routes/824741/fr/voie-normale-test
Maybe it is due to the fact that the route has no geom (no main WP)

[2016-11-24 23:38] asaunier commented on #992
@loicperrin I don't think the problem you report is related to the preview. I have tried to edit another outing and the preview works as expected. The outing you mention cannot even be shown ("internal server error").

[2016-11-25 01:19] asaunier commented on #993
I don't understand the problem: when previewing changes in the editing form (eg. http://www.demov6.camptocamp.org/outings/edit/823122/fr) the blocks can actually be opened or closed?!

I guess so :P
But where have you noticed cloned HTML?

[2016-11-25 07:03] fbunoz commented on #929
Is there a resizing process into the broweser, or the image is resized by the server ?
If it is resized by the server, there will be server overloads.

[2016-11-25 07:31] fjacon commented on #959
So, should we go on with this ? : If the route has no geometry and no main WP, would it be possible to fallback and use geometries of associated WP?

[2016-11-25 07:48] HSERGERAERT opened #1005 "On route, links to material article are not migrated"
**on v5**, route http://www.camptocamp.org/routes/784566/fr/la-pyramide-traversee-toit-pyramide-petite-traversee
The route has a connection, in material section,  to the article "material" http://www.camptocamp.org/articles/185384/fr/le-contenu-du-sac-alpinisme-rocheux-de-f-a-ad

**on v6** the article exists
https://www.demov6.camptocamp.org/articles/185384/fr/le-contenu-du-sac-alpinisme-rocheux-d

[2016-11-25 08:03] tsauerwein commented on #1005
When was the association between the route and article created? Because in the v5 database that we made the migration with, this article only has associations to 4 other articles (which are shown).

[2016-11-25 08:31] gottferdom commented on #1005
I don't think the association exists in the database. In v5, the article link is displayed depending on the route characteristics (activity, difficulty, ...). So this isn't a migration problem.

[2016-11-25 08:34] tsauerwein commented on #1005
Can you give more information about how this works?

[2016-11-25 09:18] gottferdom commented on #1005
The code is here on v5: https://github.com/c2corg/camptocamp.org/blob/72e777075f2e6260b1d2ef563ab0f90c383038ba/apps/frontend/modules/routes/templates/_i18n.php

Basically, if some conditions are met, a link to a specific article is added in gear section. There are several articles (https://github.com/c2corg/camptocamp.org/blob/9a44a3b50ab2681a5e27435e1469c3911a192f6d/deployment/conf.ini-dist#L81)

[2016-11-25 09:22] tsauerwein commented on #1005
Thanks for the info!

Then it is unlikely that we will have the time to do it for the Go Live.

[2016-11-25 09:28] gottferdom commented on #1005
I never thought it would/could be so.

[2016-11-25 09:41] gottferdom commented on #690
On the cards breaking only (I do not focus on sorting and all).
For Firefox and IE10+, this can be solved by using additional CSS properties:

    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
              page-break-inside: avoid; /* Firefox */
                   break-inside: avoid; /* IE 10+ */`

See https://css-tricks.com/almanac/properties/b/break-inside/

[2016-11-25 09:46] gottferdom commented on #982
See a CSS solution for cards break in https://github.com/c2corg/v6_ui/issues/690#issuecomment-262917358

[2016-11-25 10:12] asaunier commented on #929
There is no client side resizing as for now I think. At least this point is not checked in this list https://github.com/c2corg/v6_ui/issues/164#issuecomment-204345064
@ginold could you confirm?

Image client-side resizing is supported by ng-file-upload, the angular lib we use for image uploading, see the ``ngf-resize`` directive in https://github.com/danialfarid/ng-file-upload I think.
Perhaps it

[2016-11-25 10:29] asaunier commented on #982
I suggest this issue is closed, since already reported in #690
OK for you @fjacon ?

[2016-11-25 12:47] fjacon commented on #982
ok

[2016-11-25 12:47] #982 closed

[2016-11-25 13:01] brunobesson opened #1006 "(De)associating routes to an outing without GPS data"
How is georef handled?
When I create an outing without GPS data, it looks like a location is registered ( @asaunier based on what? main summit of first route?). Although the waypoints of the route are not displayed in the outing map (I assume there is another issue or discussion about this), we see there is a georef.
When associating another route or removing one, nothing changes. Shouldn't it rec

[2016-11-25 13:04] brunobesson opened #1007 "When editing outing with no own geometry, new georef is not taken into account"
To reproduce:
* create an outing without trace
* edit it and add trace on the map (with or without other modifications)

I expect the trace to be used as geometry, but this is not the case.

[2016-11-25 13:12] brunobesson opened #1008 "Typo in less file?"
https://github.com/c2corg/v6_ui/blob/master/less/floatbuttons.less#L79

This is not a class name nor a CSS identifier

[2016-11-25 13:37] dribagnac opened #1010 "Icons for Creative Commons' licence are too huge"
For most people, the informations of the kind of licence is not usuful or even more useless or not understandable.

   For example, an outing, some huge icons are displayed inside the Information's panel. Why not display     - smaller
- or/and elsewhere
- or/and within a tooltip ?

   Eg
http://www.demov6.camptocamp.org/outings/822024/fr/tete-de-ferret-par-la-dotse#/&gid=1&pid=2

[2016-11-25 13:40] asaunier commented on #1008
Perhaps it is not a classname but an element name (created by an angular directive), as ``p`` or ``h3``.
I wonder if it is actually still used. I see no other occurence of ``app-edit-button`` : https://github.com/c2corg/v6_ui/search?utf8=%E2%9C%93&q=app-edit-button and no angular directive named ``appEditButton``.

@ginold could you check please?

[2016-11-25 13:45] dribagnac opened #1011 "Main menu not collapsable for desktop"
The main menu on the left (Home, Topoguide, Forum...) can be collapsed for small and medium device but not desktop.

   It would be great to allow it to be closed (and reopen by the open/close's icon [3 dashes])

[2016-11-25 13:58] stef74 commented on #694
this issue is tagged pull request ready, normal ?

[2016-11-25 14:01] stef74 commented on #668
can be close ?

[2016-11-25 14:05] brunobesson commented on #1010
Although I'm widely open to discussion on where to place the licence information (I think it would be best outside of informations box), I think on the contrary that the licence is an important information (people shouldn't find it useless!) that shouldn't be hidden.

[2016-11-25 14:05] asaunier commented on #694
I don't know. Perhaps @ginold meant that a PR for this issue was ready: https://github.com/c2corg/v6_ui/pull/726 Since the PR has been merged 10 days ago, perhaps the issue should be tagged "ready for demo" (or even "fixed and ready to be tested" since it is probably available in the demo).

[2016-11-25 14:07] asaunier commented on #668
No, there are still uncomplete tasks listed in the initial comment: https://github.com/c2corg/v6_ui/issues/668#issue-180026487

[2016-11-25 14:10] asaunier commented on #1010
I think the licence info should indeed be placed in the "info blocks", perhaps in a dedicated block, along with the ``quality`` attribute. Both info are metadata, not actual data of the describe WP, route, etc.

This point should be considered along with the document organisation issue https://github.com/c2corg/v6_ui/issues/449

[2016-11-25 14:12] dribagnac commented on #1010
Most people are not aware of the meaning of this licence.
   Few people need this kind of information.
   So my suggestion is just to show it smaller/elsewhere ...

[2016-11-25 14:31] asaunier commented on #1010
This is actually the point! And the reason why licences should be made obvious (but OK to make the icons smaller).

[2016-11-25 14:34] besson-genostar commented on #970
Tested this on FF 49.0.2, Chrome 50.0.2661.94, cannot reproduce. Maybe this is specific to a recent chrome version?
In the meantime, I can reproduce such strange behaviour on FF on desktop (but resized to a small screen) for the floating icons. I think it is related to the tooltips (maybe it should be created in another part of the body - can we specify that with angular?).

[2016-11-25 14:35] brunobesson commented on #970
Tested this on FF 49.0.2, Chrome 50.0.2661.94, cannot reproduce. Maybe this is specific to a recent chrome version?
In the meantime, I can reproduce such strange behaviour on FF on desktop (but resized to a small screen) for the floating icons. I think it is related to the tooltips (maybe it should be created in another part of the body - can we specify that with angular?).

[2016-11-25 14:43] brunobesson commented on #966
It's both the `padding-bottom: 10px` and the `border: 1px solid #eee` properties.
They are defined in https://github.com/c2corg/v6_ui/blob/master/less/viewdetails.less#L325

But don't you think we could remove them? The visuals are OK for me without (it's lighter, I don't like having too many imbricated borders).

[2016-11-25 14:51] dribagnac commented on #970
This problem is only visible on Chrome 54 (not tested with older version).
With FF 50, Edger it is working fine

[2016-11-25 15:54] asaunier commented on #964
It works in the demo now.

[2016-11-25 15:54] #964 closed

[2016-11-25 15:57] asaunier commented on #966
That doesn't look like a critical problem. I have postponed it to 6.1.

[2016-11-25 16:10] asaunier commented on #398
As for now, associated areas are not shown in the cards.

But they are actually provided in the API responses. For instance http://api.demov6.camptocamp.org/feed?pl=fr or https://api.demov6.camptocamp.org/routes?w=40998&pl=fr

As a result they could be added in the card partials.

[2016-11-25 16:33] asaunier opened #1013 "Page to list users followed by the current user"
Most likely accessible form the user menu,
The API is already ready.

[2016-11-25 17:28] asaunier commented on #944
I have investigated a bit:

* when uploading an SVG file, the image backend converts it to PNG (JPEG would make more sense) and returns a response such as
[code]
=> please note: PNG, not SVG
* when the upload is validated, the API receives this PNG filename.
* the SVG file seems not available on the image backend, only the PNG version.

As a result:
* the API is never informed (by the image backen

[2016-11-25 20:43] tsauerwein commented on #556
This is actually already implemented, see: https://github.com/c2corg/v6_ui/blob/ff93861549d61f6a52ed587d006d7cd9968b40a0/c2corg_ui/static/js/map/map.js#L844

[2016-11-25 20:43] #556 closed

[2016-11-25 22:22] loicperrin commented on #992
Yes it works for most outings, but

Yes. If I save it I have this error, but if I preview it before saving, I have the same problem as for waypoints.

[2016-11-26 10:03] fbunoz opened #1014 "In the image upload tool, pre-select the activities"
After uploading an image on an outing or a route in the upload tool, the image activities should be pre-selected with the outing or route activities.
For now, no activity is pre-selected, and almost no-one will take the time to select the activities for all his images. Filtering on image activity will return no V6 image (only old V5 images).

[2016-11-26 10:38] mgerbaux commented on #816
I add images on my outings (but do nothing else for edition), but it never appear in the feed ; it is just mentioned as outing edition
[](http://i.imgur.com/kTM44g6.png)

[2016-11-26 10:49] fbunoz commented on #1010
On desktop, the licence icons are in the middle of the page, with many blank around : it seems like the most important info in the page !
Whereas the most important is the title, activities, cotations, altitude, ...
The licence info must be shown after these info.

[2016-11-26 12:18] brunobesson commented on #966
See PR #1018

The boxes collapse nicely, plus IMHO the design is lighter and more attractive. When the content needs scrollbars, I find it properly integrated too.

[2016-11-26 13:34] tsauerwein commented on #663
Is this header even needed? It was added in https://github.com/c2corg/v6_ui/commit/09f45d0a6f0ead82474e737abbfa75a10957fe51 to show the Discourse comments. But why would we have to set `X-Frame-Options` to `allow` for that?!

I can't test at the moment, because Discourse seems to be down. But I would propose to remove this tag to get rid of the embarrassing console error.

[2016-11-26 13:35] #923 closed

[2016-11-26 13:48] tsauerwein opened #1019 "Issues with map search"
Reported in https://github.com/c2corg/v6_ui/pull/1001#issuecomment-262853243

* [ ] The results are often too wide and do not fit in the map (unless the screen is quite wide).

![photon](https://cloud.githubusercontent.com/assets/1192331/20610865/9c1ae5a0-b2a0-11e6-8ab5-218b487d5352.jpg)

* [ ] Perhaps not all the results are relevant. For instance addresses or city POIs:

<img width="368" alt="ca

[2016-11-26 15:51] dkocich opened #1024 "Some packages have new versions - automate updates?"
See problem https://github.com/c2corg/v6_ui/pull/1020#discussion_r89673317

Is there some reason to not add something like Greenkeeper to the project?
https://greenkeeper.io/#how-it-works

[2016-11-26 19:54] asaunier commented on #992
You're right. I have tried to create a new outing and I got the following error when loading the preview:

    ${get_outing_participants(outing)}
  File "/home/alex/v6_ui/c2corg_ui/templates/outing/helpers/view.html", line 158, in render_get_outing_participants
    <%
KeyError: 'locales'

[2016-11-26 20:27] asaunier commented on #663
OK for me if @arnaud-morvan agrees.

[2016-11-26 21:18] asaunier commented on #1024
Isn't greenkeeper a bit a duplicate with snyk?

[2016-11-27 10:19] fbunoz opened #1026 "A route without main WP neither GPX track, has no georef neither associated area"
When we create a route, if we associate some WP but we don't define any main WP, and we don't add a GPX track, the route has no georef and no associated area.
Then, the route can't be found by the search tool when we filter on the map extend (= default map config).

Moreover, on the page of a route without main WP neither GPX track, no WP picto appear on the embedded map. See https://github.com/c2

[2016-11-27 10:38] fbunoz commented on #896
See also : https://github.com/c2corg/v6_ui/issues/1026

[2016-11-27 11:45] fbunoz commented on #951
In fact, the bug work as follow :
- We can create a route without main WP.
- But if a route has already a main WP, we can't remove the main WP.
In the edit page, we can dissociate the main WP (and let another WP assoicated, without main WP attribute), but at the saving there is an error : "no association for the main waypoint : main_waypoint_id".
We can associate another WP and define it as main W

[2016-11-27 18:57] fbunoz commented on #690
On FF (I don't test on another browser), the card break can be solved by adding these properties :

[code]

[2016-11-27 19:50] stef74 commented on #949
@fbunoz @shortoland please test

[2016-11-27 19:50] stef74 commented on #943
@fbunoz @shortoland please test

[2016-11-27 19:51] stef74 commented on #910
@fbunoz @shortoland please test

[2016-11-27 19:52] stef74 commented on #865
@fbunoz @shortoland please test

[2016-11-27 19:52] stef74 commented on #736
@fbunoz @shortoland please test

[2016-11-28 07:36] mgerbaux opened #1029 "Personnal article can be modified by everybody"
The edition process is available for everybody on personal article, it should not be
https://www.demov6.camptocamp.org/articles/782943/fr/histoire-dun-clou
https://www.demov6.camptocamp.org/articles/history/782943/fr

[2016-11-28 08:09] ginold commented on #987
First we had this button on the last step, then we moved it to be always visible... if the button is only clickable when all the necessary fields are set AND if you are on the last step, I think there is a UX issue :P

I would say it should be one or the other - or buttons at the end, or as it is now.

[2016-11-28 08:30] ginold commented on #988
I don't remember why, but it's a good catch! Maybe it's some very old code, along with `app-edit-button` seen above, which doesn't even exist anymore. You're right - all the buttons should have a shadow (or not).

[2016-11-28 08:48] brunobesson commented on #988
For now, maybe we could add the shadow, because all other buttons have it. I can propose a PR for this this evening if you like.
As whether we should have a shadow or not, I would rather not, but this should be discussed with more people, more globally<sup>*</sup> and is certainly not the priority.

(*) IMHO, we could sharpen the corners a little bit, remove some frames to lighten the layout, etc.

[2016-11-28 08:59] ginold commented on #690
@brunobesson we are already using `avoid` https://github.com/c2corg/v6_ui/blob/1ebbfe4f1af7766eeca31f7494d3cbf2083355ca/less/c2corg_ui.less#L336 .

[2016-11-28 09:12] brunobesson commented on #690
@ginold yes, you do. But the way you use the property, it is recognized only on Chrome, Safari and Opera. For Firefox and IE 10+ support, you should add the 2 other definitions I listed above. Sorry for not having been explicit enough.

[2016-11-28 09:14] dkocich commented on #690
code inspection says that these are all "unknown CSS rules or used in a wrong context"... More info [here](http://stackoverflow.com/a/7785711) maybe?

[2016-11-28 09:20] ginold commented on #690
After playing a little, a nice result can be achieved with `flexbox`:
![screenshot from 2016-11-28 10-14-44](https://cloud.githubusercontent.com/assets/7814311/20662470/ca0f6278-b553-11e6-9f40-58a475803eea.png)

-> easy, it's not cut in the middle, well supported and ordered from right to left.

However, the only requirements for this would be a **fixed height** of the card, as you can see in the

[2016-11-28 09:39] asaunier commented on #690
Will be a problem especially for the image cards, since the embedded images have whatever format. Unless we use square images in all image cards?

Interesting

[2016-11-28 09:52] asaunier commented on #1006
I don't remember exactly. @tsauerwein better knows.
If the new outing has no geometry (uploaded GPX or track drawn on the map) a default point geometry is retrieved from the associated route (don't know what happens when there are several associated routes).
Same thing for routes: if no geometry is explicitly provided, the main WP geometry is used as the default route point geometry.

No surprise

[2016-11-28 09:53] asaunier commented on #1006
@stef74 has tagged this issue "Go Live". But is there really something to do?

[2016-11-28 09:57] brunobesson commented on #1006
I think so. The main point of my issue was

Currently, it's not possible to edit the geometry of an outing, either by uploading a new GPX file or drawing on the map.

[2016-11-28 10:00] asaunier commented on #1026
Using associated WP (which one? the first one? a centroid of all of them?) as default route geom when no main WP is set would make sense indeed.

That's a consistent behaviour :) That's the reason why the "don't use the map as filter" checkbox has been added => in order to find document even when they have no geom (useful for images for instance).

[2016-11-28 10:09] asaunier commented on #1007
I have updated the title of the issue because:
* it seems possible to update the detailed geometry of an outing if it already had one. See for instance: http://www.demov6.camptocamp.org/outings/823122/fr/pointe-d-ardens-vallon-d-ardens-voie-normale (I have moved some points of detailed geom created from the uploaded GPX file)
* if the outing has no detailed geometry, changes in the map of the edit

[2016-11-28 10:22] fbunoz commented on #1026
Yes, but all outings and routes should have a georef, since a route must be associated to at least one WP, whose the georef is mandatory, and an outing must be associated at least to one route.

We can use the higher WP, or a centroid of all associated WP. I don't know what it is easier.

[2016-11-28 10:25] #331 closed

[2016-11-28 10:26] asaunier commented on #1026
Right!
But it's something different. What I meant was there is no problem with the advanced search. So it's no use mentioning it, it makes thing more confusing. The problem is only that some routes or outings have no default geometries (which is what the issue title says). :)

[2016-11-28 10:53] ginold commented on #690
could be a problem, unless we make the image fit into the card, as done for the feed for example.

It could look like this (not too bad IMHO)

![screenshot from 2016-11-28 11-52-40](https://cloud.githubusercontent.com/assets/7814311/20665788/3f87c3d0-b561-11e6-876d-e30a340a4660.png)

[2016-11-28 11:02] asaunier commented on #690
Not bad indeed!
"ellipsis" might also be needed for image titles as well.

[2016-11-28 11:12] ginold commented on #1008
indeed, as i mentioned in #988 app-edit-button does not exist anymore and the code linked to it can be removed.

[2016-11-28 11:28] ginold commented on #690
So if you are ok with that, I will get a proposal PR with those changes this week.
@brunobesson, @loicperrin, @stef74, any objections, opinions?

[2016-11-28 11:32] asaunier commented on #933
When the UI profile data service crashes, the UI server-side logs report that
[code]

It seems there is a problem with https://github.com/c2corg/v6_ui/blob/master/c2corg_ui/views/__init__.py#L100
[code]
It seems that the API returns a 401 response but with no JSON body => makes ``resp.json()`` crash.

The weird thing is that the API should not return a 401 response here: if the profile is not publ

[2016-11-28 11:33] fbunoz commented on #1007
I see the same behavior that asaunier :
- I create an outing, with a geometry which I created with the tool on the edit form.
Then, the geometry is saved, and it taken account for areas.
I can modify the outing and the geometry, and it is saved correctly.
- I create a geometry without a geometry.
I modify the outing, I add a geometry using the tool => the geometry is not saved.

[2016-11-28 11:52] fbunoz commented on #865
All the points are fixed.

[2016-11-28 11:52] #865 closed

[2016-11-28 11:59] fbunoz commented on #943
With the delay, the filter behavior is OK for me.

[2016-11-28 12:00] fbunoz commented on #949
It work correctly on FF.

[2016-11-28 12:09] brunobesson commented on #690
I haven't participated in this discussion from the begining, but to me, using flexbox is a nice solution.
The only problem concerns having the same width and height for all cards, but you proposed reasonable solutions. Maybe this could be enhanced in the future, but I approve doing likewise for now.

As for images cropping, @lbesson mentioned a javascript library a while ago that produced nice res

[2016-11-28 12:21] #943 closed

[2016-11-28 12:23] #949 closed

[2016-11-28 12:27] asaunier commented on #690
I think it was Smartcrop.js https://29a.ch/sandbox/2014/smartcrop/examples/testsuite.html

[2016-11-28 12:29] brunobesson commented on #690
Yes that's it! Thanks

[2016-11-28 12:58] stef74 commented on #690
Sorry I have ready quicly ... and some technical point are not in my skill. But ...
Ok for fix height (many complains about dynamic heigh).
This usse ahve two part one concerning layout ... one concerning sorting. You have fix layout , but also sorting ?

[2016-11-28 13:07] fbunoz commented on #972
Done by arnaud : https://github.com/c2corg/v6_ui/issues/999

[2016-11-28 13:49] arnaud-morvan commented on #663
www.demov6.camptocamp.org host is already allowed in discourse customize external integration settings, for the comments category.

GET ``http://forum.demov6.camptocamp.org/embed/comments?topic_id=172053``
returns ``X-Frame-Options:ALLOWALL``

I  do not reproduce the console log, but adding X-Frame-Options in parent page should have no effect.

[2016-11-28 14:35] #663 closed

[2016-11-28 14:37] asaunier commented on #705
See PR https://github.com/c2corg/v6_ui/pull/1032

@shortoland @loicperrin @desnoes @stef74
I think the issue is more or less addressed when the PR is merged. Since it's now really to big, I think it will be better to tag it as "ready for demo" and finally close it. If other problems have to be reported, please create a new issue.

[2016-11-28 15:01] stef74 commented on #959
Do you consider is blocking point ? if assoication ensure all WP have georef

[2016-11-28 15:11] asaunier commented on #959
Perhaps there is still a problem if someone creates a route with no main WP and no GPS/drawn geom => the route will have no geom, so do the associated outings.

[2016-11-28 23:04] loicperrin commented on #690
Seems to be nice. @ginold: before working on your proposal, could you give a screenshot containing cards with images and cards without images (on the same line)?

According to proposal screenshot, sorting seems to be fixed. To be tested on demo when ready.

[2016-11-28 23:11] loicperrin commented on #959
I think the best way to solve this (and other issues) is, as proposed by @fjacon :

[2016-11-29 10:17] stef74 commented on #977
@tsauerwein When do you think this issue is fixed ?

[2016-11-29 10:18] stef74 commented on #944
@asaunier When do you think this issue is fixed ?

[2016-11-29 10:25] stef74 commented on #929
When do you think this issue is fixed ?

[2016-11-29 10:25] tsauerwein commented on #977
@stef74 Today/tomorrow.

[2016-11-29 10:26] stef74 commented on #836
@ginold Wgat is the status ?

[2016-11-29 10:33] asaunier commented on #944
Work in progress...

[2016-11-29 10:38] ginold commented on #836
Waiting for review and for answers to a few questions. Maybe you can answer those questions in the meantime? see the description of https://github.com/c2corg/v6_ui/pull/961

[2016-11-29 11:06] ginold commented on #690
By "cards without images" you mean any other type of cards (route, outing, waypoints) ?

[2016-11-29 11:34] ginold commented on #929
I confirm there is no client-side resizing as for now.
But don't we upload the full image to the server anyway, that can be displayed after clicking on the image itself in the view-page, in full screen ?

That's still strange, because there is no problem when uploading an image at 1kb/s on local instance, the problem only appears on the demo. There is an issue with the timeout.

[2016-11-29 11:38] ginold commented on #959
and how this geometry looks like? will it be the geometry of the 1st associated waypoint? or an area that fits all the associated waypoints? other?

[2016-11-29 12:00] asaunier commented on #929
@fbunoz means that in v5 the uploading client checks that the image is not too big and if yes, resize it before uploading it. The server receives a resized original which is then used to create the SI/MI/BI images as usual. It seems possible to do the same thing with ng-file-upload.

[2016-11-29 12:02] ginold commented on #929
Yes, it looks like it features resizing.
And what would be considered as a "too big image" and what would be the "correct, smaller size"?

[2016-11-29 12:05] fbunoz commented on #959
To choose the coord of the geom, it is better to use the average of all wp
if possible. Or use the higher wp.

Le 29 nov. 2016 12:38, "Adam Gina" <notifications@github.com> a écrit :

[2016-11-29 12:07] asaunier commented on #929
@fbunoz could you please precise?

[2016-11-29 12:07] tsauerwein commented on #959
It would probably make sense to handle this in the API.

[2016-11-29 12:12] mgerbaux commented on #929
We can take V5 values :  size < 8192 x 2048 px AND weight < 2 Mo

[2016-11-29 12:44] tsauerwein commented on #977
Fixed with https://github.com/c2corg/v6_api/pull/536 and https://github.com/c2corg/v6_ui/pull/1020.

The best way to test this is by creating a custom profile for Chrome, see http://stackoverflow.com/a/39533934/119937

[2016-11-29 12:44] #977 closed

[2016-11-29 13:04] asaunier opened #1036 "Too many data passed to hasEditRight test in outings"
See https://github.com/c2corg/v6_ui/blob/7977d467f561002ceb318cc92e9fc8935f983646/c2corg_ui/templates/helpers/view.html#L270
[code]

Dumping ``document['associations']['users']`` can lead to very verbose data (most of them useless, eg. the associated areas, activities, forum names, etc.). See for instance the code returned for an outing with a dozen of participants:
[code]
(this piece of code is f

[2016-11-29 19:47] asaunier opened #1040 "Sidemenu is displayed above the slideshow"
![sans titre](https://cloud.githubusercontent.com/assets/1192331/20726235/ef9e22aa-b674-11e6-8187-dcfb11f2d310.png)

[2016-11-29 20:01] #611 closed

[2016-11-29 20:38] dkocich commented on #1040
My Chrome and FF works fine on c2corgv6

[2016-11-29 21:03] asaunier commented on #1040
Indeed but http://www.demov6.camptocamp.org/ is not up-to-date yet. So the changes in the menu styles are not available yet. I had tested in a local instance.

[2016-11-29 22:07] asaunier commented on #1040
It seems there is the same problem with the modal messages in Discourse.

<img width="1044" alt="capture d ecran 2016-11-29 a 23 05 24" src="https://cloud.githubusercontent.com/assets/1192331/20730971/81534ece-b688-11e6-96ea-1dfbd60f9e9c.png">

Perhaps some ``z-index`` a bit too big?

[2016-11-29 22:50] asaunier opened #1041 "Poor error message when login fails"
At least a translation problem.

<img width="300" alt="capture d ecran 2016-11-29 a 23 49 35" src="https://cloud.githubusercontent.com/assets/1192331/20732341/8f8a392a-b68e-11e6-8315-3893be2ada59.png">

[2016-11-29 23:04] loicperrin commented on #690
Indeed. Sorry in the same page, we cannot have cards with images and cards without images (I believed that we could have "outing cards" containing images, as in home page). So there is no problem to implement your proposal.

Cropping images in the images page is not a problem: in V5 we already have "cards with fixed heights" for images (see https://www.camptocamp.org/images).

I'd prefer to avoid

[2016-11-29 23:53] loicperrin commented on #929
I have tested with images < 1.5 Mo => OK
I have tested with images > 4 Mo => KO

[2016-11-30 00:00] loicperrin commented on #816
I have seen the same problem (sorry if already fixed but not visible on demo):
- If I add an image on an outing I have created: the feed tells "Loïc Perrin a mis à jour une sortie"
- If I add an image on an outing I have not created (*): the feed tells "Loïc Perrin a ajouté des images pour cette sortie"

(*) Maybe this is also an issue, as I should not be authorized to add image on on outing I hav

[2016-11-30 07:55] asaunier commented on #816
Yes => moderator rights allow to upload images on any document. Please rather test with a normal user.

[2016-11-30 07:59] tsauerwein commented on #816
@loicperrin This is the behavior we agreed upon. See https://github.com/c2corg/v6_ui/issues/878#issuecomment-259354796

[2016-11-30 08:34] stef74 commented on #639
In this ticket action is needed few day before go live or only action during the Go Live ?

[2016-11-30 08:54] ginold commented on #1040
Indeed i have changed the z-index to 10000 because Discourse had the top bar 1001 :P i will investigate.

[2016-11-30 09:10] ginold commented on #929
You have some poor connection guys :P 5.5Mo no problem on the demo.

[2016-11-30 09:19] asaunier commented on #639
During go live.
Or at least when the next upgrade is the production, not the demo.

Some changes can be done now if we are sure that the Basic Auth will not be removed on the demo before the go live: robots.txt etc.

[2016-11-30 09:23] ginold commented on #1036
Would it be enough to write a python helper that creates a new array with extracted IDs ?

[2016-11-30 09:27] asaunier commented on #929
@ginold Remember that not all users of c2corg live in cities or even have huge bandwidths :P There are also users using mobile phones.

[2016-11-30 09:37] #1040 closed

[2016-11-30 10:20] asaunier commented on #1036
I guess so. Probably it is also needed to make changes in ``userCtrl.hasEditRights`` so that it supports a simple list of user ids instead of a full users dump.

Perhaps we don't really need an helper, but some kind of list comprehension, something like
[code]
(not tested - I have not looked at the content of the users list)

Not a really urgent change though (milestone is 6.1).

[2016-11-30 10:29] ginold opened #1045 "Waypoint articles/books associations not showing"
some associated articles and books don't show up in the waypoint-view because the condition doesn't take them under account.

`% if 'recent_outings' in waypoint['associations'] and waypoint['associations']['recent_outings']['total'] > 0:`

[2016-11-30 10:47] asaunier commented on #1045
Could you give a link on github to the code you are pointing please?

[2016-11-30 10:53] ginold commented on #1045
https://github.com/c2corg/v6_ui/blob/master/c2corg_ui/templates/waypoint/view.html#L165

maybe other document types have this old condition too. To verify.

[2016-11-30 11:01] asaunier commented on #1045
OK thanks. It seems the condition has not been updated after books and articles associations have been added.

[2016-11-30 12:35] fjacon commented on #929
@mfournier can you test and upgrade timeout

[2016-11-30 12:40] asaunier opened #1046 "Enable client-side resizing when uploading an image"
There is an option in ng-file-upload, ``ngf-resize``. See https://github.com/c2corg/v6_ui/issues/929#issuecomment-262923465

[2016-11-30 12:41] asaunier commented on #929
Client-side resizing has been moved to a dedicated issue: https://github.com/c2corg/v6_ui/issues/1046

For this issue: only increase a bit the timeout setting.

[2016-11-30 14:33] fbunoz opened #1047 "Climbing_outdoor WP : missing restricted access field"
As explained [here](https://github.com/c2corg/v6_api/blob/master/c2corg_api/models/waypoint.py#L227-L237), for a climbing_outdoor WP, the access_period text field is used to describe the details of a restricted access : forbidden period, sector or route, the reasons, a link to the source, etc.
Then, the access_period field it must be visible for a climbingoutdoor WP, but the title should be "restr

[2016-11-30 14:58] stef74 opened #1048 "Trace connexion user in BDD"
Add last connexion date in BDD for each user.

[2016-11-30 18:04] desnoes commented on #912
@stef74 i confirm, it is displayed correctly now. I close the issue.

[2016-11-30 18:04] #912 closed

[2016-11-30 19:26] tsauerwein commented on #351
I wasn't able to reproduce this behavior.

Moved to https://github.com/c2corg/v6_api/issues/557

This was related to the advanced search, see https://github.com/c2corg/v6_api/issues/397.

[2016-11-30 19:26] #351 closed

[2016-11-30 19:44] tsauerwein opened #1051 "Redirect to add slug drops HTTPS"
When I open the URL `https://.../outings/826204/fr` in HTTPS, a redirect is made to `http://.../outings/826204/fr/tete-du-...` in HTTP.

The redirect should be made to a URL with HTTPS.

To test:
https://www.demov6.camptocamp.org/outings/826204/fr
-> http://www.demov6.camptocamp.org/outings/826204/fr/tete-du-parmelan-par-le-petit-montoir

[2016-11-30 21:17] asaunier commented on #1051
Duplicate of https://github.com/c2corg/v6_ui/issues/981

[2016-11-30 23:00] loicperrin commented on #1041
So what is the problem in this case (to find the right translation)?
The user has entered a wrong username or a wrong password?

[2016-11-30 23:14] asaunier commented on #1041
Yes.

Actually there is already a translation for "Login failed:" in Transifex.
https://www.transifex.com/camptocamp-association/c2corg_ui/viewstrings/#fr/v6/96458637?q=Login%20failed

And the message should be translated here (or perhaps only marked as to be translated?):
https://github.com/c2corg/v6_ui/blob/6d385f9fb2fc96325a52e3dbbf2e1b62efd0c381/c2corg_ui/static/js/apiservice.js#L379

[2016-11-30 23:24] asaunier opened #1052 "Reports are not shown correctly in feed"
No idea what happened:

<img width="620" alt="capture d ecran 2016-11-30 a 22 20 17" src="https://cloud.githubusercontent.com/assets/1192331/20775663/6d11856e-b75c-11e6-8f31-cf97c53470d0.png">

@fbunoz Do you remember what it was?

[2016-11-30 23:59] fbunoz opened #1053 "Field glacier_gear not shown for hiking and strange behaviors"
- [x] On the edit page of a hiking route, the field glacier_gear is not shown.
- [x] During the migration, the glacier_gear is set for all the route to 'no' or 'glacier_safety_gear' : https://github.com/c2corg/v6_api/blob/master/c2corg_api/scripts/migration/documents/routes.py#L102-L104.
The count is correct : https://www.demov6.camptocamp.org/routes#glac=no%252Cglacier_safety_gear (36822)
But whe

[2016-12-01 00:13] loicperrin commented on #900
It does not work anymore.
Same origin?

[2016-12-01 07:22] asaunier commented on #981
The problem is around here:
https://github.com/c2corg/v6_ui/blob/master/c2corg_ui/views/document.py#L356-L369

A ``Location`` header is generated but with a relative path (``location = self.request.route_path``) and most likely the scheme is omitted. We probably have to replace ``self.request.route_path`` by ``self.request.route_url``. If it is not enough, we might have to add a ``_scheme``.

It's

[2016-12-01 07:23] #1051 closed

[2016-12-01 07:47] tsauerwein commented on #1052
It's a report. Should reports be shown in the feed?

[2016-12-01 08:21] dkocich commented on #1052
Accident reports? I think that some reports can be shown on feed (avalanches), but it is probably not interesting to show everything (person fall with some injury, etc.).

[2016-12-01 08:56] stef74 commented on #972
test ok

[2016-12-01 08:56] #972 closed

[2016-12-01 09:03] asaunier commented on #1052
Yes

All document creations should be advertised in the feed (images being a bit special).

[2016-12-01 09:05] stef74 commented on #1029
fixed

[2016-12-01 09:05] #1029 closed

[2016-12-01 09:15] dkocich opened #1054 "Images search date filter do not work"
* [ ] Image count is not updated and list remains same after selection of any date.

![image](https://cloud.githubusercontent.com/assets/6165660/20787894/7fa8bb14-b7ae-11e6-9c61-4d2e034a21bf.png)

[2016-12-01 09:15] #933 closed

[2016-12-01 09:20] stef74 commented on #855
@asaunier you do the job ?

[2016-12-01 09:20] mgerbaux commented on #933
Should it be in test ?
It does not seem to work for me…
![capture du 2016-12-01 10 18 22](https://cloud.githubusercontent.com/assets/22116605/20788129/adbb4de0-b7af-11e6-91da-e1237ab39150.png)

[2016-12-01 09:25] arnaud-morvan commented on #900
Not the same origin, discourse_api_key seems good.

Discourse says : Can't verify CSRF token authenticity

[2016-12-01 09:27] asaunier commented on #1054
In addition
* [ ] The date picker is cut:
![sans titre](https://cloud.githubusercontent.com/assets/1192331/20788358/c62904e8-b7b0-11e6-8cb1-c0c2d4e27a10.png)

[2016-12-01 09:28] stef74 commented on #1006
@brunobesson You open dedicated issue and close your question ?

[2016-12-01 09:29] asaunier commented on #855
What job?
No info about what image to use with what licence and attribution has been provided.

[2016-12-01 09:32] asaunier commented on #933
I think it should work when the Basic Auth will be removed. See my comments above.

[2016-12-01 09:39] ginold commented on #1054
^ the same problem as stated in #655 -> it only happens when you scroll down and open a menu, not happening if you are on the top of the list.

[2016-12-01 09:57] arnaud-morvan commented on #900
I suspect that this is due to system user renaming

[2016-12-01 10:51] brunobesson opened #1056 "(De)associating a route to an existing outing without GPX data should update the georef"
Based on #1006

A route without GPX data has georef automatically computed from assoiated route(s).
When (de)associating routes to an outing, it's georef should be computed again, the same way.

[2016-12-01 10:51] brunobesson commented on #1006
Created issue #1056 instead.

[2016-12-01 10:51] #1006 closed

[2016-12-01 10:56] brunobesson commented on #855
As for the license, yes, we do: CC BY-NC-SA.
Attribution si Alex Buisse and his website http://www.alexbuisse.com/.

I send you the image per email. Should the image not be large enough, then we should contact Alex Buisse directly.

[2016-12-01 10:58] asaunier commented on #855
If it could be the same size than https://github.com/c2corg/v6_ui/blob/master/c2corg_ui/static/img/home/slide1.jpg it would make things easier: simple image replacement.

[2016-12-01 11:01] brunobesson commented on #855
The proportion is the same, but the new image is a little bit smaller (1200px wide instead of 1500px). Is that ok for you?

[2016-12-01 11:15] asaunier commented on #855
No clue. @ginold what do you think?

[2016-12-01 12:46] stef74 opened #1058 "Feed space optimisation"
Feed density information are not enough ... here propose some basic improvment to have more information on screen.
Feel free to add your optimization and comment mine. Some element are completely out of my skill ...

I try to do some commit myself ... but probably not all.

- [x] Write the date of feed on same line that the user (remove <br>)
![capture](https://cloud.githubusercontent.com/assets/3

[2016-12-01 12:50] ginold commented on #1058
IMHO i prefer when the cards have some space "to breathe" - maybe you will earn some space, but not really in readability. (not mentioning that the feed is already pretty empty :P).

[2016-12-01 13:53] asaunier opened #1059 "Do not show "create ..." in the association tool in editing forms"
Say you are creating a route and would like to associate a WP. If the search/association tool finds no result matching your query, it outputs links to create documents (including document types that cannot be associated to a route). If you click on one of those "create" buttons, the route editing form is replaced by a new one, making all written data lost.

The search tool should not display such

[2016-12-01 13:59] fbunoz commented on #1052
It's a xreport.

It would be useful that the exact date (and time until seconds) appear in a tooltip on the text "il y a 9 jours".

[2016-12-01 14:30] stef74 commented on #1058
Many complaint by user in beta concerning the density of information, the V5 have too many infos in home page ... the v6 have probably too less !

[2016-12-01 14:34] brunobesson commented on #1058
IMHO the main problem (appart from the pertinence of the content) is to dispatch more information on desktop, but this should be done using the place we have around the feed, i.e. by widening the feed items.

Mixing activities icons with users is pretty strange.

[2016-12-01 14:36] brunobesson commented on #1058
On the other side, having date and user on the same line on wide screens (desktop, maybe tablets too) is OK for me.

[2016-12-01 16:26] stef74 commented on #1058
Or add date collate to title
![capture_date](https://cloud.githubusercontent.com/assets/3962997/20802109/3da9a1c8-b7eb-11e6-8645-d980902e8239.PNG)

[2016-12-01 16:27] stef74 commented on #1058
[ ] move date for outing ... TBD

[2016-12-01 16:28] stef74 commented on #1058
In many case ... only activites

[2016-12-01 17:00] stef74 commented on #1058
- [ ] wide item feed

[2016-12-01 22:01] asaunier commented on #945
will be fixed by #1060

Tested on the demov6 and it works. It was probably an indexing problem.

[2016-12-01 22:03] loicperrin commented on #1041
So it is OK in Transifex, the modification has to be made in the API code.

[2016-12-01 22:18] loicperrin commented on #929
I have seen something strange which can help fixing this issue: when uploading an image I see the progression bar go to 88% (for example), and suddenly, it goes down to 44%, and this occurs several times, till I get the timeout.

[2016-12-01 22:22] loicperrin commented on #816
Yes you are right. What is disturbing was the fact that the image was not included it the feed when added to my own outing. Now it is OK

[2016-12-01 22:22] #816 closed

[2016-12-01 22:29] loicperrin commented on #992
Fixed!

[2016-12-01 22:29] #992 closed

[2016-12-01 22:30] asaunier commented on #639
Closing the issue, all tasks have been moved to the GoLive Trello board.

[2016-12-01 22:30] #639 closed

[2016-12-01 22:42] loicperrin opened #1066 "Notification when adding comment to an outing"
There is no notification when a comment is added to an outing. So the user cannot guess that someone has commented his outing.

[2016-12-01 22:45] loicperrin opened #1067 "Notification when associate a user to an outing"
When a user is associated to an outing, he does not receive a notification. I should be added.
Maybe to be grouped with #1066 (but less priority)

[2016-12-01 22:48] asaunier commented on #644
Moved to Trello.

[2016-12-01 22:48] #644 closed

[2016-12-01 22:53] asaunier commented on #1066
Since comments use Discourse, I guess the Discourse notifications could (?) be used here as well.

[2016-12-01 23:02] asaunier commented on #856
It seems gzip compression is not enabled on the demov6:

![sans titre](https://cloud.githubusercontent.com/assets/1192331/20816444/96b7855a-b822-11e6-9b70-daa6b48359ad.png)

See http://superuser.com/questions/295360/how-to-know-if-a-site-is-gzipped
https://www.nginx.com/resources/admin-guide/compression-and-decompression/

[2016-12-01 23:48] asaunier commented on #1046
ng-file-upload config is here: https://github.com/c2corg/v6_ui/blob/master/c2corg_ui/static/partials/imageuploader.html#L1-L12

It is possible to specify for what dimensions an image should be resized:
[code]
I don't know if it is possible to test the image weight? Perhaps using ``$file``?

At least it is possible to add limitations/validations and refuse images that would be too big (or too small

[2016-12-02 08:01] asaunier opened #1068 "Add a revert action in the wiki"
In v5 it is possible to revert changes in a document by opening the document history, opening a document version before the changes to cancel and editing from this version (the old version is loaded in the editing form). Saving the form (even without any change) creates a new version based upon the data of the old version.
This feature is available to any contributor (not only moderators). Of cour

[2016-12-02 08:18] ginold commented on #1046
Exactly what i was looking for! I will start to work on this today.

[2016-12-02 08:24] tsauerwein commented on #1046
Please test if the resizing doesn't freeze the browser when trying to add a lot of images at once (especially on slow machines).

[2016-12-02 08:27] tsauerwein commented on #1067
When you say "notification", you mean an email or an entry in the feed? The later should be the case.

[2016-12-02 08:33] asaunier commented on #1046
@ginold please note it is not a high prio task (tagged 6.1 - personally I think it would help solve the image upload problem so I would have kept it 6.0 :P )

Rather focus on the associations removal PR and on the cards displaying/sorting https://github.com/c2corg/v6_ui/issues/690

[2016-12-02 08:36] asaunier commented on #1067
In v5 an email is sent when someone is associated to an outing.
Don't know if we should do the same in v6. Probably yes because if you don't open the feed you won't figure out you have been associated to an outing. And even if you open it, you might not notice it.

[2016-12-02 08:45] ginold commented on #1046
The issue that this one is created from was tagged as blocking. Has it changed priority?

[2016-12-02 08:53] brunobesson opened #1070 "On tablet, left-menu has tooltips but they are hidden"
Maybe the z-index (the default in bootstrap is 1070 for tooltips), or an overflow property?

![toto](https://cloud.githubusercontent.com/assets/2234024/20827923/1d6f6304-b875-11e6-953d-c4e097149aaa.png)

[2016-12-02 08:53] asaunier commented on #929
@arnaud-morvan @mfournier Is it a setting of the images backend ("S3 bucket")?

[2016-12-02 08:55] stef74 commented on #1046
Upload image is blocking ... but we unblock by uncrease timeout server. So this issue is important but not blocking.

[2016-12-02 08:56] ginold commented on #1046
Ok, I didn't know we solved the timeout issue :+1:

[2016-12-02 08:56] brunobesson opened #1071 "No close outing end date button on mobile"
Not sure this is really an issue, maybe it's intendend (at least when I have a look at the code).
So this is just for confirmation.

On mobile, when creating or editing an outing: the cross button near to the end date picker for a multi-day outing is not displayed.

[2016-12-02 08:59] brunobesson opened #1072 "Date picker layout"
Buttons are not placed properly, bottom margin is incorrect

![toto](https://cloud.githubusercontent.com/assets/2234024/20828053/e519c96c-b875-11e6-8237-26dd471063e6.png)

[2016-12-02 08:59] asaunier commented on #1046
It's not! (yet)

The initial issue has been split in 2 tasks: only the timeout setting remains in https://github.com/c2corg/v6_ui/issues/929#issuecomment-263864176

Concerning the current issue (ng resize), as you can see it is not tagged blocking and its milestone is 6.1.

I have the feeling it could be not that complicated. I have tried yesterday to add ``ngf-resize="{width: 300, height: 300}"``

[2016-12-02 09:00] brunobesson commented on #1072
Also, why use 3 different colors for buttons? And these colors do not seem to respect the color palette?

[2016-12-02 09:02] brunobesson opened #1073 "Add new outing box layout in feed"
On mobile, the position is OK, but on tablet and desktop, there is a missing top margin.
![toto](https://cloud.githubusercontent.com/assets/2234024/20828160/6168a1c8-b876-11e6-9455-320d4eae87ff.png)

[2016-12-02 09:02] asaunier commented on #996
Christian has reported he no longer has the problem with Safari. I have also tested it right now: the carousel and slideshow are OK.

[2016-12-02 09:02] #996 closed

[2016-12-02 09:02] ginold commented on #1072
Those are the default values and color. But you are completely right there should be a margin and a different button style, it annoys me too :P

[2016-12-02 09:04] tsauerwein commented on #1073
I also think the additional box around the button is not required.

[2016-12-02 09:16] #999 closed

[2016-12-02 09:17] stef74 commented on #944
@mgerbaux could you test ?

[2016-12-02 09:18] stef74 commented on #941
@mgerbaux could you test ?

[2016-12-02 09:18] stef74 commented on #941
@desnoes could you test ?

[2016-12-02 09:22] #910 closed

[2016-12-02 09:23] stef74 commented on #736
@fbunoz could you test ?

[2016-12-02 09:24] stef74 commented on #705
@desnoes @loicperrin could you check ? if new issue please open a new issue

[2016-12-02 09:35] desnoes commented on #941
the bug has not been fixed. Elevation is still required and it is not possible to complete the creation of this WP.

----- Mail original -----
De: "stef74" <notifications@github.com>
À: "c2corg/v6_ui" <v6_ui@noreply.github.com>
Cc: "desnoes" <mathieu.desnoes@free.fr>, "Mention" <mention@noreply.github.com>
Envoyé: Vendredi 2 Décembre 2016 10:18:25
Objet: Re: [c2corg/v6_ui] WP creation 'climbing_in

[2016-12-02 09:44] fbunoz commented on #736
The categories are not shown.
The title is shown only by clicking on the info button. When we look at all images, it's better to see the title without clicking for each image. For some images the title is important about the artistic effect : http://www.camptocamp.org/images/list/ousers/119658/orderby/odate/order/desc/npp/100
The title would be shown on bottom over the image, disappearing after fe

[2016-12-02 09:45] desnoes commented on #705
Outing: there are still 3 bugs
- 'height_diff': @asaunier did a PR for this issue (https://github.com/c2corg/v6_ui/pull/1069)
- 'True' instead of 'yes': i don't know wether it is a translation error or not

![sortie](https://cloud.githubusercontent.com/assets/19892089/20829451/669348dc-b87c-11e6-9953-c3e3795b1cce.jpg)

[2016-12-02 09:49] ginold commented on #1070
should be fixed by https://github.com/c2corg/v6_ui/commit/804550c319c7d9f4249f2ddb9c7d7ff457d7e29b

maybe the demo is not updated.

[2016-12-02 09:52] desnoes commented on #941
i retested and the bug disappeared !

----- Mail original -----
De: "mathieu desnoes" <mathieu.desnoes@free.fr>
À: "c2corg/v6_ui" <reply@reply.github.com>
Cc: "Mention" <mention@noreply.github.com>, "c2corg/v6_ui" <v6_ui@noreply.github.com>
Envoyé: Vendredi 2 Décembre 2016 10:35:00
Objet: Re: [c2corg/v6_ui] WP creation 'climbing_indoor': 'elevation' shall not be requested (#941)

the bug has not b

[2016-12-02 09:53] fbunoz commented on #1071
I confirm the cross button to remove the end date is not shown on mobile.

[2016-12-02 09:57] tsauerwein opened #1074 "Generate URLs in sitemap with HTTPS"
See https://github.com/c2corg/v6_ui/pull/1062#issuecomment-264408271

[2016-12-02 09:58] desnoes opened #1075 "WP: display error for the field 'Qualité de l'équipement'"
The brackets and the quotes should be removed (['P1+'] should be replaced by P1+).
![wp falaise](https://cloud.githubusercontent.com/assets/19892089/20829814/02ee9078-b87e-11e6-86c2-b6c12d23c801.jpg)

[2016-12-02 09:58] ginold commented on #1073
I was going to do that, but if you can, you have to change/replace :

[code]

![screenshot from 2016-12-02 10-57-44](https://cloud.githubusercontent.com/assets/7814311/20829847/2be6c70c-b87e-11e6-8bf2-83501d80cc11.png)

[2016-12-02 09:58] brunobesson commented on #1071
On the other side, I tested by removing the end date with the date picker (`Clear`), and the outing is created appropriately.
So this may be just a design choice.
Personnaly, I am OK with the current state. @asaunier or whoever is responsible for this part, could you confirm the desgin choice?

[2016-12-02 10:00] brunobesson commented on #1073
Feel free to do it!
Otherwise, I can work on it, but this may not be ready for GO live (dunno if I'll have time to work on it this week-end)

[2016-12-02 10:03] ginold commented on #1071
Probably I did this part, in fact it's hidden because it aligns better on mobile. If you prefer we can have something like this :

![screenshot from 2016-12-02 11-02-58](https://cloud.githubusercontent.com/assets/7814311/20830001/f2826e5c-b87e-11e6-98c5-0834e24778a4.png)

[2016-12-02 10:55] asaunier commented on #736
Indeed. At least attributes are shown. Which means the base feature is available and simply have to be improved.

Also when hovering the slideshow with the mouse cursor.

"should"? It has never been described :P
I think it's out of scope here.

[2016-12-02 11:00] #131 closed

[2016-12-02 11:00] asaunier opened #1077 "Missing translations"
Moving here new comments about i18n

@desnoes https://github.com/c2corg/v6_ui/issues/705#issuecomment-264414244

![sortie](https://cloud.githubusercontent.com/assets/19892089/20829451/669348dc-b87c-11e6-9953-c3e3795b1cce.jpg)

[2016-12-02 11:04] asaunier commented on #1077
Indeed. The PR is merged but I can't see the new string ``height_diff``. Perhaps I should have waited Travis testing was fixed (does it impact the pushing of new strings to Transifex when a PR is merged?).

Not a translation error, simply a value error => the boolean value should be transformed to yes/no/... before being translated. Already reported here https://github.com/c2corg/v6_ui/issues/978

[2016-12-02 11:05] fbunoz commented on #948
This bug is always active, for all docs types.
I think is blocking, as if the user test saving by cliquing on the cancel button, he lose all the data which he has entered in the form...

[2016-12-02 11:06] asaunier commented on #705
@desnoes please don't add new things to this issue, it's too big now. I have moved your report to https://github.com/c2corg/v6_ui/issues/1077

I recommend closing the issue if other points are OK.

[2016-12-02 11:20] ginold commented on #948
I think something is wrong here: who would try to _save_ by clicking on the _cancel_ button ? :P

Just tested on my phone : no issues when clicking on any buttons in the editing form ... (chrome and stock android browser).
What phones/browsers do you use?

[2016-12-02 11:23] asaunier commented on #948
No phone to test. But in Chromium with a small screen (mobile layout), I don't see any problem either testing on demov6.

[2016-12-02 11:43] fbunoz commented on #948
Firefox 50.0 on Android 4.4.

[2016-12-02 11:49] fbunoz commented on #948
Maybe the behavior is wanted by the dev :
- On first clic, no action is done, but the button tooltip appear (the button is shfted left to make a place for the tooltip, but the tooltpi appear at the left :) .
- On the second clic, the action is done.

It avoids to clic on a button without knowing exactly what it does.

[2016-12-02 12:47] brunobesson commented on #948
Those tooltips on mobile are a problem, I intend to have a look at it sometimes, they should usually be deactivated.

[2016-12-02 13:44] asaunier opened #1078 "Outing association tool"
* [ ] as for now it is not possible to associate a participant from the outing detail view, one needs to edit the outing to do so => it should be possible to associate users from the outing detail view.

[2016-12-02 14:21] mgerbaux commented on #944
There seems to be an issue to access to svg migrated from v5 files :

http://www.demov6.camptocamp.org/images/819610/fr/itineraire-direct-entre-le-pas-de-monthieux-et-les-verts → http://sos.exo.io/c2corg_demov6_active/1478423330_1375656693.svg is not valid
so as http://sos.exo.io/c2corg_demov6_active/1479143096_1734573757.svg :
![capture du 2016-12-02 15 19 08](https://cloud.githubusercontent.com/

[2016-12-02 14:26] mgerbaux commented on #941
it is OK for me

[2016-12-02 14:34] #941 closed

[2016-12-02 14:44] asaunier commented on #944
@arnaud-morvan could it be related to https://github.com/c2corg/v6_images/issues/8 ?

[2016-12-02 15:07] arnaud-morvan commented on #944
This error append when the file do not exists in the S3 bucket.
I've manually migrated this file (using -k 1479143096_1734573757.svg) and it is now available.
Note that SVG files are not available for the demo, I will run the migration for thoses files right now.

[2016-12-02 15:14] asaunier commented on #944
@arnaud-morvan thanks!

@mgerbaux uploading new SVG is OK. Please close the issue if OK for you.

[2016-12-02 15:53] tsauerwein commented on #1048
Moved to the API: https://github.com/c2corg/v6_api/issues/561

[2016-12-02 15:53] #1048 closed

[2016-12-02 18:49] #1074 closed

[2016-12-02 21:04] #944 closed

[2016-12-02 23:13] loicperrin commented on #1067
email

[2016-12-02 23:34] loicperrin opened #1084 "Add user advance search"
In the page "Topoguide", an item "users" should be added to the list of types of documents, in order to display list of users.
This list should be filtered by:
-  name: "Topoguide name" and "forum name", and if possible with only one field for both names
- category
- activity
And of course, the list is filtered according to the map, as for other "objects".

[2016-12-03 09:33] asaunier commented on #1084
A tricky thing I guess: not-public profiles should not be listed or only with minimal info (topo name only?).

[2016-12-03 11:14] HSERGERAERT commented on #1084
Is it usual on web site to have a list of contributors/users ?

On my first test, I was a bit frustrated not to have that list, the one requested by Loic.
But thinking how the other web platform are acting, I don't feel this is usual to have such list.
Therefore, we should think first of the added value for the change request.
Should it be a topic to postpone until we have the specifications of ta

[2016-12-03 11:56] #593 closed

[2016-12-03 11:59] tsauerwein commented on #1084
See also https://github.com/c2corg/v6_ui/issues/1013

[2016-12-03 16:21] #20 closed

[2016-12-03 16:58] asaunier opened #1086 "Unconsistent "no result" buttons in association/search tool"
<img width="650" alt="capture d ecran 2016-12-03 a 17 31 40" src="https://cloud.githubusercontent.com/assets/1192331/20860693/94b5f324-b97e-11e6-81e2-ab0d32a1d0fd.png">

* Why "no result" when there are articles found? => rename this title or even remove it
* Why showing it before the articles list anyway?

I have the feeling this "create a new..." block is not OK:
* [ ] since it appears even when

[2016-12-04 08:10] asaunier commented on #1059
Moved to https://github.com/c2corg/v6_ui/issues/1086

[2016-12-04 08:10] #1059 closed

[2016-12-04 08:10] asaunier commented on #849
See also https://github.com/c2corg/v6_ui/issues/1086

[2016-12-04 08:31] jmarcmod commented on #1084
Cette issue a été ouverte notamment pour permettre aux membres qui recherchent des partenaires dans les rubriques dédiées du forum, d'aller consulter le profil topoguide des membres en général inconnus susceptibles d'aller sortir avec eux.
Tant qu'il n'y aura pas de solution à l'issue passerelle profil forum -> profil topoguide cf [forum #54](https://github.com/c2corg/v6_forum/issues/54), la seule

[2016-12-04 08:35] asaunier opened #1088 "robots.txt is not made available with nginx"
A ``robots.txt`` file is available, see the apache config at https://github.com/c2corg/v6_ui/blob/master/apache/wsgi.conf.in#L7

But it seems missing in the actual demov6/prod config, using nginx instead of Apache.

[2016-12-04 08:43] asaunier commented on #1088
The syntax seems to be
[code]
Don't know if it is possible not to hard-code ``/path/to/basedir``?

[2016-12-04 09:22] asaunier commented on #736
Since there are still a few missing info (eg. categories) but not critical, I have removed the "fixed and ready for testing" label but moved the issue to 6.1.

[2016-12-04 09:23] #705 closed

[2016-12-04 09:25] asaunier commented on #849
Moving here the related issue https://github.com/c2corg/v6_ui/issues/1086

<img width="650" alt="capture d ecran 2016-12-03 a 17 31 40" src="https://cloud.githubusercontent.com/assets/1192331/20860693/94b5f324-b97e-11e6-81e2-ab0d32a1d0fd.png">

* Why "no result" when there are articles found? => rename this title or even remove it
* Why showing it before the articles list anyway?

I have the feeli

[2016-12-04 09:26] asaunier commented on #1086
Moved to https://github.com/c2corg/v6_ui/issues/849#issuecomment-264693210

[2016-12-04 09:26] #1086 closed

[2016-12-04 09:29] asaunier commented on #1046
Moving to milestone golive because I think it would really help solving https://github.com/c2corg/v6_ui/issues/929
(but not high prio)

[2016-12-04 09:38] asaunier commented on #970
Tested with Chrome 54 and 55.
Actually no problem if the icons are on the same line.
If the line is too long and had to be split into 2 lines, hovering the last icon of the first line actually makes it jump to the next line. But that's it.

[2016-12-04 17:12] stef74 commented on #970
Honestly we need to do something ?

[2016-12-04 17:15] stef74 commented on #1084
Il est beaucoup plus simple de creer un lien (issue je sais plus combien) ... que de faire cette liste.

Avec l'evol sur la recherche des contributeurs dans les suivi ... l'urgence est moins grande.

Ca reste a affiner je tag later.

[2016-12-04 17:21] stef74 commented on #1041
@asaunier why do you remove "association" ? Its a translation issue (it's my understanding).

[2016-12-04 17:43] #927 closed

[2016-12-04 17:47] stef74 commented on #791
@loicperrin Could check other point ? and close if is OK

[2016-12-04 17:50] stef74 commented on #966
@brunobesson you PR fix this issue ?

[2016-12-04 17:58] stef74 commented on #526
duplicate #1005

[2016-12-04 17:58] #526 closed

[2016-12-04 18:37] asaunier commented on #1041
I don't think it is a translation issue. The string "Login failed:" is indeed translated in Transifex. It's rather a code problem.

[2016-12-04 19:18] stef74 opened #1090 "Vandalisme detection"
TBD

[2016-12-04 19:21] stef74 opened #1091 "Recent conditions"
Conditions récentes (C 5.2)

in V5 : http://www.camptocamp.org/outings/conditions

[2016-12-04 19:23] stef74 opened #1092 "Delete personal document"
Suppression d'un document perso sous 24h (C 11.1)

[2016-12-04 19:24] stef74 opened #1093 "Inscription suggestion"
Suggestion d'inscription (B 25.6)

[2016-12-04 19:25] stef74 opened #1094 "Creation document assitant"
Assistant de création de documents (version étendue B 7.1)

[2016-12-04 19:26] stef74 opened #1095 "Content management - Wysiwyg"
Gestion de contenus étendue, composant Wysiwyg (B 8)

[2016-12-04 19:27] stef74 opened #1096 "Contextual Help"
TDB

[2016-12-04 19:30] stef74 opened #1097 "Tag system"
TDB

[2016-12-04 19:31] stef74 opened #1098 "URL redirections and SEO"
"Pages de référencement Google"

I don't know what is the job remaining ...

[2016-12-04 19:45] asaunier commented on #1098
I don't even know what's this mean...

[2016-12-04 19:47] stef74 commented on #1098
If an extract of release document part bases on "cahier des charge" ...

2016-12-04 20:45 GMT+01:00 Alex Saunier <notifications@github.com>:

[2016-12-04 21:57] asaunier opened #1099 "Error 500 with an outing"
http://c2corgv6.demo-camptocamp.com/outings/93037/fr/voie-plume => Internal Server Error
(ditto with the same outing on demov6):

[code]

[2016-12-04 22:01] loicperrin opened #1100 "Impossible to display an outing"
When I try to display https://www.demov6.camptocamp.org/outings/93037/fr/signal-du-venetier-voie-plume, I get a "Internal Server Error", whereas there is no problem when displaying other outings, even if they are associated to xreport.

[2016-12-04 22:27] brunobesson commented on #966
Yes, it does. You can close the issue.

Le 4 déc. 2016 6:50 PM, "stef74" <notifications@github.com> a écrit :

[2016-12-04 22:41] asaunier commented on #1100
Please check if the issue is not already reported before creating a new one: https://github.com/c2corg/v6_ui/issues/1099

[2016-12-04 22:41] #1100 closed

[2016-12-04 22:44] asaunier commented on #1098
Still don't understand. Please clarify the task. For me "Pages de référencement Google" is too confusing and doesn't really make sense. Do you mean the sitemap file?
If yes the issue has already been addressed https://github.com/c2corg/v6_ui/issues/343

[2016-12-04 22:44] #966 closed

[2016-12-05 07:19] HSERGERAERT commented on #1098
This topic cames from a discussion with @fjacon .
My understanding. v6 will have the same URL address than v5, www.camptocamp.org.
We have to ensure that Google won't redirect Google searches on v5-archive but on the right pages of the v6.
That's my understanding, don't know if there are particular actions to do.

[2016-12-05 08:32] brunobesson commented on #970
I'll have a look sometimes at how to handle tooltips on phone screens. They are e.g. activated in the sidemenu only for tablets, maybe we could do something similar for button tooltips?

[2016-12-05 08:47] asaunier commented on #1098
OK thanks for the explanations.
I have retitled the issue to make it a bit clearer.
There are indeed a few redirections to do. For instance http://www.camptocamp.org/summits/43836/fr/dorenaz to http://www.camptocamp.org/waypoints/43836/fr/dorenaz

Milestone cannot be 6.3 (no use to make such changes in 4 months). It's a golive task (already listed in the golive trello).

[2016-12-05 08:59] stef74 commented on #1098
It's milestone 6.2 in realease exel sheet ... for the purpose if additionnal work needed after go live. I know we use micro tagging for specific data ... but i don't know if it's allready relevant.

@lbesson Some ideas ?

[2016-12-05 09:03] #1013 closed

[2016-12-05 09:05] asaunier commented on #1098
@stef74 OK, for golive we'll do the changes listed in Trello. Please list additional tasks and set milestone accordingly if needed.

[2016-12-05 09:56] asaunier opened #1102 "Followed users list improvement"
* [x] When adding a user with the search tool, test that the user is not already followed before sending the ``follow`` request. See https://github.com/c2corg/v6_ui/blob/master/c2corg_ui/static/js/following.js#L96-L99 (not critical)

[2016-12-05 10:06] dkocich commented on #1099
There is a problem with this associated route http://localhost:6548/routes/201889 (UI link also do not work because of missing title). It looks somehow damaged (attributes are almost empty and it does not any include locale), so then we can't get `title_prefix` and `title`.

[2016-12-05 10:58] asaunier commented on #855
The image has been updated. I set the issue "ready for demo" and have postponed the milestone: changes for golive have been done, other changes about having several images have to be addressed later.

[2016-12-05 11:18] asaunier commented on #713
@fbunoz @stef74 Is there a chance that this parser is ready for demo? If not, it's no use keeping it on milestone "golive", perhaps we could postponed to 6.1?

[2016-12-05 14:49] fbunoz commented on #1068
Yes :
- It allows to do some changes on the old version before saving the revert.
- It allows to see and copy text with tags from the old version, if we don't want to revert all the text but only a little part.

[2016-12-05 14:51] stef74 commented on #690
This issue is tagged Go Live ...
@loicperrin what is missing for close this issue ?
@ginold you have plan to work on it ?

If is not realistic to do before Thursday I move in 6.1

[2016-12-05 14:52] stef74 commented on #1077
@asaunier Move to 6.x ?

[2016-12-05 14:56] asaunier commented on #690
I think the main concern is that outings are sorted top to bottom on the first column, then on the second column, etc. Ditto for other document types but it is less obvious.
The right way to sort cards, is left to right then top to bottom.

[2016-12-05 14:56] asaunier commented on #1077
It's not critical anyway.

[2016-12-05 15:09] arnaud-morvan commented on #929
This should be set as a gunicorn option : gunicorn --timeout in the docker compose file CMD entry.
http://docs.gunicorn.org/en/latest/settings.html#timeout

[2016-12-05 15:13] arnaud-morvan commented on #900
After restore of the datamigration Discourse database and API container rebuild all works fine. Closing.

[2016-12-05 15:13] #900 closed

[2016-12-05 16:29] dkocich commented on #1052
is this already fixed? I see that it is ok (only feed on userprofile page, I could not find xreport on the main page feed)

![image](https://cloud.githubusercontent.com/assets/6165660/20892948/56adf124-bb10-11e6-9fd2-6535059baa6b.png)

[2016-12-05 20:20] stef74 commented on #713
No infos ...

[2016-12-05 20:27] fbunoz commented on #713
No chance for thursday.
These last weeks, I spent the most dev time to check the migrations and correct the fails in V5 db.

[2016-12-05 20:28] stef74 opened #1104 "Image in feed"
The image are very bad and too "width"

![capture d ecran 2016-12-05 a 21 21 19](https://cloud.githubusercontent.com/assets/3962997/20901071/24c8f930-bb31-11e6-8b51-72c6a06a1bd4.png)

We have to limit the width to 3 time the heigh ...

[2016-12-05 20:45] stef74 commented on #1104
I have juste change width=100% by width=50% rendering is better

![capture d ecran 2016-12-05 a 21 39 37](https://cloud.githubusercontent.com/assets/3962997/20901712/12d7a00c-bb34-11e6-9206-040850fa4044.png)

[2016-12-05 21:40] asaunier commented on #1104
When there is only one image, it's too bad not to use the full card width. I prefer the original layout.

[2016-12-05 22:02] stef74 commented on #1104
On layout perspective ... ok but if look my screenshoot the image are very bad

![capture d ecran 2016-12-05 a 22 59 45](https://cloud.githubusercontent.com/assets/3962997/20904195/d9299918-bb3e-11e6-900c-00513f67fdc4.png)
![Uploading Capture d’écran 2016-12-05 à 22.59.54.png…]()

Honnestly the rendering of feed in large screen for image is very bad, all the image are completly deformed.
All the

[2016-12-05 22:19] asaunier commented on #1099
This route is a "fake" route created to list/associate outings with accidents before the actual xreports were implemented. That kind of "routes" was associated to a "fake" summit named "Incidents & accidents" (because the v5 data structure requires this summit>route>outing hierarchy).

Route 201889 is named like "chute-de-pierre-de-serac-ou-de-glace-foudre-vent-pre-incident" ("stone or ice fall, t

[2016-12-05 22:40] loicperrin commented on #791
These issues are not fixed (see previous comment):

ROUTES:
- [ ] Rocher haute montagne: field 'longueur de l'itinéraire is missing
- [ ] Hiking, snowshoeing, VTT: field 'Hauteur des difficultés' is included while it was not considered in https://docs.google.com/spreadsheets/d/1p7-RakklDot9gFnciEGox75833zU0ZuC5pRAoLZKziY/edit#gid=1418510514
  ex: http://c2corgv6.demo-camptocamp.com/routes/736986/f

[2016-12-05 23:06] loicperrin commented on #705
I confirm that other points OK, and translations in Transifex too.

[2016-12-06 06:16] desnoes commented on #791
ROUTES:
- [ ] Rocher haute montagne: field 'longueur de l'itinéraire is missing
- [ ] Hiking, snowshoeing, VTT: field 'Hauteur des difficultés' is included while it was not considered in https://docs.google.com/spreadsheets/d/1p7-RakklDot9gFnciEGox75833zU0ZuC5pRAoLZKziY/edit#gid=1418510514

The correct reference for fiel associated to routes is not the google spreadsheet. They are listed here: htt

[2016-12-06 07:39] tsauerwein commented on #791
The field is migrated correctly. It is simply not returned.

[code]

[2016-12-06 08:43] ginold commented on #690
I'm working on it right now. Not as easy as i have expected though.. :P

[2016-12-06 08:45] #1102 closed

[2016-12-06 09:14] stef74 commented on #856
@asaunier is in trello so we can close ?

[2016-12-06 09:15] asaunier commented on #856
@stef74 It's here https://trello.com/c/j6RLfiF4/14-make-sure-documents-and-static-files-css-js-are-served-gzipped-by-the-server

[2016-12-06 09:15] #856 closed

[2016-12-06 09:17] stef74 commented on #842
@asaunier close and add task to force HTTPS in trello ?

[2016-12-06 09:21] asaunier commented on #842
No idea if this part should be done during golive.
@mfournier what do you think?

[2016-12-06 09:27] ginold commented on #1104
This might actually be the case but probably _only_ for panoramic pictures, all the other "normal" pictures should be ok.

[2016-12-06 09:43] stef74 commented on #1104
If you have the look on this one ... is not OK (the original image is classical 4/3)

![capture](https://cloud.githubusercontent.com/assets/3962997/20920455/54b0be16-bba0-11e6-9df9-c285bac0c3a1.PNG)

In fact two problem
- quality of image
- proportion of image (a 4/3 image are not adpat to te show in panoramic format).

[2016-12-06 09:46] asaunier commented on #791
According to this reference, there is no problem. The field 'longueur de l'itinéraire' does not belong to the 'rock_climbing' structure. Similarly, 'Hauteur des difficultés' is not defined for hiking, snowshoeing and VTT.

@stef74 @loicperrin @desnoes Could you please update your comments/todo list in order to give use clear and precise instructions. According to your messages I don't really under

[2016-12-06 09:46] ginold commented on #1104
![screenshot from 2016-12-06 10-46-09](https://cloud.githubusercontent.com/assets/7814311/20920685/3d398cc6-bba1-11e6-8754-da00fd7b4116.png)
When I look at it like this, it looks perfectly fine. What i notice, is that the image gets a little blurry when you hover on it (browser things).

[2016-12-06 09:49] asaunier commented on #852
@stef74 Are there tasks related to this issue? Could the "golive" milestone be removed if it's rather an "info" ticket?
Not having this issue in the list of golive issue would help figuring out what is actually left before golive. Thanks.

[2016-12-06 09:51] tsauerwein commented on #1104
The problem is on larger screens where the image is shown resized with a width > 400px. Could you maybe do it so that the image is shown with a maximum width of 400px?

[2016-12-06 09:54] stef74 commented on #1104
@ginold perfect is not the appriate term but it's accetpatble (sorry but in original image of alex you can show 5 lengh of climbing ... on yours 3 and on mine only 1.5)
With width screen the feed are more wide (it's good point to use the space) ... but the image are not good (quality and content of image show).

Have look alex's image ...

[2016-12-06 09:56] stef74 commented on #852
@asaunier @HSERGERAERT according to herve I create milestone association ... for me is not just in infos ... but some action is needed by association

[2016-12-06 10:00] asaunier commented on #1104
Do you mean that feed cards are wider on bigger screens? The cards should not be wider than the image width (400px?), so that the images are not zoomed (poor quality). In addition the height should grow too when the width is increased (cards would then take more vertical space but wider screens are generally also higher).

[2016-12-06 10:01] ginold commented on #1104
So the fix would be to use a fixed height and width for the feed cards, because now it's a percentage so it might get a little too big and stretch the image :ok_hand:

[2016-12-06 10:02] stef74 opened #1106 "Home page image changing"
extra part of #855

Problems:

    it's always the same
    it might be not relevant for the golive (a ski image would make more sense)
    since it's currently integrated in the v6_ui files, its licence is probably the same than the rest of the code (?), ie. AGPL, which seem to make approached photographers a bit reluctant (commercial use is not forbidden etc.)

It would make sense to use some im

[2016-12-06 10:02] asaunier commented on #1098
@stef74 I have postponed the issue to 6.1 since "base" redirection tasks are listed in Trello.

[2016-12-06 13:02] stef74 commented on #855
it's OK !

[2016-12-06 13:02] #855 closed

[2016-12-06 13:14] asaunier commented on #1099
The demo has been updated, those "incidents/accidents" WP or routes no longer exist.
Outing http://www.demov6.camptocamp.org/outings/93037/fr/signal-du-venetier-voie-plume is displayed as expected (no more associations with an "incident/accident" route).

Please reopen the issue if a similar problem is eventually detected.

[2016-12-06 13:14] #1099 closed

[2016-12-06 13:17] tsauerwein commented on #855
On bigger screens the new image looks a bit unfortunate, because it is too small:

![image](https://cloud.githubusercontent.com/assets/266474/20926814/a3d9df2c-bbbe-11e6-8547-d025a941550f.png)

[2016-12-06 13:30] asaunier commented on #981
It seems PR #1062 has not fixed the problem: the https scheme is still lost when redirecting to the slug URL.

Perhaps ``self.request.scheme`` https://github.com/c2corg/v6_ui/blob/master/c2corg_ui/views/document.py#L349 is not the relevant data because SSL is only used to reach the frontend (haproxy? gunicorn?) and is not propagated to pyramid, ``self.request.scheme``  would then always be "http".

[2016-12-06 13:49] tsauerwein commented on #981
This information should be passed on in a `X-Forwarded-Proto` header, see http://docs.gunicorn.org/en/stable/deploy.html

This is for nginx, but this should also be possible with haproxy. @mfournier?

[2016-12-06 13:52] desnoes opened #1110 "User profil menu: translation error"
'My followed user' => 'Mes amis' (for instance)
![my follwed users](https://cloud.githubusercontent.com/assets/19892089/20927844/8cb4977e-bbc3-11e6-809f-6f5cf7fa2204.jpg)

[2016-12-06 13:54] asaunier commented on #1110
The string is simply not translated in Transifex.
There are 96 untranslated strings for French in Transifex.

[2016-12-06 13:54] #1110 closed

[2016-12-06 14:05] asaunier commented on #1077
Since this problem is already reported at https://github.com/c2corg/v6_ui/issues/978 and since the other problem is fixed, I close the issue.

[2016-12-06 14:05] #1077 closed

[2016-12-06 14:10] asaunier commented on #1052
Xreports are now correctly shown in the feed.

[2016-12-06 14:10] #1052 closed

[2016-12-06 16:44] asaunier commented on #981
See also http://docs.pylonsproject.org/projects/waitress/en/latest/#using-behind-a-reverse-proxy

I have noticed this suggestion at https://groups.google.com/forum/#!topic/pylons-discuss/vw7DSnG98jc
[code]
we could add to our ``production.ini`` (or ``common.ini``?) file.
@tsauerwein do you think it would work in our case?

We would have to add this config and make sure a ``X-Forwarded-Proto`` head

[2016-12-06 20:40] asaunier opened #1112 "Prevent multiple image uploads"
After dragging images to the upload panel, it is possible to click several times in a row on the "save" button. This will trigger several identical POST ``images/list`` requests to the API.

It seems that only the first one succeeds, the other returns a 500 error. Because of the image filename unicity constraint I guess. So it probably does not create duplicates in the DB.

In addition there is no

[2016-12-06 20:41] asaunier commented on #1046
First version of client resizing here: #1113

[2016-12-06 21:55] loicperrin commented on #791
So it is not blocking for GoLive, but it is "high prio" to display/edit this field.

Done in my previous comment.

[2016-12-06 22:04] loicperrin commented on #959
Fixed.

[2016-12-06 22:04] #959 closed

[2016-12-06 22:14] loicperrin opened #1114 "Missing translations"
WP:
- [x] button "Add a new route to this waypoint"

[2016-12-06 22:16] #198 closed

[2016-12-06 22:30] asaunier commented on #1114
This string should be translated in Transifex. @desnoes has done it this afternoon:

[2016-12-06 22:35] loicperrin commented on #1114
OK. I have not found it as "to be translated", so I thought that it did not exist in Transifex.

Another one (already translated for 3 months):
- [ ] when I try to create a new account, I get an english message beginning with "Registration failed:"

[2016-12-06 22:42] loicperrin commented on #945
Fixed

[2016-12-06 22:42] #945 closed

[2016-12-06 22:48] loicperrin opened #1115 "Impossible to confirm account creation"
When I create a new account, I don't receive the e-mail to validate it. Same pb if I use the function "password forgotten".
Blocking issue: users can not create accounts.

[2016-12-06 22:49] loicperrin commented on #836
I cannot test this because I am moderator and impossible to create a new account for testing (see #1115 )

[2016-12-06 22:55] loicperrin commented on #1007
Seems to be fixed.
@brunobesson @fbunoz can you confirm?

[2016-12-06 22:59] asaunier commented on #1114
Simply type (a part of) the string in the search engine of Transifex.

This string also exists in Transifex. It's the same problem than for "Login failed", see https://github.com/c2corg/v6_ui/issues/1041
and the suggested fix: https://github.com/c2corg/v6_ui/pull/1111

Since this problem is related to https://github.com/c2corg/v6_ui/issues/1041 it's more or less a duplicate, I prefer closing it ag

[2016-12-06 22:59] #1114 closed

[2016-12-06 23:03] asaunier commented on #1115
I have just tested the password resetting procedure and have actually received an email, as expected.
Perhaps look at your spam directory?

[2016-12-06 23:05] loicperrin commented on #929
I think there is really a problem with image uploading, and not only a timer pb.
I have tried to upload a 2.7 Mo image on demo -> after 30s: timeout
If I upload the same image on Imgur, it takes less than 10s (with the same internet connection of course).
So even if the timeout is higher, it is not acceptable to wait for a long time to upload 2.7 Mo images.

Do you have investigated this:

[2016-12-06 23:07] loicperrin commented on #929
Here it takes around 30s to upload the same image:
![dsc_0380](https://cloud.githubusercontent.com/assets/19718055/20947776/0f922542-bc11-11e6-821a-5897a45c3858.JPG)

[2016-12-06 23:10] fbunoz commented on #836
I tested with my non modo account : it seems correct, I can't edit or remove an association on an outings of another user, on a route or an article.

[2016-12-06 23:18] loicperrin commented on #1115
I have tested it again with another e-mail, and I have received e-mail. But I cannot change the password: message "Password could not be changed" (maybe already in another issue?).

No.

I have also tested account creation with another e-mail => mail received. But error message when I click on the confirm link:
"Your account could not be activated:
Unknown error"

[2016-12-06 23:26] loicperrin commented on #1041
I think there are other error messages with account creation that cannot be translated in Transifex.

[2016-12-06 23:30] loicperrin commented on #1115
- [ ]  I cannot change the password: message "Password could not be changed"
- [ ] error message when I click on the confirm link:
"Your account could not be activated:
Unknown error"

[2016-12-07 00:12] fbunoz commented on #1056
After association or dissociation of a route, the outing geometry is updated only if the (de)association was done in the edit form. The update is even done everytime : https://github.com/c2corg/v6_api/issues/574
Using the association tool on the read page doesn't update the geometry.

[2016-12-07 07:07] HSERGERAERT commented on #1112
Tested this morning with outing http://www.demov6.camptocamp.org/outings/828236/fr/bel-oiseau-couloir-sse.
Only the first picture was loaded, the others weren't, no link with image sizing.
I loaded successfully the first one.
Then I moved, and came back later on the outing, it wasn't possible to add pictures. Is-it the same issue ?

[2016-12-07 07:13] HSERGERAERT commented on #1115
Tested this morning. **Successful on my side**.
@loicperrin : was it working on previous version ?

[2016-12-07 08:01] dkocich commented on #1115
For me, everything (register, get and activate email, change password) was ok on demov6

[2016-12-07 08:09] #836 closed

[2016-12-07 08:16] stef74 commented on #1104
If you have a look on this image (more vertical)
![ski](https://cloud.githubusercontent.com/assets/3962997/20959856/7f1a6b44-bc5d-11e6-8c24-a069d8f7a90d.PNG)

if you have a look on original image :
http://sos.exo.io/c2corg_demov6_active/1481093802_1943988014.jpg

The rendering on feed if very strange ...

Test en 1920*1080 screen (not very big).

[2016-12-07 08:25] tsauerwein opened #1116 "Forgotten ## in simple-search for reports"
![image](https://cloud.githubusercontent.com/assets/266474/20960114/118bd138-bc5f-11e6-80a8-ab6edb16a651.png)

[2016-12-07 08:30] tsauerwein opened #1117 "Image slideshow is "moody""
Going forward and backward in the image slideshow does not work properly. When clicking on the next arrow, the next image flashes up, but then the current image is shown again.

[2016-12-07 08:33] tsauerwein commented on #981
This seems to work correctly on the production site. E.g. https://www.camptocamp.org/waypoints/38970 is redirected to https://www.camptocamp.org/waypoints/38970/fr/mont-pelvoux-pointe-puiseux

[2016-12-07 08:43] stef74 commented on #1104
Quality if image (large screen)
Oginal Format image

[2016-12-07 08:46] brunobesson opened #1119 "Selecting a GPX file for a route or an outing only works once"
If you reinit the geometry, then select a file again, it is not taken into account.

Steps to reproduce:

* start the creation of an outing or a route
* select GPX file
* map is updated
* click on reinit button
* upload file again
* map isn't updated, and new geometry is ignored when saving

This seems to be related to the secodn upload only, other combinations are OK (drawing geo first, then uplo

[2016-12-07 08:46] ginold commented on #1104
Keep in mind that the images in the feed and the original images are not the same! original are.. original - nearly no changes to the quality and dimensions. The images in the feed are much smaller and of poorer quality.

[2016-12-07 08:46] brunobesson commented on #1007
Yes, it works. We can close the issue.

However, I think there are 2 other issues we can open:

* removing an existing geometry does not seem possible currently? (one can only reset to previous geometry). @loicperrin @asaunier what do you think?
* if I edit or create an outing, add a geometry from GPX file, then reinitialize it an select a file again, it is does not work anymore > #1119

[2016-12-07 08:46] stef74 commented on #1115
Tested ... but not work !
On creation page : unknown error

[2016-12-07 08:49] stef74 commented on #1115
If I try to resubmit the form ... user/email allready exist ! but no email. Test with my profesionnal email.

[2016-12-07 09:01] #1116 closed

[2016-12-07 09:02] stef74 commented on #1104
yes I know but if it's smaller normally the quality are not be worst. In last case the croping approach is very strange.
An option can be add black (or withe) zone like 16/9 film if image not fit the same format.
Square format is probaly also most adapt in many case.

[2016-12-07 09:08] #1073 closed

[2016-12-07 09:09] stef74 commented on #1007
I close please open the new issue.

[2016-12-07 09:09] #1007 closed

[2016-12-07 09:10] stef74 commented on #1053
@desnoes @loicperrin @fbunoz please test and close

[2016-12-07 09:12] stef74 commented on #1070
it's ok

[2016-12-07 09:12] #1070 closed

[2016-12-07 09:18] fbunoz commented on #1117
I see also this behavior, which is a bit random : sometime it's work correctly, sometime not.

More over, on desktop it would be better that a click on a large part of right or left image goes to the next/perv image, instead of clicking only on the small arrow. the keyboard arrow work also, but sometime we use the keyboard, or the mouse.

[2016-12-07 09:26] brunobesson commented on #1007
@stef74 please read carefully my comment:

* I have created an issue for the second point
* I requested feedback on whether or not the first point should be an issue. Because in v5 the ability to clear a geometry is reserved to moderators, and moderator tools are targeted for a 6.X release, I'm not sure it is pertinent to open an issue.

[2016-12-07 09:28] asaunier commented on #1007
Not sure this feature is available or even listed yet. Feel free to open an issue, it will then be discussed possibly for a future release.

[2016-12-07 09:31] brunobesson opened #1120 "Geometry for an outing/route cannot be reset"
There is currently no way to reset the geometry of a route or outing.
When doing this, the default centroid (or whatever strategy is used currently) should be applied again.

In V5, this action is reserved to moderators. Should we open this to all users? IMHO, yes.

See also #1056

[2016-12-07 09:32] brunobesson commented on #1007
I created #1120 for the first point.

[2016-12-07 09:59] tsauerwein commented on #1117
Please open a separate issue for that.

[2016-12-07 10:01] stef74 commented on #690
@ginold when do you think is ready ?

[2016-12-07 10:10] asaunier commented on #1117
Please note it is possible to drag the image with the mouse cursor to the right or to the left. It's 2016, people no longer click, they drag :P

[2016-12-07 10:30] asaunier commented on #981
Not sure it works because of the changes I did in the redirecting tool though.
I guess there's a global http to https redirection that is configured on the prod.
For instance http://www.camptocamp.org/ automatically redirects to https://www.camptocamp.org/

[2016-12-07 10:31] #1117 closed

[2016-12-07 10:41] asaunier commented on #1115
I have tested:
* on demov6: password change and also account creation: worked as expected
* on the future prod: password change: worked as expected.

[2016-12-07 10:53] asaunier commented on #1112
@HSERGERAERT I have not been able to reproduce the behaviour you describe on demov6, including with a normal (not moderator) account. No problem to load images, including in several times, opening another page in the meantime etc.

Clicking several times on the "save" button does what I have described above: images are saved only once, the subsequent requests fails with a 500 error, which is actua

[2016-12-07 11:00] stef74 commented on #1115
The problem if user have issue ... no contact information are provided. It's good idea to add a link to contact article. (the contact link in menu is too tiny to be visible ...)

[2016-12-07 11:33] asaunier commented on #1115
On the future prod I have just tried to create a new account: I have received the validation email but clicking on the link returned an error because of Discourse (which seems not correctly configured on the prod):

![sans titre2](https://cloud.githubusercontent.com/assets/1192331/20966167/5bf058b0-bc79-11e6-801a-a57b758cf9fd.png)

[2016-12-07 12:08] asaunier commented on #849
Minimal changes have been made in #1109
The issue should remain open anyway but could be postpone to another milestone.

[2016-12-07 12:25] HSERGERAERT commented on #1112
@asaunier : test made right now, it works.

[2016-12-07 13:02] asaunier opened #1123 "In prod the redirection after authenticating does not work"
For instance open https://www.camptocamp.org/routes/54613/fr/dent-blanche-arete-w-arete-de-ferpecle as guest > click the login button > login > no redirection to the original page

OK on demov6

[2016-12-07 13:09] loicperrin commented on #1115
To be more precise: I can change my password if I am loggued in and I use the "Mon compte" form. But I get this error when using the function "password forgotten" and clicking on the received link (https://www.demov6.camptocamp.org/auth#change_password=newpass_0c0a23df963cc9948e4caf83e10c9b635f079a2668738b5cb03b29cfb0643075)

Hereafter is the link I have finally received 4 hours after request to a

[2016-12-07 13:13] stef74 commented on #1115
I suspect is related to some mailbox

Could you test on production ? (i have send you the acces)

[2016-12-07 13:23] desnoes opened #1125 "Impossible to add comments"
I am not able to add a comment on any document (outing, route) on the demo version. [edit: on the prod too]
I did not find any issue concerning this point. If it is not relevant => close the issue.

[2016-12-07 13:28] stef74 commented on #1115
I have tested email config ... some improvement is needed
http://www.mail-tester.com/web-cwgux

I check if production is better

[2016-12-07 13:34] ginold commented on #690
I have just finished my work. Everyone who is interested in how it could look like please see https://github.com/c2corg/v6_ui/pull/1124

[2016-12-07 13:38] desnoes opened #1126 "WP creation (weather station and webcam)"
I create a WP for a weather station. If i forgot to add the url, it is not possible to complete the creation because this field is missing (normal). However, there is no warning message telling this information. This kind of message is displayed when the altitude is missing.
Minor bug.

Same behavior with a webcam

[2016-12-07 13:42] asaunier commented on #1125
Could you precise what is the problem, what you do and what happens?

I have just tested on the demo: adding a comment seems to work except that my browser has blocked the popup that is opened when clicking the "add a comment" button. Then it's not possible to press the button again ("topic id already exists") until the page is reloaded.

Relying on a popup is not a very satisfaying/user friendly

[2016-12-07 13:46] brunobesson commented on #1125
It's even horrific :wink:
I thought that would be solved for GoLive (but didn't inspect it, it was so obvious for me, my bad).

[2016-12-07 13:46] stef74 commented on #1115
production : http://www.mail-tester.com/web-898o6

[2016-12-07 13:54] #842 closed

[2016-12-07 13:55] arnaud-morvan opened #1127 "Infinite loop when logging out from forum."
When we logout from the forum, we are redirected to https://www.camptocamp.org/auth-sso?logout
And browser loop on refreshing the page.

[2016-12-07 14:02] asaunier commented on #1127
Same problem on https://www.demov6.camptocamp.org/

But it works normally with the http URL: https://www.demov6.camptocamp.org/

When logging out from https://forum.demov6.camptocamp.org/
one is redirected to http://www.demov6.camptocamp.org/auth-sso?logout (http, not https)
Shouldn't it redirect to https://www.demov6.camptocamp.org/auth-sso?logout (https!)?

[2016-12-07 14:10] tsauerwein commented on #1127
Isn't this configured in the Discourse settings?

[2016-12-07 14:17] HSERGERAERT opened #1128 "Issue on Prod site - Comments on outings cannot be added"
I use the following outing
https://www.camptocamp.org/outings/471244/fr/la-bastille-guy-pape

I try to add a comment, I get the following error message : **Topic already exists : 471244_fr**

Next test, outing https://forum.camptocamp.org/t/660519-fr/173223. I have been able to add a comment but don't see the comment linked to the outing.

[2016-12-07 14:17] stef74 commented on #1115
If you have look on more impacting point :
[ ] -1.246		RCVD_IN_BL_SPAMCOP_NET sparkpost is in blacklist nothing do on our side
[ ] -2.749		TVD_SPACE_RATIO_MINFP ... https://wiki.apache.org/spamassassin/Rules/TVD_SPACE_RATIO "it's the ratio of spaces to non-spaces in each paragraph. apparently messages where generally there are lots of spaces mean the message is spam."
[ ] You do not have a DMARC r

[2016-12-07 14:18] asaunier commented on #1127
Perhaps this is not related to the infinite loop. As reported by @arnaud-morvan in prod it loops on https://www.camptocamp.org/auth-sso?logout

Perhaps in prod we have the https page because http redirections to https are forced (HSTS?)?

[2016-12-07 14:19] tsauerwein commented on #1127
I also have the infinite loop on localhost. PR is coming.

[2016-12-07 14:20] asaunier commented on #1123
I guess it was temporary. It seems to work now (?).

[2016-12-07 14:20] #1123 closed

[2016-12-07 14:21] asaunier commented on #1128
Duplicate of this issue @desnoes has created a bit earlier: https://github.com/c2corg/v6_ui/issues/1125

[2016-12-07 14:21] #1128 closed

[2016-12-07 14:22] tsauerwein commented on #1127
In prod it works correctly, the redirect is made to https://www.camptocamp.org/auth-sso?logout

[2016-12-07 14:23] ginold commented on #1125
It should at least reload the comments section with the button "Demarrer la discussion", this would be 'nearly' obvious to click there next. I can have a look and try to do at least this.

[2016-12-07 14:31] asaunier commented on #1115
What am I supposed to do? :p
I won't change all the email contents before the golive. And to add what?
All contents are available here: https://github.com/c2corg/v6_api/tree/master/c2corg_api/emails/i18n/fr

[2016-12-07 14:34] stef74 commented on #1115
Based sur spamAssassin filetring :

[2016-12-07 14:36] asaunier commented on #1115
I don't think we can remove spaces in https://github.com/c2corg/v6_api/blob/master/c2corg_api/emails/i18n/fr/registration_body or https://github.com/c2corg/v6_api/blob/master/c2corg_api/emails/i18n/fr/password_change_body :)

[2016-12-07 14:44] #1127 closed

[2016-12-07 14:45] arnaud-morvan commented on #1127
I've changed the settings in discourse to use HTTPS for login/logout

[2016-12-07 14:47] tsauerwein commented on #1127
Thanks!

[2016-12-07 15:33] asaunier opened #1130 "Weird sorting of outings when filtering on title"
Tested on the prod
When no filter outings are sorted newer date first (modulo the columns issue).
If applying a filter such as activity, it's still the case.

If I add a title filter, the sorting looks no longer consistent:
![sans titre](https://cloud.githubusercontent.com/assets/1192331/20973953/dfa7a1f6-bc9a-11e6-9ccb-b02fcfdfa2fe.png)

[2016-12-07 15:36] tsauerwein commented on #1130
If you are searching with a title, the results are sorted by a relevance score for the search term.

[2016-12-07 15:53] asaunier opened #1131 "z-index problem with the geosearch tool / baselayer selector"
![sans titre](https://cloud.githubusercontent.com/assets/1192331/20974748/8b6be1da-bc9d-11e6-90ae-63c31f0c7c11.png)

[2016-12-07 16:08] desnoes commented on #1125
This is exactly what i've got. I think we will have many problem with users (like me !) that don't figure out there is a popup for the comments.

[2016-12-07 16:50] tsauerwein opened #1132 "Advertisement images should use HTTPS"
Some of the banner images of the advertisement service are not using HTTPS:

[2016-12-07 16:58] asaunier commented on #1132
OK thanks. I have made sure the adserver uses https URLs for the banner images and will send a reminder to the advertisement team.

[2016-12-07 16:58] #1132 closed

[2016-12-07 19:22] mgerbaux commented on #929
On prod server, during image uploading process, when clicking on the button "enregistrer", i get the following message : "please consult the server logs : unexpected error".
and process failed…

[2016-12-07 19:46] stef74 commented on #981
All link are correctly set in https (profil, menu, internal link)

[2016-12-07 19:46] #981 closed

[2016-12-07 20:01] stef74 opened #1133 "Search extension possibility"
To be completed

Add more search possibility

- [ ] search on my outing only (checkbox)
- [ ] search on route I have allready take ... or not

[2016-12-07 20:04] HSERGERAERT commented on #1125
I made a successful test.
Correct, we have to access the popup, one time. I don't see a problem.
Can we close the issue ?

[2016-12-07 20:13] HSERGERAERT opened #1134 "Prod - upload of picture is not working"
I made test to link pictures to a profile, or to an outing, I always get the message "unexpected error".
(I have seen a similar issue from Martin but can't find it)

[2016-12-07 20:15] stef74 commented on #1125
I have identified on safari the first pop up doesn't appear ... to solve i have authorized pop-up bu in safari by defaut is blocked.
We have to communicate on this point ... pop up must be authorized for camptocamp.org

[2016-12-07 20:16] asaunier commented on #1134
Martin has reported the problem here: https://github.com/c2corg/v6_ui/issues/929#issuecomment-265545710

I don't close the issue because it's probably a distinct problem.

[2016-12-07 20:16] stef74 commented on #1134
but we can merge in one issue ...

[2016-12-07 20:18] asaunier commented on #1134
I would prefer not. As I said it's probably 2 different issues, as a result 2 different solutions to bring.

[2016-12-07 20:20] HSERGERAERT commented on #1134
Do you need details (profile or outing) ? or do you have the same issue yourself ?
Image was 65 ko
https://www.camptocamp.org/outings/510181/fr/bel-oiseau-couloir-sse-en-boucle-par-le-col-de-bel-oiseau#/&gid=1&pid=4

[2016-12-07 20:21] HSERGERAERT commented on #1125
Same on Chrome, by default it's locked

[2016-12-07 20:22] HSERGERAERT commented on #1125
You can authorize pop-up only for www.camptocamp.org, at least on Chrome

[2016-12-07 20:37] asaunier commented on #1134
I had the same problem uploading an image on an outing, but I don't really have more info than you.

The image upload seems to work but the API request fails with error:
[code]
The request payload seems OK (all data including filename from the image backend are provide).
Looking at the logs is required, I don't really know how to do it on the new infra.

[2016-12-07 21:32] HSERGERAERT commented on #1134
@asaunier @mfournier @stef74
Agreement with status Blocking and Go-live, Hope infra has a hint how to solve this issue

[2016-12-07 22:46] loicperrin commented on #1115
Both problems seem do not appear in production

[2016-12-07 22:57] loicperrin commented on #1053
Fixed

[2016-12-07 22:57] #1053 closed

[2016-12-07 23:18] loicperrin opened #1135 "Calendar to choose outing date cannot be translated"
The calendar used to choose the date of an outing is in english. Is it possible to translate it?

[2016-12-07 23:37] loicperrin commented on #1134
Same pb, error "please consult the server logs : unexpected error" when uploading an image on an outing (after manuel resizing to 500 ko)

[2016-12-07 23:40] loicperrin commented on #929
and process failed…

Seems to be a different pb.
I have also seen it, but before I have always error when uploading a 2 Mo image. If I resize it to 500 ko I can upload it, but I get "please consult the server logs : unexpected error" when trying to save.

[2016-12-08 06:50] stef74 commented on #1115
I close and open a ticket just for DMARC

[2016-12-08 06:50] #1115 closed

[2016-12-08 06:52] stef74 opened #1136 "Add DMARC record"
To improve deliverability add DMARC reccord

ANtispam test for prod : http://www.mail-tester.com/web-898o6

See original discussion #1115

[2016-12-08 07:26] fbunoz commented on #1127
I had always the problem on the demo after each demo update.
I changed the url to add the https, and it worked correctly.
But at the next update, it was returned to http, and I should make the change again.
I don't know where was the default config defined, but it was wrong.

[2016-12-08 07:43] fbunoz commented on #690
I just give an example of what will be visible on prod today on a 1280px width screen :

![sorties_v6](https://cloud.githubusercontent.com/assets/3902555/21001641/eb11ed26-bd21-11e6-8d83-6d4e75320cda.png)

The cutted box disappear with [this CSS](#issuecomment-263139791).

[2016-12-08 08:17] tsauerwein commented on #1134
The public address `images.camptocamp.org` is used, which is not yet available. We should use the internal address of the image service for the API config.

[2016-12-08 09:34] asaunier commented on #1134
Changes have been made and I have succeeded in uploading an image to a route.

[2016-12-08 09:34] #1134 closed

[2016-12-08 09:40] ginold commented on #690
Please wait for my work to be merged, it will surely be today and available on the site soon after.

[2016-12-08 10:05] stef74 opened #1137 "Missing recentering tools in mobile maps"
On mobile we don't have recentring tools on the map.

[2016-12-08 10:07] brunobesson opened #1138 "Outing cards: tooltip for max elevation is centerd on whole card width"
![toto](https://cloud.githubusercontent.com/assets/2234024/21005765/6721acee-bd36-11e6-988e-b44d18a24e08.png)

[2016-12-08 10:08] brunobesson opened #1139 "Outing cards: outings with no elevation show incomplete information"
![toto](https://cloud.githubusercontent.com/assets/2234024/21005796/8bf274f4-bd36-11e6-907f-ccb2cfa176ee.png)

The field should probably be hidden instead?

[2016-12-08 10:15] tonio opened #1140 "Cropped dropdown in following page"
In https://www.camptocamp.org/following

Parent container height isn't big enough, dropdown is cropped with a bad scroll…

![screenshot from 2016-12-08 11-11-53](https://cloud.githubusercontent.com/assets/21686/21006048/7ff2a876-bd37-11e6-9de4-a492e868a1a9.png)

[2016-12-08 10:21] stef74 opened #1141 "Sitemap in prod have an error"
I have tested the sitemap on google webmaster tools : www.camptocamp.org/sitemap.xml ... but error on date

![capture](https://cloud.githubusercontent.com/assets/3962997/21006267/696a2010-bd38-11e6-96de-3e7cce2fb897.PNG)

[2016-12-08 10:39] brunobesson opened #1142 "Users definition page: more results links doesn't work"
![toto](https://cloud.githubusercontent.com/assets/2234024/21006811/da78bf1c-bd3a-11e6-9033-fbf863646e4b.png)

The link, e.g. https://www.camptocamp.org/users#q=elsa reaches the oops page.

[2016-12-08 10:41] asaunier commented on #1142
Anyway it should not even be displayed, since it opens a new page. Which is not what we want.
Actually the "more results" link should appear only for the main simple search tool.

[2016-12-08 10:42] stef74 opened #1143 "GPX upload error"
Currently 3 outing was created without issue.

[2016-12-08 10:45] tsauerwein commented on #1143
In the logs is this error: https://github.com/c2corg/v6_api/issues/580

Would you have more information about what data was provided to create the outing? Especially what was used as geometry?

[2016-12-08 10:49] stef74 commented on #1143
That confirm geometry is the issue ... ;-)

[2016-12-08 10:49] tsauerwein commented on #1143
Could we get this GPX file to test?

[2016-12-08 11:02] stef74 commented on #1143
[2016-12-02 Pic Blanc du Galibier.zip](https://github.com/c2corg/v6_ui/files/639177/2016-12-02.Pic.Blanc.du.Galibier.zip)

[2016-12-08 11:14] brunobesson opened #1144 "Scroll in topoguide searches"
Currently, the scroll applies to both the results and the filter part.
Thus, when we scroll down, we cannot navigate within result pages (the green arrows). I feel that at least this element should remain visible.

What do you think?

[2016-12-08 11:23] ginold commented on #1137
you sure you clicked on the map button on the bottom of the page? or is it another page you are speaking of?
![screenshot from 2016-12-08 12-22-20](https://cloud.githubusercontent.com/assets/7814311/21008213/03fd7aac-bd41-11e6-807d-d51b3d25d486.png)

[2016-12-08 11:23] ginold commented on #1138
will be fixed in #1124

[2016-12-08 11:24] ginold commented on #1139
will be fixed in #1124

[2016-12-08 11:25] ginold commented on #1140
the parent div probably needs `overflow-y: visible;`

[2016-12-08 11:31] stef74 commented on #1143
I have tested to add a GPX fil on old outing ... nos issue with this one :
[chavasse.zip](https://github.com/c2corg/v6_ui/files/639251/chavasse.zip)

[2016-12-08 11:32] ginold commented on #1144
you mean that the green arrows should always be visible?
I agree, or at least put the same arrow at the end of the list.

[2016-12-08 11:33] stef74 commented on #1137
My screen (iphone5s)
![img_0867](https://cloud.githubusercontent.com/assets/3962997/21008543/757fb3a6-bd42-11e6-846e-013fa3264ceb.PNG)

[2016-12-08 11:37] brunobesson opened #1145 "In associated cards, activity is not translated"
Some examples:

* Route associated to outing
![toto](https://cloud.githubusercontent.com/assets/2234024/21008660/fa9c0954-bd42-11e6-8adf-aa47110b942d.png)
* last outings of a route
![toto2](https://cloud.githubusercontent.com/assets/2234024/21008661/fa9c5512-bd42-11e6-9ba3-47a3d2890d1e.png)

[2016-12-08 11:38] brunobesson commented on #1144
@ginold yes that's it

[2016-12-08 11:44] brunobesson opened #1146 "On user's profile page, add link to add him to ones friends"
Currently, there are many missing _shortcuts_ in V6 to ease or simplify actions.
One of them could be adding a button to add/remove a user to your friends list.

[2016-12-08 11:47] brunobesson opened #1147 "No translation for articles associated to another article"
See e.g. https://www.camptocamp.org/articles/106726

![toto](https://cloud.githubusercontent.com/assets/2234024/21008950/690ac7c6-bd44-11e6-85c7-65f1186d0fe8.png)

[2016-12-08 11:52] tsauerwein commented on #1146
Apparently the star button is not clear enough. What could we do to make it more obvious?

![image](https://cloud.githubusercontent.com/assets/266474/21009056/ec469ade-bd44-11e6-9a62-4b406d7933f1.png)

[2016-12-08 11:53] brunobesson commented on #1146
You're right, I missed it!
Don't have an answer yet, it's too new to make any suggestion.

[2016-12-08 11:54] tsauerwein commented on #1146
Maybe display it on the same line as the user name?

[2016-12-08 11:54] desnoes opened #1148 "First access (non connected mode): message error caused by the feed"
I asked a friend of mine to test the first release. She has got the following error message (Browser: safari). She does not have any account.
![telechargement](https://cloud.githubusercontent.com/assets/19892089/21009148/76d02f58-bd45-11e6-8813-6fe52cfd08da.png)

[2016-12-08 11:58] asaunier commented on #1148
Has she tried to reload the page?

Perhaps she is behind a proxy that strips some headers, as reported by @lbesson ?

[2016-12-08 12:07] tsauerwein commented on #1148
In the logs I see no problem with the feed. So that could be likely.

[2016-12-08 12:11] stef74 commented on #1125
We can close ? no action identified

[2016-12-08 12:16] stef74 commented on #929
@mfournier @asaunier timeout was increased ?

[2016-12-08 12:18] stef74 opened #1149 "More resultat in user following"
We have more result link in user search on https://www.camptocamp.org/following

But user doesn't exist in advance search ... they they return a 404.

[2016-12-08 12:20] asaunier commented on #1149
Already reported in https://github.com/c2corg/v6_ui/issues/1142

[2016-12-08 12:20] #1149 closed

[2016-12-08 12:21] asaunier commented on #929
Not yet

[2016-12-08 12:29] brunobesson commented on #1141
According to the specifications (https://www.sitemaps.org/protocol.html), there is no error there, the current values are valid W3C date and time formats (https://www.w3.org/TR/NOTE-datetime). Which online tool did you use for validation?

[2016-12-08 12:41] stef74 commented on #1141
google wbemaster tools ;-)

[2016-12-08 12:45] brunobesson opened #1150 "Many users haven't understood the outing's wizard"
Thus, many outings have only informations concerning the first page (on desktop). See e.g. https://www.camptocamp.org/outings/828389/fr/six-blanc-val-ferret-par-la-combe-n. Maybe we should disable the submit button unless on last page? But this could be applied to creation only, not edition. Or, clicking on it when not on the last wizard page goes to next page unless it's the last one?

[2016-12-08 12:53] #1041 closed

[2016-12-08 12:54] dkocich opened #1151 "Suggestions for optimization of the UI"
Please look at results of tests here if we should create fixes for smaller issues
- https://developers.google.com/speed/pagespeed/insights/?url=camptocamp.org&tab=mobile
- http://nibbler.silktide.com/en_US/reports/www.camptocamp.org
- https://gtmetrix.com/reports/camptocamp.org/hy0HqEKu

[2016-12-08 12:54] brunobesson commented on #1141
I investigated a little bit more and indeed, looks like the format for the sitemapindex file has bad `<lastmod>` values (while it is correct for sitemaps). The format is `2016-12-08T10:17:34.963608` when it should be `2016-12-08T10:17:34.963608+00:00`

[2016-12-08 13:00] asaunier commented on #1150
That's what I was afraid of and asked in this duplicate issue https://github.com/c2corg/v6_ui/issues/987
In don't think we can wait for 6.3...

[2016-12-08 13:02] stef74 commented on #1151
@mfournier gzip compression seem to be not activated

[2016-12-08 13:02] brunobesson commented on #1150
Sorry, I missed it. Closing this issue thus. But indeed, #987 should be labelled with a high priority.

[2016-12-08 13:02] #1150 closed

[2016-12-08 13:03] brunobesson commented on #987
As commented by @asaunier in #1150 maybe we should have a higher priority for this issue.

[2016-12-08 13:32] stef74 commented on #1088
#1152

[2016-12-08 13:32] #1088 closed

[2016-12-08 13:34] stef74 commented on #849
Ok for 1st approach

[2016-12-08 13:34] tsauerwein opened #1153 "Some profiles are not displayed correctly"
For example: https://www.camptocamp.org/profiles/828317/fr

The non-public part of the profile raises an error on the server-side:

[2016-12-08 13:37] HSERGERAERT commented on #1148
I already had this issue. I suppose the person already did test on demov6.
The cache might be the problem. If the person can connect then it should be solved.

@desnoes : can you confirm if the person already did test on Beta server, the one from c2c or from SA.
If yes, then we should not investigate.

[2016-12-08 13:42] tsauerwein opened #1154 "Some sitemaps can not be returned"
For example: https://www.camptocamp.org/sitemaps/m/0.xml

The API returns the data correctly: https://api.camptocamp.org/sitemaps/m/0

[2016-12-08 13:42] asaunier commented on #1088
The PR is merged but not available in prod yet.

[2016-12-08 13:43] brunobesson opened #1155 "Sitemap 501 error"
https://www.camptocamp.org/sitemaps/m/0.xml returns a 501 error.

What does `m` stands for?

[2016-12-08 13:44] tsauerwein commented on #1155
Closing as a duplicate of https://github.com/c2corg/v6_ui/issues/1154

Map.

[2016-12-08 13:44] #1155 closed

[2016-12-08 13:44] asaunier commented on #1148
Also try to clear the browser cache, just in case?

[2016-12-08 13:45] brunobesson commented on #1155
I was going to close this duplicate, your issue was created while I was editing mine!

[2016-12-08 13:47] desnoes opened #1156 "Outing creation: bug with safari"
The user told me all the pictos are overlapping (safari)=> he clicked on one picto and this has selected all activities.
https://www.camptocamp.org/outings/828399/fr/pene-det-pouri-depuis-le-virage-d-aoube
and comments
https://forum.camptocamp.org/t/828399-fr/173287

Here is his screen shot
![capture d ecran 2016-12-08 a 14 38 40](https://cloud.githubusercontent.com/assets/19892089/21012207/33dbcd

[2016-12-08 13:48] stef74 opened #1157 "Show area in outing on feed"
As in V5 we need to have the area for the outings on the feed.

[2016-12-08 13:51] asaunier commented on #1156
What version of Safari? An old one?

I'm pretty sure I have never observed this with my Safari at home. I know that @stef74 and others have tested with Safari as well.

[2016-12-08 13:53] stef74 commented on #1156
I restest this evening ... but i have not observe any issue like this on safari

[2016-12-08 13:55] ginold commented on #1150
It would perhaps be nice to have a little tutorial when you first visit the page, as done on blablacar or airbnb or other pages when they put new functionalities.

The page black outs all the background and shows step-by-step new buttons etc.

[2016-12-08 13:56] asaunier commented on #1156
I have asked for a more precise version info but the user told me that

I have recommended to upgrade.

[2016-12-08 13:58] asaunier commented on #1150
OK but that's quite a huge work I guess...

[2016-12-08 14:00] stef74 commented on #1150
A video exist ...

2016-12-08 14:58 GMT+01:00 Alex Saunier <notifications@github.com>:

[2016-12-08 14:01] HSERGERAERT commented on #1150
Does it help ?
https://drive.google.com/file/d/0ByXg-Z7AjNOYUk9BOE9uYzRZUUU/view?usp=sharing
https://drive.google.com/file/d/0ByXg-Z7AjNOYWTZUSnJKMnVDTE0/view?usp=sharing

[2016-12-08 14:05] asaunier commented on #1146
In Twitter, the follow button contains a text, not an icon. It's probably clearer.
But it means the button should be moved somewhere else.

[2016-12-08 14:13] asaunier commented on #1145
There are also some rating tooltips that are not translated (whereas they are translated in Transifex). Some others are actually translated.

Perhaps related to https://github.com/c2corg/v6_ui/issues/1147

[2016-12-08 15:11] stef74 commented on #1148
I wait @desnoes answer and probably close after

[2016-12-08 15:12] stef74 commented on #1156
I confirm if is ok this evening and probably close

[2016-12-08 16:02] asaunier opened #1158 "Add a warning in dev/demo instances?"
To avoid that someone makes test changes by mistake in the production website - or on the contrary adds real information to a dev or demo website -, it would be useful to show an obvious warning in demo websites. For instance a red banner at the top of pages?

[2016-12-08 16:04] stef74 commented on #1158
+1

[2016-12-08 16:12] asaunier commented on #1153
This profile works now, but I guess the user has added a geometry in the meantime.

I think this is a new profile, it doesn't exist in demov6.
Perhaps there is a problem in the API with new account?

I think I had tested profiles both with or without geometries and noticed no error. But that was with v5-migrated accounts.

[2016-12-08 16:50] brunobesson opened #1159 "Items on map cannot be opened in new tab"
Currently:
* right-clicking doesn't offer to open waypoint/outing/... in new tab (it's not a link)
* midlle-clicking doesn't work
* ctrl-clicking opens the waypoint/outing in current tab

It would be nice to allow these commons behaviours on desktop.

[2016-12-08 16:57] brunobesson opened #1160 "Outings advanced filter behaviour with dates"
When one selects a begin date in the filter, only outings with this date are returned. When adding an ending date, all outings between the begin and end date are returned.

Is this the desired behaviour? IMHO you never look for a precise date, so with only the begin date selected I would define a criterion "between begin date and now".

BTW, don't know if I should open another issue for this (mayb

[2016-12-08 17:03] arnaud-morvan commented on #929
We should make tests on demo server to find the expected timeout setting.

[2016-12-08 19:46] desnoes commented on #1148
She reload the page and it was ok => close the issue

[2016-12-08 19:46] #1148 closed

[2016-12-08 20:40] lbesson opened #1161 "Books section"
Suggestion (I could work on it but would like feedback first :p)

Having the books as cards is quite difficult to read, and takes a lot of place. Would it be good to put it in the left info pane?

I know this breaks the general way to display linked docs, but IMHO this would improve the readability

[2016-12-08 20:43] #1125 closed

[2016-12-08 20:44] stef74 commented on #1156
As mentionned in comments Upgrad fixe the issue

[2016-12-08 20:44] #1156 closed

[2016-12-08 20:51] stef74 commented on #1161
Could you provide example or mokup ?

[2016-12-08 20:52] stef74 commented on #1161
Laster = to be define ... if you work on it add "association"

[2016-12-08 21:08] stef74 commented on #690
Ok on safari
@loicperrin @brunobesson @desnoes could you test on other browser and close

@asaunier Probably need to push in production quickly ;-)

[2016-12-08 21:14] stef74 commented on #1046
I have try to upload 10 images ... half have timeout

[2016-12-08 21:17] stef74 commented on #1046
But no image at all in WP https://www.demov6.camptocamp.org/routes/828282/fr/jo-part-a-cetamol

[2016-12-08 21:43] mgerbaux commented on #1046
client resizing seems not to work for me… (6Mo and 8Mo  images, blocked at 14% uploading)

[2016-12-08 21:53] loicperrin commented on #690
OK on Firefox and Chrome

[2016-12-08 21:53] #690 closed

[2016-12-08 22:50] loicperrin commented on #1046
Uploading KO with the 2 images I have tried (2.7 and 2.6 Mo)

[2016-12-08 22:56] loicperrin opened #1162 "Map position is lost when changing doc type"
On routes result page, I center the map on the area where I want to find routes.
If I want to see WP/Access, I lost the previous map position when changing "route" to "WP".

[2016-12-08 22:58] loicperrin opened #1163 "Profile tool"
It would be very useful to add "profile tool" to see the profile of GPS track on outing (as in V5).

[2016-12-09 06:52] stef74 opened #1164 "Show only one feed entry per document"
According to specification https://docs.google.com/document/d/1QWQFIqSO1YVPFKCRjI7FlYsCcMPLru668u9Qj4O5npw/edit

Lot of complaint about update ... too many update.

[2016-12-09 07:45] asaunier commented on #1161
IMO, your suggestion is not going into the right directions.

All document links should be shown as cards. It's not consistent to have cards for some types and normal links for other.
It should be automatic in people's mind: cards=documents.
In addition cards are needed for mobile usage.

There are a few cases where cards are not used: users associated to an outing, regions...
But it was in my pla

[2016-12-09 07:49] lbesson commented on #1161
I understand the principle, but to be honest, as it is right now, the
"linked books" section is just completely unreadable to me :)

On Fri, Dec 9, 2016 at 8:45 AM, Alex Saunier <notifications@github.com>
wrote:

[2016-12-09 07:58] asaunier commented on #1046
The resizing dimensions and quality are probably still too big:
``{width: 4096, height: 2048, quality: 1.0}``

https://github.com/c2corg/v6_ui/blob/306abd753996259939e02599cc0f5d537d5ef256/c2corg_ui/static/partials/imageuploader.html#L12
https://github.com/c2corg/v6_ui/blob/master/c2corg_ui/static/js/imageuploader.js#L400-L402

I would suggest ``{width: 2048, height: 2048, quality: 0.9}``.
OK for

[2016-12-09 08:01] asaunier commented on #1162
A new page is loaded when changing the document type, all filters are indeed reset.
It could be possible tough when changing the page to get the bbox parameter if any and to add it to the new page URL before loading it.

[2016-12-09 08:03] asaunier commented on #1164
That's the case I think.

But uploading images or associating users to an outing are marked as updates though.
Perhaps we should make sure that the feed contains only one card for a given document at a time.

[2016-12-09 08:04] asaunier commented on #1161
Could you give an example?

[2016-12-09 08:09] lbesson commented on #1161
https://www.camptocamp.org/routes/53874/fr/la-meije-grand-pic-arete-du-promontoire-voie-normale-puis-traversee-des-aretes

Cards are huge, with very few displayed information very useful (who really
cares about the book activity, whose icons take a lot of space? Even the
book type is superfluous in that context) A picture of the book instead
would be far more useful (but I know that displaying _th

[2016-12-09 08:12] asaunier commented on #1161
OK thanks.
That's what I said: probably the content of the cards and the size of the cards are not optimal.
I think we should work on this, not changing the concept of cards.

[2016-12-09 08:13] brunobesson commented on #678
@stef74 @asaunier There are several requests from users concerning this issue. See e.g. https://forum.camptocamp.org/t/trace-gps/173369
Could the priority be adjusted regarding this?

[2016-12-09 08:19] brunobesson opened #1165 "Route creation: select the first waypoint as main waypoint by default"
Currently, no waypoint is by default the main waypoint, thus users create routes without prefixed name.

Several possibilities:
* select first waypoint as main waypoint by default. It should then removed if needed
* if no waypoint is selected when creating route, select highest one. But this causes a problem if we do not want a main waypoint, it would requires to edit afterwards
* if no waypoint i

[2016-12-09 08:23] stef74 commented on #678
Yes but we can manage all quickly ... ergonomic improvement are more or
less important ?
WICh issue can be postponed
Le ven. 9 déc. 2016 à 09:13, Bruno Besson <notifications@github.com> a
écrit :

--
Sent from Gmail Mobile

[2016-12-09 08:25] mgerbaux commented on #1058
It is now better on demo for date displaying

[2016-12-09 08:30] brunobesson commented on #678
It's only a question. I know there are so many issues, all with top priority. The goal is to sort and order them, and I mostly rely on you to do this, and support your work.
Still, as I see  several complaints about this, I wonder whether current priority is the right one, or not.

[2016-12-09 08:31] mgerbaux commented on #398
There is a strong public demand to add the area(s), at least on the cards dispayed on the activity feed.

[2016-12-09 08:34] tsauerwein commented on #398
The data is there, it only has to be shown.

[2016-12-09 08:37] ginold commented on #1159
right clicking, middle clicking and ctrl clicking are all working only if there is a link (a href).

[2016-12-09 08:44] brunobesson commented on #1159
Yeah, I know, thanks. But you're not answering the point :wink: It is - to me - a usability problem which we should try to solve one way or another. There are several technical possibilities.

[2016-12-09 08:56] HSERGERAERT opened #1166 "URL are lost if there is no word linked to an URL"
Example https://www.camptocamp.org/outings/820562/fr/sainte-baume-pic-de-bertagne-baou-de-bartagne-voie-de-la-romaine
You can see a hyperlink associated to "mon site".
Il the original outing on v5, the "mon site" wasn't there, in the outing the sentence was ""plus d'infos sur: http://sud-ascension.com/topo-bartagne/"
As there was no word in between the balise (in>out), then the link now disappears

[2016-12-09 09:02] ginold commented on #398
As for the areas, we have 3 datas, for example:

Admin limits - Pyrénées-Atlantiques
Range - Béarn - Balaïtous - Partacua
Country - France

The question is - which of them would you like to be shown? as you can see it can get pretty long, and I heard people didn't like the size of the cards already.

[2016-12-09 09:12] asaunier commented on #1166
Hervé, we are not responsible for contacting every individual. It's the association task. Not the SA's.
I have removed this user's email address because I am not sure he is OK that it's made public (at least for spam reasons).

This is a migration problem. It should have been reported before the golive. The association has failed detecting it in the demo during the test period.
Now it's too late.

[2016-12-09 09:13] mgerbaux commented on #398
As in V5 homepage : Range. if range is not available : admin limits. if admin limits is not available : country.

[2016-12-09 09:17] asaunier commented on #1166
But I am a bit surprised because I don't think we have made changes on tag such as ``[url]``. Perhaps this document was already like this in v5?
Do we really have the problem in every document containing ``[url]`` tags?

[2016-12-09 10:04] ginold commented on #398
is this info relevant for all document types ? or only for example waypoints/routes/outings ?

[2016-12-09 10:12] stef74 commented on #398
For none geometrics doc is not relevant...

Le ven. 9 déc. 2016 à 11:04, Adam Gina <notifications@github.com> a écrit :

--
Sent from Gmail Mobile

[2016-12-09 10:52] asaunier commented on #1166
@brunobesson OK thanks for the tip, you're probably right.

Instead of changing the data, perhaps it's possible to adapt or extend the BBcode parser so that this syntax is supported to.
https://github.com/dcwatson/bbcode
http://bbcode.readthedocs.io/en/latest/

[2016-12-09 11:06] asaunier commented on #1046
I have made a new PR #1168

2 changes:
* images are resized to max 2048px and with quality 90% instead of 100% => hopefully it will reduce the weight of images. But I have not been able to test yet, I still have to find big enough images :P
* resizing is triggered only if the image is bigger the 2 MB, I have dropped the width/height constraint. This way a panorama of 10000 x 200px will be uploaded

[2016-12-09 11:08] mgerbaux commented on #1046
yes for me

[2016-12-09 11:19] asaunier commented on #1046
OK I have just tested my PR with images from 4 to 20 MB, the results are pretty good.
One improvement that could be added: until the image is actually resized client-side, nothing is shown in the upload interface, one can think nothing happens and upload the image again (but it's still pretty fast on my PC with the 20MB image).
It would be useful to show the image upload bar (with no overview unti

[2016-12-09 12:50] brunobesson opened #1169 "Syncer needs to be more verbose and recover automatically from error conditions"
See https://forum.camptocamp.org/t/le-point-lac-destom-napparait-pas-en-recherche-ni-dans-le-topoguide/173500/3 and https://www.camptocamp.org/waypoints/829217/fr/lac-d-estom.

[2016-12-09 13:46] HSERGERAERT commented on #1166
I thought my initial explaination was clear enough, it wasn't :(
Thanks Bruno.
Answer made to the user. I close the ticket

[2016-12-09 13:46] asaunier opened #1170 "Broken buttons layout in followed users list"
Not in prod yet, but can be seen in demov6.

The "follow" / "unfollow" buttons in the list of followed users are no longer shown inside the user cards. I will have a look if this can be fixed easily.

![sans titre](https://cloud.githubusercontent.com/assets/1192331/21048073/9a8aa798-be0d-11e6-8472-551a7a99de2d.png)

Buttons should be shown inside the cards to take less space and because they are o

[2016-12-09 13:46] #1166 closed

[2016-12-09 14:11] asaunier commented on #1169
Probably related to redis disponibility problems observed those time and preventing the ES index syncer from doing its job.

[2016-12-09 14:15] brunobesson commented on #1169
Is there an action to be done on your side?

[2016-12-09 14:51] brunobesson opened #1172 "Accident reports associated to an outing isn't listed in the outing"
See e.g. https://www.camptocamp.org/xreports/762685/fr/chute-dans-les-grands-couloirs-a-la-grande-casse and https://www.camptocamp.org/outings/762647/fr/grande-casse-couloir-des-italiens-greater-grands-couloirs

Note that the associated outing appears correctly in the report.

[2016-12-09 14:54] brunobesson opened #1174 "Comments on xreports"
When there's no comment, still the comment section on xreport contains one comment (although it's the "system" one). Should something similar to what is done in the outings applied?

See e.g. https://www.camptocamp.org/xreports/820364/fr/balles-perdues-a-presles

![toto](https://cloud.githubusercontent.com/assets/2234024/21052979/c17909b6-be27-11e6-8f7d-3ec476b75d02.png)

[2016-12-09 15:47] brunobesson commented on #1172
This bug was easy to fix! :+1:

[2016-12-09 15:49] stef74 commented on #1164
is an un update ?

[2016-12-09 15:51] tsauerwein commented on #1164
Patrick Vuilleumier added photos and also created this route?

[2016-12-09 16:02] brunobesson opened #1176 "Images: UI must use date and time instead of date"
* On image page, date and time only displays date
* When editing, this is a date selector and not a date and time selector

[2016-12-09 16:03] brunobesson opened #1177 "Images are not ordered by date"
In an outing or wherever applies, images should be sorted by date, or by default, by id.

[2016-12-10 08:42] fbunoz commented on #1176
It is a big bug : the Exif time is not stored.

- [From the API](https://api.camptocamp.org/images/829497), the time is 2016-12-07T00:00:00+00:00
- But in the Exif ([in the Jpeg](https://media.camptocamp.org/c2corg_active/1481324429_523379614.jpg)), the time is : 2016-12-07 15:01:57

In an image doc from the V5, the time has been migrated correctly.
To correct the time, after fixed the bug, we nee

[2016-12-10 09:45] desnoes commented on #1164
Yes, when a user upload its image one by one, the result is awful on the feed.

[2016-12-10 11:01] mfournier commented on #1151
@stef74 @dkocich I activated this on the demo server. Waiting for feedback on this before updating this in production. nb: it's a trivial haproxy config, no code change, so no need to wait for 6.1 to enable this.

[2016-12-10 11:52] lbesson opened #1178 "Missing URL attribute is not reported when editing a weather station or webcam"
I tried to change "[Balise nivose de Bonnepierre](https://www.camptocamp.org/waypoints/130274/fr/balise-nivose-de-bonnepierre)" to meteo station type, but I'm unable to validate the edition  and the UI doesn't explicit what prevents the submission

[2016-12-10 12:07] desnoes opened #1179 "Search: problem with filters (value selection on mobile)"
I found a big problem for the search, which is mainly apparent with a mobile (galaxy J5, lastest version of Android).

When i open all the filters, i have the following initial state
![initial state](https://cloud.githubusercontent.com/assets/19892089/21073174/5add235c-bed8-11e6-8bc2-f7e874c97e5b.jpg)

Then, i want to modify one parameter, for instance 'altitude maximale'. I had many difficulty an

[2016-12-10 12:15] lbesson commented on #1163
Is it something that will be done by the SA? I would be interested to work on it if not.

[2016-12-10 12:18] lbesson opened #1180 "Prerender image dimensions"
https://www.camptocamp.org/images

Images load creates a lot of flickering. Are the image dimensions still stored in v6 and could it be returned by the API? This way, image thumbnails could be pre-sized thus avoiding the rather annoying flicker.

[2016-12-10 12:26] HSERGERAERT commented on #1163
Hi @lbesson , clearly not in the actual contract of the SA, it's an extra request. We would love that you take care of the demand.

[2016-12-10 13:18] lbesson commented on #1163
Is there currently a way to retrieve the gpx / coordinates from the api?

[2016-12-10 13:57] lbesson opened #1181 "Wrong field title for height in image pages"
Field says "elevation" instead of "height"

![2016-12-10](https://cloud.githubusercontent.com/assets/127776/21073796/c88e326e-bee8-11e6-91aa-1dce78bf3bef.png)

[2016-12-10 16:08] lbesson opened #1182 "Image titles are not shown on Firefox with pswp"
This works on Chrome

[2016-12-10 16:24] lbesson commented on #1181
the height key is translated by ~elevation but in that case it is the image height

either we should introduce a new key, or if height is used only in that context, change the translation in all languages

[2016-12-10 16:36] lbesson commented on #1181
According to transifex this is used in image pages and in filters for climbing sites. In both cases "hauteur" would be more appropriate, so I would suggest to update the translations in all languages accordingly

[2016-12-10 16:39] lbesson commented on #1181
Any way there might be some confusions on other places between altitude and height, see for example https://www.camptocamp.org/waypoints/808947/fr/annot-offwidth-paradise "Altitude min/max" is probably wrong. Also the "height" filter should be checked

[2016-12-10 16:46] asaunier commented on #1180
There have been changes on the cards columns, it's available in the demo but not in prod yet.
Now all images cards are squared, thus have a fixed size.

[2016-12-10 16:58] asaunier commented on #1181
It's a translation error in Transifex, isn't it?
``height`` should be translated to ``hauteur``, not ``altitude``.

Not sure github issues are the right place to report translation errors since most translators don't use github. In addition I have the feeling it pollutes "dev" issues and make the report system harder to use.

Isn't there a ticketing system in Transifex? I know it's possible to mak

[2016-12-11 09:24] brunobesson commented on #1182
I'd this related to https://forum.camptocamp.org/t/donnees-iptc-des-images-non-prises-en-compte/173517/6?u=b_b  our should I open another issue?